@use '../../../easings' as easings;
@use '../../../queries' as queries;
@use '@angular/material' as mat;

@keyframes grid-element-fade-in {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

:host {
  position: relative;
  animation: grid-element-fade-in 1s ease-out 1 0s both;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: lightgray;
  overflow: hidden;
}

.media-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .media {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.entity-type {
  color: white;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 2rem;
  font-size: 1rem;
  padding: 0.2rem 0.1rem 0.2rem 0.2rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  transition: border-radius 1s ease;

  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }

  @include queries.small() {
    display: none;
  }
}

.title {
  height: 2rem;
  font-size: 14px;
  text-decoration: none;
  z-index: 20;
  color: #333;
  position: relative;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  flex-shrink: 0;
  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    transition: transform 500ms easings.$easeOutQuint;
    background: #00afe7;
    border-radius: 0.25rem;
    transform: scaleX(0);
  }

  .element-name {
    font-weight: bold;
    text-align: left;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
  }

  .annotation-counter {
    color: lightgray;
    display: flex;
    align-items: center;
    gap: 3px;
    mat-icon {
      font-size: 25px;
    }

    span {
      font-size: 16px;
    }
  }
}

.private {
  background: lightgray;
}

.private .annotation-counter,
.private .annotation-counter mat-icon {
  color: #fff !important;
  fill: #fff !important;
}

:host:hover {
  .title:after {
    transform: scaleX(0.6);
  }
  .image,
  .images {
    &:hover:before {
      clip-path: circle(100%);
    }
  }
}

.private-overlay {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  z-index: 10;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  user-select: none;
}
