@if (element(); as element) {
  <!-- Default behaviour: Navigate to element when clicked -->
  @if (element | isEntity) {
    <app-entity-media-container [element]="element" [link]="!disableNavigationOnClick()" />
  } @else {
    <app-collection-media-container [element]="element" [link]="!disableNavigationOnClick()" />
  }
  <div class="title" [class.private]="isPrivate()">
    <div class="element-name">
      {{ element.name }}
    </div>
    @if (element | isEntity) {
      <div class="annotation-counter">
        <mat-icon class="material-symbols-filled"> location_on </mat-icon>
        <span>{{ annotationCount() }}</span>
      </div>
    }
    @if (!(element | isEntity)) {
      <div class="annotation-counter">
        <mat-icon class="material-symbols-filled">deployed_code</mat-icon>
        <span>{{ entitiesCount() }}</span>
      </div>
    }
  </div>

  @if (isPrivate()) {
    <div class="private-overlay">
      <span>Private</span>
      <mat-icon class="material-symbols-filled">public_off</mat-icon>
    </div>
  }

  <!-- Optional behaviour: Ignore clicks on element (e.g. on profile page) -->
}
