@use '../../../easings' as easings;
@use '@angular/material' as mat;
@import '../../../breakpoints';

@keyframes grid-element-fade-in {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

:host {
  --media-element-height: calc(100% - 48px);
  position: relative;
  animation: grid-element-fade-in 1s ease-out 1 0s both;
  display: grid;
  grid-template-rows: var(--media-element-height) 48px;
  grid-auto-columns: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: lightgray;
  overflow: hidden;

  app-collection-media-container,
  app-entity-media-container,
  app-group-media-container {
    aspect-ratio: 449 / 252;
    width: 100%;
    height: 100%;
  }
}

/* To discuss: */
:host(:hover) {
  box-shadow: 0 8px 16px 0 rgba(0, 4, 12, 0.4);
}

.media-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .media {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.entity-type {
  color: white;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 2rem;
  font-size: 1rem;
  padding: 0.2rem 0.1rem 0.2rem 0.2rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  transition: border-radius 1s ease;

  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }

  @include max-width(s) {
    display: none;
  }
}

.private-overlay {
  display: flex;
  flex-direction: column;
  gap: 8px;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--media-element-height);
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  z-index: 10;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  user-select: none;
}
