@if (element(); as element) {
  @if (element | isEntity) {
    <app-entity-media-container
      [element]="element"
      [matTooltip]="'Double click to view object' | translate"
      [matTooltipShowDelay]="500"
    />
    <app-title-container
      [element]="element"
      [icon]="'location_on'"
      [count]="annotationCount()"
      iconStyle="filled"
    />
  }
  @if (element | isCompilation) {
    <app-collection-media-container
      [element]="element"
      [matTooltip]="'Double click to view collection' | translate"
      [matTooltipShowDelay]="500"
    />
    <app-title-container
      [element]="element"
      [icon]="'deployed_code'"
      [count]="entitiesCount()"
      iconStyle="filled"
    />
  }

  @if (isPrivate()) {
    <div class="private-overlay">
      <span>Private</span>
      <mat-icon class="material-symbols-filled">public_off</mat-icon>
    </div>
  }
}

<ng-content />
