@use '@angular/material' as mat;
@use 'src/theme.scss' as theme;

.close-dialog-button {
  position: absolute;
  background-color: transparent;
  color: #444;
  right: 0;
  margin: 0;

  transition: color 250ms ease;
  &:hover {
    color: mat.m2-get-color-from-palette(theme.$kompakkt-accent, 500);
  }
}

.dialog-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .dialog-title {
    margin: 0;
  }
}

::ng-deep {
  .mdc-dialog__container {
    border-radius: 0.5rem;
    position: relative;
    padding: 2rem;
    max-height: 95vh !important;
  }

  .mat-horizontal-content-container {
    padding: 0 !important;
  }

  .mat-horizontal-stepper-header-container {
    width: fit-content;
    margin: 16px auto;
    gap: 24px;
    --mat-stepper-header-label-text-size: 14px !important;
    --mat-stepper-header-selected-state-label-text-size: 14px !important;
    .mat-horizontal-stepper-header {
      height: 4rem;
      margin: unset;
      border-radius: 0.5rem !important;
      user-select: none;
      padding: 0 8px;
      background-color: white;

      .mat-step-label {
        text-align: center;
        transition:
          background 500ms,
          color 500ms;
      }

      &:hover,
      &:focus,
      &:focus-within,
      &.cdk-keyboard-focused {
        background-color: #f0f0f0 !important;
      }
    }
    .mat-stepper-horizontal-line {
      display: none;
    }
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}
