@use '~@angular/material' as mat;
@import 'src/theme.scss';

.close-dialog-button {
  position: absolute;
  background-color: transparent;
  color: #444;
  right: 3rem;
  top: 1.2rem;
  margin: 0;

  transform: translateX(50%);
  transition: color 250ms ease;

  &:hover {
    color: mat.get-color-from-palette($kompakkt-warn, 500);
  }
}

/**
 * This puts the title of the wizard outside of the container
 */
.dialog-title {
  position: fixed;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: 900;
  font-size: 3rem;
  filter: drop-shadow(0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5));
  margin: 0;
  margin-top: -7.5rem;
}

@keyframes fade-in-dialog-title-wrapper {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dialog-title-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  pointer-events: none;
  animation: fade-in-dialog-title-wrapper 1s 1s ease both;
}

::ng-deep {
  .mat-dialog-container {
    border-radius: 0.5rem;
    position: relative;
    padding: 2rem;
    max-height: 80vh !important;
  }

  .mat-horizontal-content-container {
    padding: 0 !important;
  }

  .mat-horizontal-stepper-header-container {
    // margin: 0 10rem;
    width: 80%;
    margin: 1rem auto;
    .mat-horizontal-stepper-header {
      height: 4rem;
      margin: unset;
      border-radius: 0.5rem;
      user-select: none;
      padding: 0 min(1rem, 0.5vw);

      .mat-step-icon {
        display: none;
      }

      .mat-step-label {
        text-align: center;
        transition: background 500ms, color 500ms;
      }

      &[aria-selected='true'] {
        background: mat.get-color-from-palette($kompakkt-primary, 500);
        .mat-step-label {
          color: white;
        }
      }
    }
    .mat-stepper-horizontal-line {
      min-width: unset;
      margin: 1rem;
    }
  }
}
