@use 'src/queries';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin options-column($size) {
  div.options,
  div.options.entity {
    grid-template-columns: repeat($size, 1fr);
  }
}

form {
  display: inline-flex;
  min-width: min(80vw, 800px);
  flex-direction: column;
  align-items: stretch;
  margin: 1rem;
  padding: 0.5rem 2rem;

  border-radius: 1rem;
  background: white;
  box-shadow: 1rem 1rem 3rem #d9d9d9, -1rem -1rem 3rem white;

  div.query mat-form-field {
    width: 100%;
  }

  div.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;

    &.entity {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @include queries.medium {
    @include options-column(2);
  }

  @include queries.small {
    @include options-column(1);

    box-shadow: unset;
    padding: 1rem;
    margin: 0;
    width: 100%;
  }
}
