<div>
  <p [class]="isPhysical() ? 'metadata-header-physical' : 'metadata-header-digital'">
    {{ 'External links' | translate }}
  </p>
  <app-outlined-input
    type="text"
    label="{{ 'Description' | translate }}"
    placeholder="{{ 'Enter a description' | translate }}"
    [formControl]="descriptionControl"
  />
  <app-outlined-input
    type="text"
    label="{{ 'URL' | translate }}"
    placeholder="{{ 'Enter an URL' | translate }}"
    [formControl]="valueControl"
  />
</div>
<div class="meta-button">
  <button
    mat-flat-button
    color="primary"
    [disabled]="!(isLinkDataValid$ | async)"
    (click)="addNewLinkData()"
  >
    Add
  </button>
</div>

@if (!isPhysical()) {
  <mat-divider />
}

<app-optional-card-list [optionalData]="entity().externalLink" [propertyType]="'link'" />
