<div>
    <mat-form-field>
    <mat-label>{{ 'Description' | translate }}</mat-label>
    <input
        matInput
        type="text"
        name="description"
        placeholder="{{ 'Enter a description' | translate }}"
        [formControl]="descriptionControl"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'Value' | translate }}</mat-label>
        <input
        matInput
        type="text"
        name="value"
        placeholder="{{ 'Enter a value' | translate }}"
        [formControl]="valueControl"
        />
    </mat-form-field>
</div>
<div class="meta-button">
    <button
      mat-flat-button
      color="primary"
      [disabled]="!isLinkDataValid"
      (click)="addNewLinkData()"
      >
      Add
    </button>
  </div>