:host {
  width: 100%;
  height: auto;
  display: block;
}

img {
  width: inherit;
  height: inherit;
  object-fit: inherit;
  object-position: inherit;
  overflow: inherit;
  border-radius: inherit;
  display: block;
  transition: opacity 280ms;
}
