:host {
  width: 100%;
  height: auto;
  display: block;
}

img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  display: block;
  transition: opacity 280ms;
  opacity: 0;
  &.loaded {
    transition: unset;
    opacity: 1;
  }
}
