<div class="content">
  <h1>Contact</h1>
  Kompakkt is being developed at the
  <p>
    <a href="http://dh.uni-koeln.de">Department of Digital Humanities</a><br />
    University of Cologne<br />
    Albertus-Magnus-Platz<br />
    50931 Köln<br /><br />
    <a href="mailto:info@kompakkt.de">info@kompakkt.de</a>
  </p>

  <h2>Kompakkt Team</h2>
  <p>
    Zoe Schubert&nbsp;
    <a href="https://github.com/ZetOE">
      <img src="assets/icons/GitHub-Mark-32px.png" height="15px" alt="GitHub" />
    </a>
    <br />
    Kai Niebes&nbsp;
    <a href="https://github.com/HeyItsBATMAN">
      <img src="assets/icons/GitHub-Mark-32px.png" height="15px" alt="GitHub" />
    </a>
    <br />
    <a href="https://jan-wieners.de">Jan G. Wieners</a>&nbsp;
    <a href="https://github.com/janwieners">
      <img src="assets/icons/GitHub-Mark-32px.png" height="15px" alt="GitHub" />
    </a>
  </p>
</div>
