@use './detail-style.scss' as ds;

:host {
  @include ds.detail-host;
}

.block {
  @include ds.root-block;
}

#mediatype-counter {
  cursor: help;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: flex-start;
  grid-gap: 1rem;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#annotation-counter {
  display: flex;
  align-items: center;
  cursor: help;
  * {
    padding-right: 0.5rem;
  }
}

#collection-objects {
  .mat-list-item,
  .mat-list-option {
    height: 30px !important;
  }
}
