p,h2,h3,h1 {
    margin: 0;
    padding: 0;
}

:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 64px 32px;
}

.grid-container{
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr;
    gap: 90px;
    max-width: 1280px;
    padding: 64px;
}

.list, .contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;

    & + .list {
        margin-top: 16px;
    }
}

img.team-logo {
    margin-bottom: 16px;
}

.grid-row-title{
  h2 {
    font-size: 24px;
    font-weight: 700;
    text-wrap: wrap;
    text-align: right;
  }

  position: relative;
  padding: 16px 0;
  &::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: var(--brand-color);
    top: 0;
    right: 0;
  }
}

.grid-row-content{
  &.span-2{
    grid-column: span 2;
  }
}

h3{
    font-size: 16px;
    font-weight: 700;
}

.contact-info{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
