<mat-toolbar id="actionbar">
    <!-- Login/Registration -->
    <div *ngIf="!isAuthenticated">
        <button mat-flat-button
                color="primary"
                (click)="openLoginDialog()"
                matTooltip="Login to your Kompakkt account. You can also login using a University of Cologne account."
                >
                <mat-icon>perm_identity</mat-icon>
                Login
        </button>
        <button mat-flat-button
                color="primary"
                (click)="openRegisterDialog()"
                matTooltip="Create a new account. You can also login using a University of Cologne account.">
                <mat-icon>how_to_reg</mat-icon>
                Register
        </button>
    </div>
    <!-- Entity/Compilation creation -->
    <div *ngIf="isAuthenticated">
        <button *ngIf="!isUploader()"
                mat-flat-button
                color="primary"
                (click)="openUploadApplication()">Request upload capabilities
        </button>
        <ng-container *ngIf="isUploader()">
            <button mat-flat-button
                    color="primary"
                    (click)="openEntityCreation()">
                    <mat-icon>insert_drive_file</mat-icon>
                    New Object
            </button>
            <button mat-flat-button
                    color="primary"
                    (click)="openCompilationCreation()">
                    <mat-icon>collections</mat-icon>
                    New Collection
            </button>
        </ng-container>
    </div>
    <!-- Filtering -->
    <div *ngIf="showFilters" class="container">
        <form>
            <mat-form-field>
                <input matInput placeholder="Search in Objects & Compilations." name="search-text"
                       [(ngModel)]="searchText" (ngModelChange)="searchTextChanged()">
            </mat-form-field>
        </form>
        <div>
            Objects
            <mat-slide-toggle
                    color="primary"
                    [checked]="showCompilations"
                    (change)="toggleSlide()"
                    [matTooltip]="'Click to switch to ' + (showCompilations ? 'Objects' : 'Collections')"
                    >
            </mat-slide-toggle>
            Collections
        </div>
        <mat-form-field *ngIf="!showCompilations">
            <mat-label>Media Types</mat-label>
            <mat-select multiple
                        [formControl]="mediaTypesSelected"
                        [value]="mediaTypesSelected"
                        matTooltip="Kompakkt supports more than just 3D models. Select what kind of media you'd like to see."
                        (selectionChange)="updateMediaTypeOptions($event)">
                <mat-option *ngFor="let option of mediaTypesOptions"
                            [value]="option.value">{{ option.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Filter Options</mat-label>
            <mat-select multiple
                        [formControl]="filterTypesSelected"
                        [value]="filterTypesSelected"
                        matTooltip="Filter the results"
                        (selectionChange)="updateFilterTypeOptions($event)">
                <mat-option *ngFor="let option of getFilterTypeOptions()"
                            [value]="option.value"
                            [matTooltip]="option.help"
                            matTooltipPosition="above">
                    {{ option.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- Quick actions -->
    <div id="quick-actions">
        <!-- TODO: Simplify conditionals -->
        <!-- Explore Collections with Object -->
        <div *ngIf="element && showUsesInCollection" [matTooltip]="selectHistory.usedInCompilations.compilations.length === 0 ? 'This object is not used in any collection.' : 'Explore collections containing this object.'" >
            <button [disabled]="selectHistory.usedInCompilations.compilations.length === 0" mat-icon-button [matMenuTriggerFor]="usedInCompilationsMenu">
              <mat-icon>playlist_add_check</mat-icon>
            </button>
        </div>
        <!-- View Selection History -->
        <div *ngIf="selectHistory.history.length > 0">
            <button matTooltip="View your history." [disabled]="selectHistory.history.length === 0" mat-icon-button [matMenuTriggerFor]="selectionHistory">
              <mat-icon>history</mat-icon>
            </button>
        </div>
        <!-- Switch to annotation mode -->
        <div *ngIf="showAnnotateButton" [matTooltip]="allowAnnotating ? 'Annotate' : 'You are not allowed to annotate right now.'">
            <button mat-icon-button
                [disabled]="!allowAnnotating || !element"
                [routerLink]="getAnnotateLink()"
                >
                <mat-icon>bookmarks</mat-icon>
            </button>
        </div>
        <!-- Edit Entity settings -->
        <div *ngIf="showEditButton && isEntity(element) && allowEditing" matTooltip="Adjust the viewer settings, metadata or visibility of this object.">
            <button mat-icon-button [matMenuTriggerFor]="editMenu">
              <mat-icon>edit</mat-icon>
            </button>
        </div>
        <!-- Edit collection -->
        <div *ngIf="showEditButton && isCompilation(element) && allowEditing" matTooltip="Edit this collection.">
            <button mat-icon-button (click)="editCompilation()">
              <mat-icon>edit</mat-icon>
            </button>
        </div>
        <!-- Edit permissions -->
        <div *ngIf="showEditButton && !allowEditing" matTooltip="Only the object owner is able to edit settings of this object.">
            <button mat-icon-button disabled>
              <mat-icon>edit</mat-icon>
            </button>
        </div>
        <!-- Quick add entity to compilation -->
        <div *ngIf="isAuthenticated && isEntity(element)" matTooltip="Use this object in a collection">
            <button mat-icon-button [matMenuTriggerFor]="quickAddToCollectionMenu">
                <mat-icon>move_to_inbox</mat-icon>
            </button>
        </div>
    </div>
    <!-- Publishing option -->
    <div *ngIf="isAuthenticated && allowEditing && isEntity(element)">
        <button mat-flat-button
                *ngIf="!isPublished"
                color="accent"
                matTooltip="This object is currently hidden from the public. Click to publish!"
                (click)="togglePublished()">
                <mat-icon>publish</mat-icon>
                Publish!
        </button>
        <button mat-flat-button
                *ngIf="isPublished && isEntity(element)"
                color="accent"
                matTooltip="This object is currently open to the public. Click to unpublish!"
                (click)="togglePublished()">
                <mat-icon>flip_to_back</mat-icon>
                Unpublish
        </button>
    </div>
</mat-toolbar>

<mat-menu #usedInCompilationsMenu="matMenu">
  <button class="used-in-collections-button" *ngFor="let compilation of selectHistory.usedInCompilations.compilations" mat-menu-item (click)="navigate(compilation)">
        <p style="margin: 0">
            <mat-icon matTooltip="View collection">
                folder_special
            </mat-icon>
            <mat-icon *ngIf="isRecentlyAnnotated(compilation)" matTooltip="The current object has been recently annotated in this collection.">access_time</mat-icon>
            <mat-icon *ngIf="isAnnotatedInCompilation(compilation)" matTooltip="The current object is annotated in this collection.">
                label
            </mat-icon>
            {{ compilation.name }}
        </p>
  </button>
</mat-menu>

<mat-menu #selectionHistory="matMenu">
  <button class="history-button" *ngFor="let element of selectHistory.history" mat-menu-item (click)="navigate(element)">
        <mat-icon *ngIf="isEntity(element)" matTooltip="View object.">
            insert_drive_file
        </mat-icon>
        <mat-icon *ngIf="isCompilation(element)" matTooltip="View compilation.">
            folder_special
        </mat-icon>
        <p>{{ element.name }}</p>
  </button>
</mat-menu>

<mat-menu #editMenu="matMenu">
    <!-- TODO: Maybe change viewer mode? -->
    <button mat-menu-item (click)="editSettingsInViewer()">Viewer settings</button>
    <button mat-menu-item (click)="editMetadata()">Metadata</button>
    <button mat-menu-item (click)="editVisibility()">Visibility</button>
</mat-menu>

<mat-menu #quickAddToCollectionMenu="matMenu">
    <button class="quick-add-button" mat-button
            (click)="openCompilationWizard()"
            fxLayout="row" fxLayoutAlign="start center">
            <mat-icon color="primary">create_new_folder</mat-icon>
            <span>New collection with this object</span>
    </button>
    <ng-container *ngIf="getUserCompilations().length > 0">
        <button class="quick-add-button" *ngFor="let compilation of getUserCompilations()" mat-button (click)="quickAddToCompilation(compilation)">
            {{ compilation.name }}
        </button>
    </ng-container>
</mat-menu>
