@import '../../styles/breakpoints';

#actionbar {
  width: 100%;
  position: sticky;
  font-size: 14px;

  background-color: #fff;
  border-bottom: 2px solid #eee;
  z-index: 998;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px;

  padding: 0 32px;

  @include max-width(s) {
    flex-flow: row wrap;
    justify-content: center;
    height: fit-content;
    padding: 8px 16px;
  }

  button {
    font-size: 14px;
    font-weight: 400;
    border-radius: 25px;
    letter-spacing: normal;

    .mat-icon {
      font-size: 24px;
      width: 24px;
      height: 24px;
    }
  }

  .mat-mdc-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 40px !important;
    height: 40px !important;
    vertical-align: middle;
    text-align: center;
    padding: 0;
  }

  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    width: 32px !important;
    height: 32px !important;
  }
}

.margin-right {
  margin-right: 15px;
}

.container {
  padding-top: 10px;
}
