@use '../../../queries' as queries;

#actionbar {
  width: 100%;
  position: sticky;
  font-size: 14px;

  padding-left: 30px;

  background-color: #fff;
  border-bottom: 2px solid #eee;
  z-index: 998;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: end;

  padding-right: 32px;

  .mat-mdc-menu-content, .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
    font-size: 14px !important;
    letter-spacing: normal;
  }

  button {
    font-size: 14px;
    font-weight: 400;
    border-radius: 25px;
    letter-spacing: normal;

    .mat-icon {
      font-size: 24px;
      width: 24px;
      height: 24px;
      }
  }

  @include queries.less-than-large() {
    display: none;
  }

  > #quick-actions {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .mat-mdc-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: green !important;
    font-size: 16px;
    width: 40px !important;
    height: 40px !important;
    vertical-align: middle;
    text-align: center;
    padding: 0;

    .mat-icon {
      //color: white;
    }
  }

  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    //background-color: green !important;
    width: 32px !important;
    height: 32px !important;
  }

}

.margin-right {
  margin-right: 15px;
}

.container {
  padding-top: 10px;
  
}

.quick-add-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-weight: 400;
  // mat-icon {
  //   margin-right: 0.3rem;
  // }

  .mdc-button__label {
    text-align: start;
  }
}

.button-row .mat-icon {
  padding-left: auto;
  padding-right: auto;
}

.button-row {
  .mdc-button {
    min-width: 0;
  }
  .mat-mdc-unelevated-button {
    padding: 0 8px;
  }
}

.button-row .mat-mdc-unelevated-button>.mat-icon {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

