#actionbar {
  width: 100%;
  position: sticky;
  font-size: 12px;

  background-color: #fff;
  border-bottom: 2px solid #eee;
  z-index: 998;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 1024px) {
    display: none;
  }

  > #quick-actions {
    display: flex;
  }
}

.margin-right {
  margin-right: 15px;
}

.history-button {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.container {
  padding-top: 10px;
}

.quick-add-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-weight: 400;
  mat-icon {
    margin-right: 0.3rem;
  }
}
