.entity-entry {
  padding: 15px;
}

.entity-type {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 33px;
  background-color: #fff;
  font-size: 11px;
  padding: 6px 5px 1px 5px;
  border-top-left-radius: 5px;

  color: #00afe7;
  text-transform: capitalize;
  font-weight: normal;
  display: flex;
  justify-content: flex-end;
  vertical-align: middle !important;
}

.entity-type .material-icons {
  font-size: 18px;
}

.entity-type .type-text {
  padding-top: 1px;
}

/* Grid Styles */
.grid-container img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

/* hover styles */
.grid-container .grid-item {
  position: relative;
  overflow: hidden;

  transition: box-shadow 0.3s ease-in;

  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.grid-container .grid-item.selected {
  border: 2px solid #00afe7;
}

.grid-container .grid-item:hover {
  box-shadow: 0 .28571rem .85714rem 0 rgba(0, 0, 0, .3);
}

.grid-container .image {
  line-height: 0;
  overflow: hidden;
}

.grid-container .image img {
  transform: scale(1.1);
  margin-top: -17px;
  margin-bottom: 15px;
  margin-left: -10px;
  width: 105%;
}

.grid-container .title {
  font-size: 0.9em;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #333;
  background-color: #fff;
  padding: 7px 7px 7px 10px;
  width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* for touch screen devices */
@media (hover: none) {
  .grid-container .title {
    opacity: 1;
  }
  .grid-container .image img {
    filter: blur(2px);
  }
}

/* Entity Details Sidenav */
.sidebar {
  width: 0;
  right: 25px;
  position: fixed;
  overflow-x: hidden;
  background-color: #fff;
}

.sidebar.sidebar-expanded {
  width: 25%;
}

#main.sidebar-expanded {
  margin-right: 25%;
  padding-right: 65px;
}

.sidebar-expanded .entity-details {
  overflow: hidden;
  overflow-y: auto;
}

.sidebar-expanded .entity-details .grid-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.sidebar-expanded .collection-details {
}

@media screen and (max-height: 450px) {
}
