<div id="fixed-navigation">
    <nav id="actionbar">
        <ul>
            <ng-container *ngIf="isAuthenticated">
                <ng-container *ngIf="!isUploader()">
                    <li>
                        <button mat-flat-button
                                color="primary"
                                (click)="openUploadApplication()">Request upload capabilities
                        </button>
                    </li>
                </ng-container>
                <ng-container *ngIf="isUploader()">
                    <li>
                        <button mat-flat-button
                                color="primary"
                                (click)="openEntityCreation()">New Entity
                        </button>
                    </li>
                    <li>
                        <button mat-flat-button
                                color="primary"
                                (click)="openCompilationCreation()">New Collection
                        </button>
                    </li>
                </ng-container>
            </ng-container>
            <li>
                <form>
                    <mat-form-field>
                        <input matInput placeholder="Search in Objects & Collections" name="search-text"
                               [(ngModel)]="searchText">
                    </mat-form-field>
                </form>
            </li>
            <li>
                <mat-checkbox color="primary"
                              [checked]="showCollections"
                              (change)="showCollections = !showCollections">Collections
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox color="primary"
                              [checked]="showEntities"
                              (change)="showEntities = !showEntities">Objects
                </mat-checkbox>
            </li>
            <li>
                <mat-form-field>
                    <mat-label>Media Types</mat-label>
                    <mat-select [formControl]="mediaTypes" multiple [(ngModel)]="selected">
                        <mat-option (onSelectionChange)="model = !model"
                                    value="showModels">3D Models
                        </mat-option>
                        <mat-option (onSelectionChange)="image = !image"
                                    value="showImages">Image
                        </mat-option>
                        <mat-option (onSelectionChange)="audio = !audio"
                                    value="showAudio">Audio
                        </mat-option>
                        <mat-option (onSelectionChange)="video = !video"
                                    value="showVideo">Video
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </li>
            <li>
                <mat-checkbox color="primary"
                              [checked]="annotated"
                              (change)="annotated = !annotated">Only Annotated
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox color="primary"
                              [checked]="showOnlyAnnotatable"
                              (change)="showOnlyAnnotatable = !showOnlyAnnotatable">Only Annotatable
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox color="primary"
                              [checked]="restricted"
                              (change)="restricted = !restricted">Only Restricted
                </mat-checkbox>
            </li>
            <li *ngIf="showEntities && !showCollections">
                <mat-checkbox color="primary"
                              [checked]="userPlaysRole"
                              (change)="userPlaysRole = !userPlaysRole">I Play a Role
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox color="primary"
                              [checked]="showOnlyMine"
                              (change)="showOnlyMine = !showOnlyMine">Only mine
                </mat-checkbox>
            <li>
            <li *ngIf="showOnlyMine">
                <mat-checkbox color="primary"
                              (change)="filter.unpublished = !filter.unpublished; updateFilter();"
                              [checked]="filter.unpublished">Unpublished
                </mat-checkbox>
            </li>
            <li *ngIf="showOnlyMine">
                <mat-checkbox color="primary"
                              [checked]="filter.unfinished"
                              (change)="filter.unfinished = !filter.unfinished; updateFilter();">Unfinished
                </mat-checkbox>
            </li>
        </ul>
    </nav>
</div>

<section class="content with-subnav"
         fxFlex
         fxLayout="column">

    <div class="sidebar"
         [ngClass]="{'sidebar-expanded': selectedEntity}">

        <button mat-icon-button
                class="close-sidebar-button"
                (click)="closeSidebar()">
            <mat-icon>close</mat-icon>
        </button>

        <!-- Entity Detail View -->
        <div *ngIf="selectedEntity && !selectedEntity.entities"
             class="entity-details">

            <div clasS="explore-grid">
                <div class="grid-item">
                    <app-entity-interaction-menu [id]="selectedEntity._id"></app-entity-interaction-menu>
                    <div (click)="select(selectedEntity)">
                        <div class="image">
                            <img [src]="selectedEntity.settings.preview"
                                 alt="{{selectedEntity.name}}">
                        </div>
                        <div class="entity-type">
                            <mat-icon>{{icons[selectedEntity.mediaType]}}</mat-icon>
                            <span class="type-text">{{ selectedEntity.mediaType }}</span>
                        </div>
                        <div class="title">
                            <div class="titlewrapper">
                                {{ selectedEntity.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Details</h2>
            <h3>{{selectedEntity.name}}</h3>
            <p>{{selectedEntity.relatedDigitalEntity.description}}</p>

            <h2>Licensing</h2>
            {{selectedEntity.relatedDigitalEntity.licence}}

            <h2>Kompakkt Infos</h2>
            <ul>
                <li>ID: {{selectedEntity._id}}</li>
                <li>Created: n</li>
                <li>Used in n Collections</li>
                <li>Has n Annotations</li>
                <li>Connected to n Objects in Kompakkt</li>
            </ul>
        </div>

        <!-- Collection Details -->
        <div *ngIf="selectedEntity && selectedEntity.entities"
             class="entity-details collection-details">
            <h1>{{selectedEntity.name}}</h1>
            <p [innerHTML]="selectedEntity.description"></p>
            <h3>{{selectedEntity.entities.length}} Objects in Collection</h3>
            <div class="explore-grid">
                <ng-container *ngFor="let entity of selectedEntity.entities">
                    <div class="grid-item">
                        <app-entity-interaction-menu [id]="entity._id"></app-entity-interaction-menu>
                        <div class="image">
                            <img [src]="entity.settings.preview"
                                 alt="{{entity.name}}">
                        </div>
                        <div class="entity-type">
                            <mat-icon>{{icons[entity.mediaType]}}</mat-icon>
                            <span class="type-text">{{ entity.mediaType }}</span>
                        </div>
                        <div class="title">
                            <div class="titlewrapper">
                                {{ entity.name }}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

    </div>

    <div class="explore-grid"
         id="main"
         [ngClass]="{'sidebar-expanded': selectedEntity}">

        <!-- General Entities -->
        <ng-container *ngFor="let entity of generalEntities
                | entitiesfilter:annotated:restricted:model:image:audio:video:searchText:true">
            <div class="grid-item"
                 *ngIf="showEntities && !showOnlyMine"
                 [ngClass]="{'selected': selectedEntity._id === entity._id}">
                <app-entity-interaction-menu [id]="entity._id"></app-entity-interaction-menu>
                <div (click)="select(entity)">
                    <div class="image">
                        <img [src]="entity.settings.preview"
                             alt="{{entity.name}}">
                    </div>
                    <div class="entity-type">
                        <mat-icon>{{icons[entity.mediaType]}}</mat-icon>
                        <span class="type-text">{{ entity.mediaType }}</span>
                    </div>
                    <div class="title">
                        <div class="titlewrapper">
                            {{ entity.name }}
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- /General Entities -->

        <!-- Collections -->
        <ng-container *ngFor="let collection of generalCompilations
                | entitiesfilter:annotated:restricted:model:image:audio:video:searchText:false">
            <div class="grid-item"
                 *ngIf="showCollections && !showOnlyMine"
                 [ngClass]="{'selected': selectedEntity._id === collection._id}">
                <app-entity-interaction-menu [id]="collection._id" [isEntity]="false"></app-entity-interaction-menu>
                <div (click)="select(collection)">
                    <div class="image">
                        <img [src]="collection.entities[0].settings.preview"
                             alt="{{collection.name}}">
                    </div>
                    <div class="entity-type">
                        <mat-icon>{{icons.collection}}</mat-icon>
                        <span class="type-text">Collection</span>
                    </div>
                    <div class="title">
                        <div class="titlewrapper">
                            {{ collection.name }}
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- /Collections -->

        <!-- Personal Entities -->
        <ng-container *ngFor="let entity of personalEntities
                | entitiesfilter:annotated:restricted:model:image:audio:video:searchText:true">
            <div class="grid-item"
                 *ngIf="!showEntities && showOnlyMine"
                 [ngClass]="{'selected': selectedEntity._id === entity._id}">
                <app-entity-interaction-menu [id]="entity._id"></app-entity-interaction-menu>
                <div (click)="select(entity)">
                    <div class="image">
                        <img [src]="entity.settings.preview"
                             alt="{{entity.name}}">
                    </div>
                    <div class="entity-type">
                        <mat-icon>{{icons[entity.mediaType]}}</mat-icon>
                        <span class="type-text">{{ entity.mediaType }}</span>
                    </div>
                    <div class="title">
                        <div class="titlewrapper">
                            {{ entity.name }}
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- /Personal Entities -->

    </div>

</section>
