mat-card img {
  object-fit: cover;
  object-position: 50% 25%;
}

.entity-entry {
  padding: 15px;
}

mat-card-title {
  font-size: .8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card.selected {
  border: 3px solid #00afe7;
}

mat-card-title .entity-type {
  color: #00afe7;
  text-transform: capitalize;
  font-weight: normal;
  display: flex;
  justify-content: flex-end;
  vertical-align: middle !important;
}

mat-card-title .entity-type .material-icons {
  font-size: 18px;
}

mat-card-title .entity-type .type-text {
  padding-top: 1px;
}
