@import 'src/app/styles/wizard-stepper';

button.mat-mdc-unelevated-button {
  margin: 0.2rem 2rem;
}

mat-form-field {
  width: 100% !important;
}

.cdk-drag {
  position: relative;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
}

.paginator {
  display: grid;
  grid-template-columns: 1fr auto;
}

#container {
  max-width: 70rem;
}
