@import '../../styles/wizard-stepper';

button.mat-mdc-unelevated-button {
  margin: 0.2rem 2rem;
}

mat-form-field {
  width: 100% !important;
}

.cdk-drag {
  position: relative;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
}

.paginator {
  display: grid;
  grid-template-columns: 1fr auto;
}

#container {
  max-width: 70rem;
}

.grid-item {
  width: 200px;
}

.entity-grid {
  grid-template-columns: repeat(5, 1fr);
}

.actionbutton {
  display: grid;
  place-items: center;
  width: 16px !important;
  height: 16px !important;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  align-content: center;
  .material-icons {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}
