<div class="content" id="container" [class.content]="!dialogRef">
  <div class="dialog-title-wrapper">
    <h3 class="dialog-title">Edit a Compilation</h3>

    <button
      *ngIf="dialogRef"
      mat-icon-button
      class="close-dialog-button"
      (click)="dialogRef.close(undefined)"
      tabindex="-1"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <h3 *ngIf="isLoading">Waiting for data from server</h3>

  <div [class.detail-block]="!dialogRef" [class.disabled]="isLoading">
    <mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="stepInteraction($event)">
      <mat-step label="Naming" [completed]="namingValid">
        <p class="metadata-nested">
          Collections in Kompakkt describe a conglomeration of objects and allow a group of users,
          which you can select, to annotate objects in relation to the collection. Your collection
          <strong>needs</strong> both a name and a description.
        </p>

        <div class="metadata-nested">
          <mat-form-field>
            <input placeholder="Title" name="name" matInput required [formControl]="name" />
          </mat-form-field>
          <mat-form-field>
            <textarea
              placeholder="Description"
              name="description"
              matInput
              required
              [formControl]="description"
            ></textarea>
          </mat-form-field>
        </div>

        <div class="metadata-nested">
          <p>
            By locking your collection with a passcode it will be hidden from public and users
            trying to access by any means will be asked for the passcode before gaining access. You
            can change this anytime.
          </p>
          <mat-form-field>
            <input
              placeholder="Passcode (optional)"
              name="passcode"
              matInput
              [formControl]="password"
            />
          </mat-form-field>
        </div>

        <div class="button-row">
          <button mat-flat-button color="primary" matStepperNext [disabled]="!namingValid">
            Next
          </button>
        </div>
      </mat-step>
      <mat-step
        label="Select objects"
        #stepEntities
        [completed]="(entitiesValid$ | async) && stepEntities.interacted"
      >
        <p>
          Add objects to your collection by searching through available objects and adding them.
        </p>
        <div class="object-selection">
          <div class="paginator">
            <mat-form-field>
              <input
                placeholder="Search the available objects in Kompakt"
                name="search-text"
                matInput
                [formControl]="searchText"
              />
            </mat-form-field>

            <mat-paginator
              [length]="paginatorLength"
              [pageSize]="paginatorPageSize"
              [pageSizeOptions]="[20]"
              (page)="changePage($event)"
              [pageIndex]="paginatorPageIndex"
            >
            </mat-paginator>
          </div>

          <div class="left">
            <h3>Available in Kompakkt</h3>
            <small>Click to add to collection</small>
            <div class="entity-list">
              <app-grid-element
                *ngFor="let entity of availableEntities$ | async"
                [element]="entity"
                [disableTypeInfo]="false"
                [disableNavigationOnClick]="true"
                (click)="selectEntity(entity, $event)"
              ></app-grid-element>
            </div>
          </div>

          <div class="divider">
            <mat-icon color="primary">sync_alt</mat-icon>
          </div>

          <div class="right">
            <div class="row-with-undo-icon">
              <h3>In your collection</h3>
              <button
                mat-icon-button
                matTooltip="Undo"
                [disabled]="(undoHistory$ | async)?.length === 0"
                (click)="undo()"
              >
                <mat-icon>undo</mat-icon>
              </button>
              <small>Click to remove from collection</small>
            </div>
            <div class="entity-list">
              <app-grid-element
                *ngFor="let entity of selectedEntities$ | async"
                [element]="entity"
                [disableTypeInfo]="false"
                [disableNavigationOnClick]="true"
                (click)="deselectEntity(entity, $event)"
              ></app-grid-element>
            </div>
          </div>
        </div>

        <div class="button-row">
          <button mat-flat-button matStepperPrevious>Previous</button>
          <button
            mat-flat-button
            color="primary"
            matStepperNext
            [disabled]="!(entitiesValid$ | async)"
          >
            Next
          </button>
        </div>
      </mat-step>
      <mat-step label="Annotation access" #stepAccess [completed]="stepAccess.interacted">
        <p class="metadata-nested">
          <i>Only you</i> are able to add annotations to objects in your collection by default. You
          can broaden access by choosing a different mode below.
        </p>

        <div class="annotation-access-row metadata-nested" *ngIf="accessMode$ | async as mode">
          <div [class.selected]="mode === 'solo'" (click)="accessMode$.next('solo')">
            <mat-icon>person</mat-icon>
            <span>Only you can annotate</span>
          </div>
          <div [class.selected]="mode === 'everyone'" (click)="accessMode$.next('everyone')">
            <mat-icon>group</mat-icon>
            <span>Everyone can annotate</span>
          </div>
          <div [class.selected]="mode === 'limited'" (click)="accessMode$.next('limited')">
            <mat-icon>person_search</mat-icon>
            <span>Select who can annotate</span>
          </div>
        </div>

        <p *ngIf="(limitedAccess$ | async) && (accessMode$ | async) !== 'limited'">
          Selected persons and groups will be discarded with this setting.
        </p>

        <div [class.disabled]="(accessMode$ | async) !== 'limited'" class="annotation-access-grid">
          <div class="metadata-nested">
            <h3>Persons</h3>

            <mat-form-field>
              <input
                placeholder="Search for a person to add"
                name="search-person"
                matInput
                [formControl]="searchPersonCtrl"
                [matAutocomplete]="personAutocomplete"
              />
            </mat-form-field>

            <mat-autocomplete
              #personAutocomplete="matAutocomplete"
              (optionSelected)="selectAutocompletePerson($event)"
            >
              <mat-option *ngFor="let person of filteredPersons$ | async" [value]="person">
                {{ person.fullname + ' - ' + person.username }}
              </mat-option>
            </mat-autocomplete>
            <ng-container *ngIf="whitelistedPersons$ | async as persons">
              <small *ngIf="persons.length > 0; else noPersons">Click a person to remove</small>
              <ng-template #noPersons>
                <small>No persons selected</small>
              </ng-template>
              <mat-chip-list>
                <mat-chip *ngFor="let person of persons" (click)="removePerson(person)">
                  {{ person.fullname + ' - ' + person.username }}
                </mat-chip>
              </mat-chip-list>
            </ng-container>
          </div>

          <div class="metadata-nested">
            <h3>Groups</h3>

            <mat-form-field>
              <input
                placeholder="Search for a group to add"
                name="search-group"
                matInput
                [formControl]="searchGroupCtrl"
                [matAutocomplete]="groupAutocomplete"
              />
            </mat-form-field>
            <mat-autocomplete
              #groupAutocomplete="matAutocomplete"
              (optionSelected)="selectAutocompleteGroup($event)"
            >
              <mat-option *ngFor="let group of filteredGroups$ | async" [value]="group">
                {{ group.name }}
              </mat-option>
            </mat-autocomplete>
            <ng-container *ngIf="whitelistedGroups$ | async as groups">
              <small *ngIf="groups.length > 0; else noGroups">Click a group to remove</small>
              <ng-template #noGroups>
                <small>No groups selected</small>
              </ng-template>
              <mat-chip-list>
                <mat-chip *ngFor="let group of groups" (click)="removeGroup(group)">
                  {{ group.name }}
                </mat-chip>
              </mat-chip-list>
            </ng-container>
          </div>
        </div>

        <div class="button-row">
          <button mat-flat-button matStepperPrevious>Previous</button>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Finish" #stepFinish [completed]="isSubmitted && stepFinish.interacted">
        <p class="metadata-nested">
          Please take a look at your collection and check if everything is in order before
          submitting. You can adjust your collection anytime on your profile page.
        </p>

        <div class="metadata-nested">
          <h2>Title</h2>
          <h3>{{ name.value }}</h3>

          <h2>Description</h2>
          <h3>{{ description.value }}</h3>
        </div>

        <div class="metadata-nested">
          <ng-container *ngIf="password.value !== ''; else noPassword">
            <h2>Passcode</h2>
            <h3>{{ password.value }}</h3>
            <p>
              <b>You</b> can always access your collections, but other users will need the passcode.
            </p>
          </ng-container>
          <ng-template #noPassword>
            <p>You have <b>not</b> set a passcode, resulting in your collection being public.</p>
          </ng-template>
        </div>

        <div class="metadata-nested">
          <h2>Annotation access</h2>
          <ng-container *ngIf="whitelistEnabled; else whitelistDisabled">
            <ng-container *ngIf="limitedAccess$ | async; else everyoneCanAccess">
              <p>You and the persons and/or groups below can annotate:</p>
              <mat-chip-list *ngIf="whitelistedGroups$ | async as groups">
                <mat-chip *ngFor="let group of groups">
                  {{ group.name }}
                </mat-chip>
              </mat-chip-list>
              <mat-chip-list *ngIf="whitelistedPersons$ | async as persons">
                <mat-chip *ngFor="let person of persons">
                  {{ person.fullname + ' - ' + person.username }}
                </mat-chip>
              </mat-chip-list>
            </ng-container>
            <ng-template #everyoneCanAccess>
              <p><b>Everyone</b> can annotate.</p>
            </ng-template>
          </ng-container>
          <ng-template #whitelistDisabled>
            <p>Only <b>you</b> can annotate.</p>
          </ng-template>
        </div>

        <div class="metadata-nested">
          <h2>Objects</h2>

          <div class="entity-grid">
            <div *ngFor="let entity of selectedEntities$ | async" class="grid-item">
              <app-grid-element
                [element]="entity"
                [disableTypeInfo]="true"
                [disableNavigationOnClick]="true"
              ></app-grid-element>
            </div>
          </div>
        </div>

        <div class="button-row">
          <button
            #finishButton
            mat-flat-button
            (click)="tryFinish(stepper, stepFinish)"
            [disabled]="isSubmitting || isSubmitted"
            color="primary"
          >
            Submit
          </button>
        </div>
      </mat-step>
      <mat-step label="Success" #stepSuccess>
        <h3>Your collection has been submitted and saved!</h3>
        <h4>Feel free to leave this page.</h4>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
