<div class="entity-grid"
     id="main">

    <ng-container *ngFor="let entity of entities">
        <div class="grid-item">
            <app-entity-interaction-menu [id]="entity._id"></app-entity-interaction-menu>
            <div class="image">
                <img [src]="entity.settings.preview"
                     alt="{{entity.name}}">
            </div>
            <div class="entity-type">
                <mat-icon>{{icons[entity.mediaType]}}</mat-icon>
                <span class="type-text">{{ entity.mediaType }}</span>
            </div>
            <div class="title">
                <div class="titlewrapper">
                    {{ entity.name }}
                </div>
            </div>
        </div>
    </ng-container>
</div>
