:host {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  padding: 32px;

  flex-direction: column;
  align-items: stretch;
  gap: 24px;

  > div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }

  h1,
  h2,
  p {
    margin: 0;
  }

  h2 {
    font-size: 16px;
    font-weight: 700;
  }
}

.button-row {
  display: flex;
  gap: 8px;
}

div.group-grid {
  display: grid;
  gap: 12px;
}
