<h1>Collaborate</h1>

<div>
  <h2>What are groups?</h2>
  <p>
    You can easily collaborate with your team or your students when managing annotations and
    collections of objects if you create a dedicated group. Groups allow you to manage access rights
    across multiple registered users. Regular group members receive annotation access for
    objects/collections associated with the group. Group owners receive annotation access and can
    add/remove other group members. Groups can also be helpful when managing viewing access to
    private objects, which remain unpublished to other Kompakkt users.
  </p>
</div>

<div>
  <h2>How do groups work with collections?</h2>
  <p>
    When you create a collection of Kompakkt objects you can annotate them regardless of their
    owners. This can be an effective way to collaborate as you can invite either other individual
    Kompakkt users, or non-registred users (via password-protection) to gain access rights to
    specific collections. If you need to continuously give access and/or annotation rights to a
    number of individuals to different objects / collections, creating a group will just make this
    process more efficient and will enable you to manage access rights centrally by managing the
    group membership. Note that groups do require all their members to be registered users.
  </p>
</div>

<div>
  <h2>Your groups</h2>

  @if (account.isAuthenticated$ | async) {
    @if (groups$ | async; as groups) {
      @if (groups.length > 0) {
        <p>You are either the owner or a member of one of the following groups:</p>

        <div class="group-grid">
          @for (group of groups; track group._id) {
            <div class="group-grid-element">
              <p>
                <span
                  ><b>{{ group.name }}</b></span
                ><br />
                <small>by {{ group.creator.fullname }}</small>
              </p>

              <button
                mat-flat-button
                color="primary"
                class="pill"
                (click)="dialogHelper.openGroupMemberDialog(group)"
              >
                <mat-icon>groups</mat-icon>
                <span>Members ({{ group.uniqueMembers }})</span>
              </button>
            </div>
          }
        </div>
      } @else {
        <p>You are not a member of any groups yet.</p>

        <div class="button-row">
          <button mat-flat-button class="pill" color="primary" routerLink="/profile">
            <mat-icon>account_circle</mat-icon>
            <span>Manage profile</span>
          </button>
          <button
            mat-flat-button
            class="pill"
            color="primary"
            (click)="dialogHelper.openGroupWizard()"
          >
            <mat-icon>group</mat-icon>
            <span>New group</span>
          </button>
        </div>
      }
    } @else {
      <p>Loading your groups...</p>
      <mat-progress-bar mode="indeterminate" />
    }
  } @else {
    @if (account.isWaitingForLogin$ | async) {
      <p>Loading your account...</p>
      <mat-progress-bar mode="indeterminate" />
    } @else {
      <p>You must be logged in to see your groups.</p>
    }
  }
</div>

<!--

  <ng-template #authenticatedBlock>
    <ng-container *ngIf="!(groups$ | async)">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>

    <ng-container *ngIf="groups$ | async as groups; else noGroups">
      <ng-container *ngIf="groups.length > 0; else noGroups">


        <app-grid [itemsPerRow]="4">
          <app-group-element *ngFor="let group of groups" [group]="group"></app-group-element>
        </app-grid>
      </ng-container>
    </ng-container>
    <ng-template #noGroups>

    </ng-template>
  </ng-template>
-->
