@use '../../../../easings' as easings;

.title {
  height: 2rem;
  font-size: 14px;
  text-decoration: none;
  z-index: 20;
  color: #333;
  position: relative;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  flex-shrink: 0;
  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    transition: transform 500ms easings.$easeOutQuint;
    background: #00afe7;
    border-radius: 0.25rem;
    transform: scaleX(0);
  }

  .element-name {
    font-weight: bold;
    text-align: left;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
  }

  .content-counter {
    color: lightgray;
    display: flex;
    align-items: center;
    gap: 3px;
    mat-icon {
      font-size: 25px;
    }

    span {
      font-size: 16px;
    }
  }
}

:host:hover {
  .title:after {
    transform: scaleX(0.6);
  }
  .image,
  .images {
    &:hover:before {
      clip-path: circle(100%);
    }
  }
}

.private .content-counter,
.private .content-counter mat-icon {
  color: #fff !important;
  fill: #fff !important;
}

.private {
  background: lightgray;
}
