button.widebutton {
  width: 80%;
}

mat-form-field {
  width: 100%;
  * {
    width: 100%;
  }
}

.metadata-overview {
  mat-icon {
    padding-right: 1rem;
  }
  p {
    margin: 0;
    line-height: 1.5rem;
  }
}

iframe#viewer-frame {
  height: 65vh;
  width: 100%;
}

.wizard-step-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  padding: 1rem 1rem 0 1rem;

  &.single {
    grid-template-columns: 1fr;
  }
}
