<div [class.content]="!this.dialogRef" id="container" [style.--max-width]="maxWidth">
  <div class="dialog-title-wrapper">
    @if (serverEntity$.value) {
      <h3 class="dialog-title">{{ 'Edit object' | translate }}</h3>
    } @else {
      <h3 class="dialog-title">{{ 'New object' | translate }}</h3>
    }

    @if (dialogRef) {
      <button mat-icon-button class="close-dialog-button" (click)="closeWindow()" tabindex="-1">
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>

  @if (!(isAuthenticated$ | async)) {
    <div class="metadata-nested">
      <h3>{{ 'Only available for logged in Kompakkt users.' | translate }}</h3>
    </div>
  }

  @if (isAuthenticated$ | async) {
    <mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="stepInteraction($event)">
      @if (!this.dialogRef || !this.dialogData) {
        <mat-step
          label="{{ 'Upload' | translate }}"
          [completed]="externalFileValid || uploadValid"
          #stepUpload
        >
          <div class="can-be-disabled" [class.disabled]="externalFileControl.value !== ''">
            <app-upload></app-upload>
          </div>
          <mat-divider></mat-divider>
          <div
            class="external-file-input can-be-disabled"
            [class.disabled]="!(isQueueEmpty$ | async)"
          >
            <h4>{{ 'Load your file from an external server' | translate }}</h4>

            <mat-form-field>
              <mat-label>{{ 'URL' | translate }}</mat-label>
              <input
                matInput
                placeholder="{{ 'URL of single file' | translate }}"
                [formControl]="externalFileControl"
              />
              @if (externalFileControl.hasError('nourl')) {
                <mat-error>
                  {{ 'This does not look like a URL' | translate }}
                </mat-error>
              }
              @if (externalFileControl.hasError('unsupported')) {
                <mat-error>
                  {{ 'File format not supported for external files' | translate }}
                </mat-error>
              }
              @if (externalFileControl.hasError('unsafe')) {
                <mat-error>
                  {{ 'File is not hosted on a secure server' | translate }}
                </mat-error>
              }
            </mat-form-field>
          </div>
          @if (!externalFileValid) {
            <div class="wizard-step-buttons">
              <button
                mat-stroked-button
                color="primary"
                [disabled]="!(canCancel$ | async)"
                (click)="uploadHandler.resetQueue()"
              >
                {{ 'Reset upload' | translate }}
              </button>
              @if (showBeginUpload$ | async) {
                <button
                  mat-flat-button
                  color="primary"
                  [disabled]="!(canBeginUpload$ | async)"
                  (click)="uploadHandler.startUpload()"
                >
                  {{ 'Begin upload' | translate }}
                </button>
              }
              @if (showNext$ | async) {
                <button
                  mat-flat-button
                  color="primary"
                  (click)="uploadBaseEntity(stepper)"
                  [disabled]="!uploadValid"
                >
                  {{ 'Next' | translate }}
                </button>
              }
            </div>
          } @else {
            <div class="wizard-step-buttons single">
              <button mat-stroked-button color="primary" (click)="uploadBaseEntity(stepper)">
                {{ 'Continue using external file' | translate }}
              </button>
            </div>
          }
        </mat-step>
      }
      @if (showSettingsStep$ | async) {
        <mat-step
          label="{{ 'Settings' | translate }}"
          #stepSettings
          [completed]="settingsValid$ | async"
        >
          @if (viewerUrl) {
            <iframe id="viewer-frame" #babylonPreview [src]="viewerUrl" allowfullscreen></iframe>
          }
          <div class="wizard-step-buttons">
            <button mat-stroked-button matStepperPrevious (click)="closeWindow()">
              {{ 'Cancel' | translate }}
            </button>
            <button
              mat-stroked-button
              [disabled]="!(settingsValid$ | async)"
              color="primary"
              matStepperNext
            >
              {{ 'Next' | translate }}
            </button>
          </div>
        </mat-step>
      }

      <mat-step
        label="{{ 'Metadata' | translate }}"
        #stepMetadata
        [completed]="isDigitalEntityValid && stepMetadata.interacted"
      >
        @if (digitalEntity$ | async; as digitalEntity) {
          <div
            extendSlot="entity-wizard"
            slotBehaviour="replace"
            [dataObservable]="digitalEntity$"
            (event)="debugEvent($event)"
          >
            <app-entity [digitalEntity]="digitalEntity"></app-entity>
          </div>
        }
        <div class="wizard-step-buttons">
          @if (serverEntityFinished$ | async) {
            <button mat-stroked-button matStepperPrevious (click)="closeWindow()">
              {{ 'Cancel' | translate }}
            </button>
          } @else {
            <button mat-stroked-button matStepperPrevious>{{ 'Back' | translate }}</button>
          }
          <button
            (click)="updateDigitalEntity()"
            mat-stroked-button
            color="primary"
            matStepperNext
            [disabled]="!isDigitalEntityValid"
          >
            {{ 'Finalize' | translate }}
          </button>
        </div>
      </mat-step>
      <mat-step
        label="{{ 'Finalize' | translate }}"
        #stepFinalize
        [completed]="isFinished && stepFinalize.interacted"
      >
        <div id="container-finalize">
          <h2>{{ 'Finalize upload' | translate }}</h2>
          <p>
            {{
              'Please review and confirm that all metadata entries are correct before completing the process.'
            }}
          </p>

          @if (entitySettings$ | async; as settings) {
            @if (imagePreviewUrl$ | async; as preview) {
              <div class="preview-image">
                <anim-img [src]="preview"></anim-img>
              </div>
            } @else {
              <p>
                {{
                  'You did not set any settings for this object. You can set object settings on the first page of this wizard inside the viewer.'
                    | translate
                }}
              </p>
              <button mat-raised-button color="primary" (click)="stepper.selectedIndex = 0">
                <mat-icon>thumb_up</mat-icon>
                {{ 'Take me to the settings' | translate }}
              </button>
            }
          }

          @if (digitalEntity$ | async; as entity) {
            <h1>{{ entity.title }}</h1>
            <div
              class="metadata-overview"
              extendSlot="entity-wizard-finalize"
              slotBehaviour="replace"
              [dataObservable]="digitalEntity$"
            >
              <div class="row">
                <div>
                  <p>{{ entity.description }}</p>
                </div>
              </div>
              <div class="row">
                <div>
                  <h3>{{ 'Licence' | translate }}</h3>
                  <img [src]="'/assets/licence/' + entity.licence + '.png'" alt="License icon" />
                </div>
              </div>
              <div class="row">
                <div>
                  <h3>{{ 'Related Persons and Institutions' | translate }}</h3>

                  @for (person of entity.persons; track person) {
                    <div class="person">
                      @if (person.roles[entity._id]?.length) {
                        <p class="roles">{{ getFormattedRoles(person.roles[entity._id]) }}:</p>
                      }
                      <p class="name">{{ person.prename }} {{ person.name }}</p>
                      <p class="mail">{{ getMail(person.contact_references) }}</p>
                    </div>
                  }

                  @for (inst of entity.institutions; track inst) {
                    <div class="institution">
                      @if (inst.roles[entity._id]?.length) {
                        <p class="roles">{{ getFormattedRoles(inst.roles[entity._id]) }}:</p>
                      }
                      <p class="name">
                        {{ inst.name }}
                        @if (inst.university) {
                          , {{ inst.university }}
                        }
                      </p>
                      <p class="address">
                        {{ inst.addresses[entity._id]?.street }}
                        {{ inst.addresses[entity._id]?.number }},
                        {{ inst.addresses[entity._id]?.postcode }}
                        {{ inst.addresses[entity._id]?.city }},
                        {{ inst.addresses[entity._id]?.country }}
                      </p>
                    </div>
                  }
                </div>
              </div>

              <div class="row">
                <div>
                  <h3>{{ 'External Identifiers' | translate }}</h3>
                  @if (entity.externalId.length) {
                    <p *ngFor="let id of entity.externalId">{{ id.type }}: {{ id.value }}</p>
                  } @else {
                    <p>{{ 'No external identifiers available.' | translate }}</p>
                  }
                </div>
              </div>

              <div class="row">
                <div>
                  <h3>{{ 'External Links' | translate }}</h3>
                  @if (entity.externalLink.length) {
                    <p *ngFor="let link of entity.externalLink">
                      <a [href]="link.value" target="_blank" rel="noopener noreferrer">{{
                        link.description
                      }}</a>
                    </p>
                  } @else {
                    <p>{{ 'No external links available.' | translate }}</p>
                  }
                </div>
              </div>

              <div class="row last-row">
                <div>
                  <h3>{{ 'External Bibliographic References' | translate }}</h3>
                  @if (entity.biblioRefs.length) {
                    <p *ngFor="let ref of entity.biblioRefs">
                      {{ ref.description }}: {{ ref.value }}
                    </p>
                  } @else {
                    <p>{{ 'No external bibliographic references available.' | translate }}</p>
                  }
                </div>
              </div>
            </div>
          } @else {
            <p>{{ 'You have not filled all required fields in the metadata form.' | translate }}</p>
            <button mat-raised-button color="primary" (click)="stepper.selectedIndex = 1">
              <mat-icon>thumb_up</mat-icon>
              {{ 'Take me to the metadata form' | translate }}
            </button>
          }
          <!-- If we havent sent data to the server, display option to do so -->
          @if (!isFinished) {
            <div class="wizard-step-buttons">
              <button mat-stroked-button [disabled]="isFinishing" matStepperPrevious>
                {{ 'Back' | translate }}
              </button>
              <button
                mat-stroked-button
                [disabled]="!canFinish || isFinishing || isFinished"
                color="primary"
                (click)="tryFinish(stepper, stepFinalize)"
              >
                {{ 'Finish' | translate }}!
              </button>
            </div>
          }
          <!-- Otherwise display button to progress -->
          @if (isFinished) {
            <div class="wizard-step-buttons single">
              <button mat-stroked-button matStepperNext color="primary">
                {{ 'Next' | translate }}
              </button>
            </div>
          }
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  }
</div>
