@import '../../styles/wizard-stepper';

button.widebutton {
  width: 80%;
}

mat-form-field {
  width: 100%;
  * {
    width: 100%;
  }
}

.metadata-overview {
  mat-icon {
    padding-right: 1rem;
  }
  p {
    margin: 0;
    line-height: 1.5rem;
  }
}

iframe#viewer-frame {
  height: 65vh;
  width: 100%;
}

.wizard-step-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  padding: 1rem 1rem 0 1rem;

  &.single {
    grid-template-columns: 1fr;
  }
}

.preview-image {
  width: 360px;
  height: 225px;
  display: flex;
  justify-content: flex-start; /* Align to the left */
  align-items: center;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.8rem;
}

.last-row {
  margin-bottom: 2rem;
}

#container {
  --max-width: 50rem;
  max-width: var(--max-width);
  transition:
    width 500ms ease,
    max-width 500ms ease;
}

div#container-finalize {
  h1,
  h3,
  .name {
    color: var(--brand-color);
  }
}

h2 {
  font-weight: 700;
}
h3 {
  font-size: 16px;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 16px 0 0 0;
}

h4,
p {
  padding: 0;
}

p {
  font-size: 14px;
  line-height: 1.2rem;
}

img {
  height: 2.5rem;
  margin-right: 1rem;
}

.person,
.institution {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin-bottom: 0.8rem;
}

.mat-mdc-standard-chip {
  background-color: var(--brand-color) !important;
  --mdc-chip-label-text-color: #fff;
}
