.forgotPasswordDialog {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
}


.titleAndClose{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 100%;
}

.errors {
  color: red;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

p{
  padding: 0;
  margin: 0;
}