h2.title-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 50rem;
}

div.owner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
