<span>{{ label() | translate }}:</span>

<mat-select
  [multiple]="multiple()"
  [placeholder]="placeholder() | translate"
  color="primary"
  #selectEl
  [value]="computedOptions()"
>
  @if (nullable() && !!selectEl.selected) {
    <mat-option #optionEl [value]="null" color="primary">
      <span>{{ 'None' | translate }}</span>
    </mat-option>
  }

  @for (option of options(); track option.value) {
    <mat-option #optionEl [value]="option" color="primary">
      <span>{{ option.label | translate }}</span>
    </mat-option>
  }
</mat-select>
