<span>{{ label() | translate }}:</span>
<button
  class="dropdown-input"
  (click)="input.focus()"
  matAutocompleteOrigin
  #origin="matAutocompleteOrigin"
>
  <span>{{ placeholder() | translate }}</span>
  <input
    #input
    matInput
    type="text"
    style="opacity: 0; width: 0px; height: 0px"
    [placeholder]="'Objects or collections' | translate"
    [matAutocomplete]="auto"
    [matAutocompleteConnectedTo]="origin"
  />
  <mat-icon>keyboard_arrow_down</mat-icon>
</button>
<mat-autocomplete
  #auto="matAutocomplete"
  [hideSingleSelectionIndicator]="true"
  (optionSelected)="onOptionSelected($event.option)"
>
  @for (option of options(); track option.value) {
    <mat-option #optionEl [value]="option">
      <span>{{ option.label | translate }}</span>
    </mat-option>
  }
</mat-autocomplete>
