:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;

  > span {
    font-weight: 700;
  }

  mat-select {
    appearance: none;
    border: unset;
    outline: unset;
    background-color: transparent;
    border: solid 1px #757575;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 1;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: all;
  }
}

::ng-deep {
  .mat-pseudo-checkbox {
    --mat-full-pseudo-checkbox-selected-icon-color: var(--brand-color);
  }
  .mat-expansion-panel.filter-panel {
    .mat-expansion-panel-header {
      padding-left: 0;
      font-weight: 700;
      font-size: 16px;
      &:hover {
        background-color: transparent !important;
      }
      &.mat-expanded {
        height: var(--mat-expansion-header-collapsed-state-height, 48px) !important;
      }
    }
    .mat-expansion-panel-body,
    .mat-mdc-radio-group {
      padding: 0;
      padding-bottom: 12px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .mat-mdc-checkbox {
    margin-left: calc(((var(--mdc-checkbox-state-layer-size, 40px) - 18px) / 2) * -1);
    .mdc-checkbox__ripple {
      display: none !important;
    }
  }
  .mat-mdc-radio-button {
    margin-left: calc(((var(--mdc-radio-state-layer-size, 40px) - 20px) / 2) * -1);
    .mat-radio-ripple {
      display: none !important;
    }
    .mdc-radio__background::before {
      display: none !important;
    }
    .mdc-label {
      cursor: pointer;
    }
  }
}
