<div class="metadata-container preview" [formGroup]="person" *ngIf="preview">
  <h3><mat-icon matTooltip="Name">person</mat-icon><span class="cursor-help" matTooltip="Prename"> {{ prename.value }}</span><span class="cursor-help" matTooltip="Surname">{{ name.value }}</span></h3>

  <ng-container *ngIf="selected_contact_ref && current_contact_ref">
    <h3 *ngIf="current_contact_ref.mail !== ''">
      <mat-icon class="cursor-help" matTooltip="Mail">email</mat-icon> <span>{{ current_contact_ref.mail }}</span>
    </h3>
    <h3 *ngIf="current_contact_ref.note !== ''">
      <mat-icon class="cursor-help" matTooltip="Note">note</mat-icon>
      <span>{{ current_contact_ref.note }}</span>
    </h3>
    <h3 *ngIf="current_contact_ref.phonenumber !== ''">
      <mat-icon class="cursor-help" matTooltip="Phonenumber">contact_phone</mat-icon>
      <span>{{ current_contact_ref.phonenumber }}</span>
    </h3>
  </ng-container>

  <mat-chip-list>
    <mat-icon class="cursor-help" matTooltip="Role">star</mat-icon>
    <mat-chip *ngFor="let role of current_roles">
      {{ prettyRoleString(role) }}
    </mat-chip>
  </mat-chip-list>

  <ng-container *ngIf="relatedInstitutions.value.length > 0">
    <mat-list>
      <h3 matSubheader>Institutions:</h3>
      <mat-divider></mat-divider>
    </mat-list>
    <br>
    <h3 *ngFor="let inst of relatedInstitutions.value">
      <mat-icon>domain</mat-icon>
      <span>{{ inst.name }}</span>
    </h3>
  </ng-container>
</div>

<div class="metadata-container" [formGroup]="person" *ngIf="!preview">
  <ng-container *ngIf="isExistingPerson">
    <div class="metadata-nested">
      <h3>Referencing existing person</h3>
      <p>Prename: {{ prename.value }} - Surname: {{ name.value }}</p>
    </div>
  </ng-container>

  <ng-container *ngIf="!isExistingPerson">
    <div class="metadata-nested">
      <mat-form-field>
        <input required matInput placeholder="Prename" formControlName="prename">
      </mat-form-field>
      <mat-form-field>
        <input required matInput placeholder="Surname" formControlName="name">
      </mat-form-field>
    </div>
  </ng-container>

  <div class="metadata-nested">
    <h3>Role selection</h3>
    <div class="metadata-role-selection-container">
      <mat-checkbox color="primary" class="metadata-role-selection" *ngFor="let role of availableRoles" (change)="updateRoles()" [(ngModel)]="role.checked" [ngModelOptions]="{standalone: true}">{{ role.value }}</mat-checkbox>
    </div>
  </div>

  <ng-container *ngIf="getKeys(contact_references.controls).length > 1">
    <div class="metadata-nested">
      <h3>Use an existing contact reference or create a new one</h3>
      <mat-form-field>
        <mat-label>Contact reference</mat-label>
        <mat-select [value]="selected_contact_ref" (selectionChange)="selectContactRef($event)">
          <mat-option *ngFor="let id of getKeys(contact_references.controls)" [value]="id">
            <!-- New -->
            <ng-container *ngIf="id === relatedEntityId">
              New contact reference for {{ prename.value }} {{ name.value }}
            </ng-container>

            <!-- Existing -->
            <ng-container *ngIf="id !== relatedEntityId">
              {{ contact_references.controls[id].value.mail }}
              <ng-container *ngIf="contact_references.controls[id].value.phonenumber !== ''">
                - {{ contact_references.controls[id].value.phonenumber }}
              </ng-container>
              - created at: {{ getDateString(contact_references.controls[id].value.creation_date) }}
            </ng-container>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>

  <!-- New / Editable contact reference -->
  <ng-container *ngIf="selected_contact_ref && selected_contact_ref === relatedEntityId">
    <div class="metadata-nested" [formGroup]="contact_references.controls[selected_contact_ref]">
      <mat-form-field>
        <input [required]="isMailRequired" matInput placeholder="Mail" formControlName="mail">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Note" formControlName="note">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phonenumber" formControlName="phonenumber">
      </mat-form-field>
    </div>
  </ng-container>
  <!-- Existing / Non-editable contact reference -->
  <ng-container *ngIf="selected_contact_ref && selected_contact_ref !== relatedEntityId">
    <div class="metadata-nested">
      <p>Mail: {{ contact_references.value[selected_contact_ref].mail }}</p>
      <ng-container *ngIf="contact_references.value[selected_contact_ref].note !== ''">
        <p>Note: {{ contact_references.value[selected_contact_ref].note }}</p>
      </ng-container>
      <ng-container *ngIf="contact_references.value[selected_contact_ref].phonenumber !== ''">
        <p>Phonenumber: {{ contact_references.value[selected_contact_ref].phonenumber }}</p>
      </ng-container>
    </div>
  </ng-container>

  <div class="metadata-nested">
    <h3>Institutions this person is part of</h3>

    <mat-form-field>
      <input #institutionInput matInput placeholder="Search for an institution" [matAutocomplete]="institutionAuto">
    </mat-form-field>
    <mat-autocomplete #institutionAuto="matAutocomplete" (optionSelected)="institutionSelected($event, institutionInput)">
      <mat-option *ngFor="let institution of autocompleteInstitutions" [value]="institution">
        {{ institution.name }}
      </mat-option>
    </mat-autocomplete>
    <div class="metadata-mat-card-container">
      <mat-card *ngFor="let institution of relatedInstitutions.controls; index as i;" [formGroup]="institution">
          <div class="metadata-mat-card-content">
            <app-institution [preview]="true" [(institution)]="institution" [relatedEntityId]="relatedEntityId" [hideRoleSelection]="true"></app-institution>
          </div>
          <div class="metadata-mat-card-buttons">
            <button mat-button matTooltip="Click to delete" matTooltipPosition="above" color="warn" (click)="removeInstitution(i)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-button matTooltip="Click to edit" matTooltipPosition="above" color="accent" (click)="editInstitution(institution)">
                <mat-icon>edit</mat-icon>
            </button>
          </div>
      </mat-card>
    </div>
    <button (click)="addInstitution()" mat-button color="primary">
      <mat-icon>add_circle</mat-icon> Add institution
    </button>
  </div>
</div>
