:host {
  margin-bottom: 1rem;
  > * + * {
    margin-top: 1rem;
  }
}

h1 {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.role-selection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.institution-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
