@use '~@angular/material' as mat;
@import 'src/app/styles/wizard-stepper';

button {
  margin: 0.2rem 2rem;
}

.cdk-drop-list {
  border-radius: 0.5rem;
  min-height: 8rem;
  border: lightgray solid 3px;
  transition: border 280ms;

  padding: 0.5rem;

  &:hover {
    border: #00afe7 solid 3px;
  }
}

.cdk-drag {
  background-color: white;
  cursor: move;
  border-radius: 0.5rem;

  @include mat.elevation(2);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1) !important;

  &:hover {
    @include mat.elevation(8);
  }
}

.cdk-drag-preview {
  /* Preview has weird height calculations */
  height: 18px !important;
}

.drag-drop {
  min-height: 40px;
  padding: 7px 5px 5px 5px;
  margin-bottom: 10px;
}

.drag-drop .mat-icon {
  height: 27px;
}

.drag-drop button {
  margin: 0;
  min-width: 35px;
}

.drag-drop .itemname {
  padding-left: 5px;
  padding-top: 5px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}
