<h1>
  <span>{{ 'Add to collection' | translate }} </span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon class="material-symbols-outlined">close</mat-icon>
  </button>
</h1>

<div class="entity-list">
  @for (entity of dialogData; track entity._id) {
    <p>
      <strong>{{ entity.name }}</strong>
    </p>
  }
</div>

<mat-divider />

<div class="counter">
  <mat-icon class="material-symbols-filled">filter_none</mat-icon>
  <p>
    <strong
      >{{ 'Your collections' }}
      @if (userCollections$ | observableValue | async; as result) {
        ({{ result.value.length }})
      }
    </strong>
  </p>
</div>

<app-outlined-input
  type="text"
  label="Search for collection"
  #input
  (input)="filterText.set(input.value)"
/>
@if (userCollections$ | observableValue | async; as result) {
  <div class="collection-list" [class.enable-scrolling]="result.value.length > 5">
    @if (result.value.length === 0) {
      <p class="no-collections">{{ "You don't have any collections yet." | translate }}</p>
    } @else {
      @for (
        collection of result.value | filterArrayByString: filterText() : 'name';
        track collection._id
      ) {
        @if (collection | isAnyEntityInCollection: dialogData; as isInCollectionResult) {
          <div
            class="collection"
            [class.disabled]="isInCollectionResult.disabled"
            (click)="!isInCollectionResult.disabled && toggleSelection(collection)"
          >
            @if (collection.isSelected) {
              <mat-icon color="primary">library_add_check</mat-icon>
            } @else {
              <mat-icon>{{ isInCollectionResult.icon }}</mat-icon>
            }

            <span>{{ collection.name }}</span>
            <div class="info">
              <mat-icon class="material-symbols-filled">deployed_code</mat-icon>
              <span>{{ (collection.entities | keyvalue).length }}</span>
            </div>
          </div>
        }
      } @empty {
        <p class="no-collections">{{ 'No collections found.' | translate }}</p>
      }
    }
  </div>
} @else {
  <mat-progress-bar mode="indeterminate" />
}
<button
  mat-flat-button
  color="primary"
  class="pill new-collection-button"
  (click)="createNewCollection()"
>
  <mat-icon>library_add</mat-icon>
  <span>{{ 'New collection' | translate }}</span>
</button>

<div class="actions">
  <button mat-stroked-button mat-dialog-close>{{ 'Cancel' | translate }}</button>
  <button mat-flat-button color="primary">{{ 'Save' | translate }}</button>
</div>
