<!-- Actionbars -->
<app-actionbar
  *ngIf="isEntity"
  [showAnnotateButton]="true"
  [showEditButton]="true"
  [element]="element"
  [showUsesInCollection]="true"
  (updateViewerUrl)="updateViewerUrl($event)"
  (newElementSelected)="updateSelectedElement($event)"
></app-actionbar>

<app-actionbar
  *ngIf="isCompilation"
  [showAnnotateButton]="true"
  [showEditButton]="true"
  [element]="element"
  (updateViewerUrl)="updateViewerUrl($event)"
  (newElementSelected)="updateSelectedElement($event)"
></app-actionbar>
<!-- /Actionbars -->

<div id="detail-content">
  <!-- Viewer -->
  <div class="iframe-container entity-viewer">
      <iframe
        *ngIf="viewerUrl !== ''"
        [src]="viewerUrl | safe: 'resourceUrl'"
        allowfullscreen
      ></iframe>
  </div>
  <!-- /Viewer -->

  <!-- Detail -->
  <app-entity-detail
    (updateViewerUrl)="updateViewerUrl($event)"
    (selectEntity)="updateSelectedElement($event)"
    *ngIf="isEntity"
    [parentElement]="element"
  ></app-entity-detail>
  <app-compilation-detail
    (updateViewerUrl)="updateViewerUrl($event)"
    (selectCompilation)="updateSelectedElement($event)"
    *ngIf="isCompilation"
    [parentElement]="element"
  ></app-compilation-detail>
  <!-- /Detail -->
</div>
