#detail-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;

  background-color: #eee;
  height: calc(100vh - 169px);
  max-height: calc(100vh - 169px);

  padding-left: 36px;
  padding-right: 35px;

  .iframe-container {
    height: calc(100vh - 169px);
    min-height: 40vh;
    max-height: calc(100vh - 169px);
  }

  @media (max-width: 1024px) {
    display: flex;
    flex-flow: column;

    height: calc(100vh - 105px);
    max-height: calc(100vh - 105px);

    margin-left: 0 !important;
  }
}

app-entity-detail, app-compilation-detail {
  overflow-y: auto;
}
