#detail-content {
  display: grid;
  height: calc(100vh - 169px);
  grid-template-rows: auto;
  grid-template-columns: 3fr 2fr;

  @media (max-width: 1200px) {
    height: auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto;
  }
}
