@use '@angular/material' as mat;
@use '../../../easings' as easings;

:host {
  display: block;
  position: relative;
  width: 100%;
  background-color: transparent;
}

.selection-container {
  position: relative;
}

:host ::ng-deep .selection-container > div .entity-grid {
  max-width: var(--content-max-width);
  width: 100%;
  margin: 0 auto;
}
