.entity-grid-card-container {
  padding: 1rem;
}

.entity-grid-card {
  mat-card-title {
    font-size: 1rem;
  }

  img {
    object-fit: cover;
    border-bottom: 3px solid #00afe7;
  }
}

.tab-help {
  padding: 1rem;

  .tab-help-slider-container {
    span {
      padding: 0 1rem;
    }
  }
}

.detail-block {
  padding: 10px 0;
}
