@if (label(); as label) {
  <label [class.active]="value() || externalValue()">{{ label | translate }}</label>
}

@switch (type()) {
  @case ('textarea') {
    <textarea
      [value]="value()"
      [placeholder]="definedPlaceholder() | translate"
      [rows]="textareaRows()"
      [disabled]="disabled"
      (input)="onInputChange($event)"
      (blur)="onBlur()"
      [autocomplete]="autofillHint()"
      [name]="name()"
    ></textarea>
  }
  @default {
    @if (autocomplete(); as autocomplete) {
      <input
        [type]="type()"
        [value]="displayValue()"
        [matAutocomplete]="autocomplete"
        [placeholder]="definedPlaceholder() | translate"
        [disabled]="disabled"
        (input)="onInputChange($event)"
        (blur)="onBlur()"
        [autocomplete]="autofillHint()"
        [name]="name()"
        (keydown)="onKeydown($event)"
      />
    } @else {
      <input
        [type]="type()"
        [value]="value()"
        [placeholder]="definedPlaceholder() | translate"
        [disabled]="disabled"
        (input)="onInputChange($event)"
        (blur)="onBlur()"
        [autocomplete]="autofillHint()"
        [name]="name()"
      />
    }
  }
}

@if (icon(); as icon) {
  <mat-icon
    [class.material-symbols-outlined]="iconStyle() === 'outlined'"
    [class.material-symbols-filled]="iconStyle() === 'filled'"
    >{{ icon }}</mat-icon
  >
}
<ng-content select="[inputSuffix]" />
<ng-content />
