<div class="metadata-container" [formGroup]="institution" *ngIf="preview">
  <p>Name: {{ name.value }}</p>
  <p *ngIf="university.value !== ''">
      University: {{ university.value }}
  </p>

  <mat-chip-list>
    <mat-chip *ngFor="let role of current_roles">
      {{ prettyRoleString(role) }}
    </mat-chip>
  </mat-chip-list>

  <ng-container *ngIf="selected_address">
    <app-address [address]="addresses.controls[selected_address]"></app-address>
  </ng-container>
</div>

<div class="metadata-container" [formGroup]="institution" *ngIf="!preview">
  <ng-container *ngIf="isExistingInstitution">
    <div class="metadata-nested">
      <h3>Referencing existing institution</h3>
      <p>Name: {{ name.value }}</p>
      <p *ngIf="university.value !== ''">
        University: {{ university.value }}
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="!isExistingInstitution">
    <div class="metadata-nested">
      <mat-form-field>
        <input required matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="University" formControlName="university">
      </mat-form-field>
    </div>
  </ng-container>

  <div class="metadata-nested">
    <h3>Role selection</h3>
    <div class="metadata-role-selection-container">
      <mat-checkbox color="primary" class="metadata-role-selection" *ngFor="let role of availableRoles" (change)="updateRoles()" [(ngModel)]="role.checked" [ngModelOptions]="{standalone: true}">{{ role.value }}</mat-checkbox>
    </div>
  </div>

  <div class="metadata-nested">
    <mat-form-field>
      <input matInput placeholder="Note">
    </mat-form-field>
  </div>

  <ng-container *ngIf="getKeys(addresses.controls).length > 1">
    <h3>Use an existing institution address or create a new one</h3>
    <mat-form-field>
      <mat-label>Institution address</mat-label>
      <mat-select [value]="selected_address" (selectionChange)="selectAddress($event)">
        <mat-option *ngFor="let id of getKeys(addresses.controls)" [value]="id">
          <!-- New -->
          <ng-container *ngIf="id === relatedEntityId">
            New address for {{ name.value }}
          </ng-container>
          <!-- Existing -->
          <ng-container *ngIf="id !== relatedEntityId">
            {{ addresses.controls[id].value.street }}
            {{ addresses.controls[id].value.number }}
            - {{ addresses.controls[id].value.city }}
            {{ addresses.controls[id].value.postcode }}
            - {{ addresses.controls[id].value.country }}
            - created at: {{ getDateString(addresses.controls[id].value.creation_date) }}
          </ng-container>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <div class="metadata-nested" *ngIf="selected_address">
    <app-address [address]="addresses.controls[selected_address]"></app-address>
  </div>
</div>
