<ng-container *ngIf="!(isAdmin$ | async); else adminBlock">
  <h1>User Administration</h1>
  <h2>Waiting for admin data</h2>
</ng-container>
<ng-template #adminBlock>
  <h1>User Administration</h1>
  <ng-container *ngIf="users$ | async as users">
    <ng-container *ngIf="users.length > 0">
      <div class="option-row">
        <mat-button-toggle-group (change)="roleFilter$.next($event.value)">
          <mat-button-toggle checked value="all">Show all</mat-button-toggle>
          <mat-button-toggle value="user">User</mat-button-toggle>
          <mat-button-toggle value="uploadrequested">Upload Requested</mat-button-toggle>
          <mat-button-toggle value="uploader">Uploader</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Search for a user"
            [matAutocomplete]="userAutoComplete"
            (input)="changeSearchInput($event)"
          />
        </mat-form-field>
      </div>

      <mat-autocomplete
        #userAutoComplete="matAutocomplete"
        [displayWith]="displayName"
        (optionSelected)="userSelected($event)"
      >
        <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user">
          {{ displayName(user) }}
        </mat-option>
      </mat-autocomplete>

      <ng-container *ngIf="selectedUser">
        <div class="info-grid">
          <span>Fullname</span>
          <span class="info-bubble">{{ selectedUser.fullname }}</span>
          <span>Username</span>
          <span class="info-bubble">{{ selectedUser.username }}</span>
          <span>Mail</span>
          <span class="info-bubble">{{ selectedUser.mail }}</span>
          <span>Identifier</span>
          <span class="info-bubble">{{ selectedUser._id }}</span>
          <span>Role</span>
          <span class="info-bubble">{{ selectedUser.role }}</span>
        </div>

        <button
          mat-flat-button
          color="primary"
          *ngIf="shouldPromoteSelectedUser"
          (click)="promoteSelectedUser()"
        >
          Promote to Uploader
        </button>
        <button
          mat-flat-button
          color="primary"
          *ngIf="shouldDemoteSelectedUser"
          (click)="demoteSelectedUser()"
        >
          Demote to User
        </button>

        <mat-expansion-panel #panel>
          <mat-expansion-panel-header>
            <h3>{{ panel.expanded ? 'Hide' : 'Show' }} User content</h3>
          </mat-expansion-panel-header>

          <mat-tab-group>
            <mat-tab label="Objects ({{ entities.length }})">
              <div class="grid-element" *ngFor="let entity of entities">
                <span>Title: {{ entity.name }}</span>
                <span>Type: {{ entity.mediaType }}</span>
                <span>Finished: {{ entity.finished }}</span>
                <span>Online: {{ entity.online }}</span>
                <span>ID: {{ entity._id }}</span>
              </div>
            </mat-tab>
            <mat-tab label="Collections ({{ compilations.length }})">
              <div class="grid-element" *ngFor="let compilation of compilations">
                <span>Title: {{ compilation.name }}</span>
                <span>Description: {{ compilation.description }}</span>
                <span># of objects: {{ compilation.entities.length }}</span>
                <span># of annotations: {{ compilation.annotations.length }}</span>
                <span>Whitelist enabled: {{ compilation.whitelist.enabled }}</span>
                <span>
                  # of whitelisted persons:
                  {{ compilation.whitelist.groups.length }}
                </span>
                <span>
                  # of whitelisted groups:
                  {{ compilation.whitelist.persons.length }}
                </span>
                <span>ID: {{ compilation._id }}</span>
              </div>
            </mat-tab>
            <mat-tab label="Tags ({{ tags.length }})">
              <div class="grid-element" *ngFor="let tag of tags">
                <span>Value: {{ tag.value }}</span>
                <span>ID: {{ tag._id }}</span>
              </div>
            </mat-tab>
            <mat-tab label="Persons ({{ persons.length }})">
              <div class="grid-element" *ngFor="let person of persons">
                <span>Name: {{ person.prename }} {{ person.name }}</span>
                <span>ID: {{ person._id }}</span>
              </div>
            </mat-tab>
            <mat-tab label="Institutions ({{ institutions.length }})">
              <div class="grid-element" *ngFor="let institution of institutions">
                <span>Name: {{ institution.name }}</span>
                <span *ngIf="institution.university !== ''">
                  University: {{ institution.university }}
                </span>
                <span>ID: {{ institution._id }}</span>
              </div>
            </mat-tab>
            <mat-tab label="Annotations ({{ annotations.length }})">
              <div class="grid-element" *ngFor="let annotation of annotations">
                <span>Title: {{ annotation.body.content.title }}</span>
                <span>Description: {{ annotation.body.content.description }}</span>
                <span>Target object: {{ annotation.target.source.relatedEntity }}</span>
                <span>
                  Target collection:
                  {{ annotation.target.source.relatedCompilation }}
                </span>
                <span>Validated: {{ annotation.validated }}</span>
                <span>Ranking: {{ annotation.ranking }}</span>
                <span>ID: {{ annotation._id }}</span>
              </div>
            </mat-tab>
            <mat-tab label="Groups ({{ groups.length }})">
              <div class="grid-element" *ngFor="let group of groups">
                <span>Name: {{ group.name }}</span>
                <span># of members: {{ group.members.length }}</span>
                <span># of owners: {{ group.owners.length }}</span>
                <span>ID: {{ group._id }}</span>
              </div>
            </mat-tab>
            <mat-tab label="Metadata ({{ metadata.length }})">
              <div class="grid-element" *ngFor="let data of metadata">
                <span>Title: {{ data.title }}</span>
                <span>Description: {{ data.description }}</span>
                <span>ID: {{ data._id }}</span>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-expansion-panel>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
