:host {
  display: flex;
  align-items: center;
  .content {
    display: flex;
    flex-direction: column;
    width: 1280px;
  }

  .filters {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;

    mat-form-field {
      flex-grow: 1;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.grid-element {
  padding: 1rem;
  border: #00afe7 solid 2px;
}

#role-field {
  * {
    padding-right: 2rem;
  }
}
