
  <p class="sub-headers">Person or institution?</p>
  <div class="form-column">
    <mat-checkbox [(ngModel)]="personSelected" (change)="changeAgent('person')" color="primary">Person</mat-checkbox>
    <mat-checkbox [(ngModel)]="institutionSelected" (change)="changeAgent('institution')"  color="primary">Institution</mat-checkbox>
  </div>

  <p class="sub-headers">Contact</p>
  <div class="form-row">
    <mat-form-field *ngIf="personSelected">
        <mat-label>{{ 'Prename'}}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="prenameControl"
          [required]="personSelected"
          />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'Name'}}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="nameControl"
          required
          />
      </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>{{ 'Email address'}}</mat-label>
    <input
      type="text"
      matInput
      [formControl]="mailControl"
      [required]="personSelected"
      />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'Phone number'}}</mat-label>
    <input
      type="text"
      matInput
      [formControl]="phoneNumberControl"
      />
  </mat-form-field>
  <div class="form-row">
    <mat-form-field>
        <mat-label>{{ 'Country'}}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="countryControl"
          />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'Postal Code'}}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="postalControl"
          [required]="institutionSelected"
          />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'City'}}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="cityControl"
          [required]="institutionSelected"
          />
      </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field>
        <mat-label>{{ 'Street'}}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="streetControl"
          [required]="institutionSelected"
          />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'Number'}}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="numberControl"
          />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'Building'}}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="buildingControl"
          />
      </mat-form-field>
  </div>
  <p class="sub-headers">Role(s)</p>
  <div class="role-selection">
    @for (role of availableRoles; track role) {
      <mat-checkbox
        [(ngModel)]="role.checked"
      >
        {{ role.value }}
      </mat-checkbox>
    }
  </div>
  <div class="meta-button">
    <button
      mat-flat-button
      color="primary"
      [disabled]="!isFormValid || !selectionIsValid || !atLeastOneRoleSelected"
      (click)="addNewAgentToEntity()"
      >
      Add
    </button>
  </div>
<mat-divider></mat-divider>
<div class="meta-button">
  <button
    mat-flat-button
    color="primary"
    (click)="showSaveMessage()"
    >
    Save
  </button>
</div>
