
<mat-tab-group 
  disableRipple
  [(selectedIndex)]="selectedTabIndex"
  (selectedTabChange)="currentAgentSelection($event)"> 
  <mat-tab label="Person">
    <p *ngIf="(agentIsSelected || isUpdating) && personSelected" class="warn-text">{{ 'You are adding onto an existing person.' | translate }}</p>
  
    <div class="form-row">
      <mat-form-field *ngIf="personSelected">
        <mat-label>{{ 'Prename:' | translate }}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="searchAgentPrename"
          [matAutocomplete]="agentPrenameAutocomplete"
          [required]="personSelected"
          />
          <button 
            *ngIf="agentIsEditable && !isUpdating"
            matSuffix
            class="editButton" 
            (click)="onEditAgent('prename')">
            <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
          </button>
        <mat-autocomplete
          #agentPrenameAutocomplete="matAutocomplete"
          (optionSelected)="selectExistingAgent($event)"
          >
          <ng-container 
          *ngIf="(filteredPersonsPrename$ | async) as personList">
            <ng-container *ngIf="personList.length > 0">
              @for (agent of personList; track agent) {
                <mat-option 
                [value]="agent._id + ',person'">
                <ng-container>
                  {{agent.fullName}}
                </ng-container>
              </mat-option>
              }
            </ng-container>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>{{ 'Name:' | translate }}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="searchAgent"
          [matAutocomplete]="agentAutocomplete"
          required
          />
          <button 
            *ngIf="agentIsEditable && !isUpdating"
            matSuffix
            class="editButton" 
            (click)="onEditAgent('name')">
            <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
          </button>
        <mat-autocomplete
          #agentAutocomplete="matAutocomplete"
          (optionSelected)="selectExistingAgent($event)"
          >
          <ng-container 
          *ngIf="(filteredAgentList$ | async) as filteredAgentList">
            <ng-container *ngIf="filteredAgentList.length > 0">
              @for (agent of filteredAgentList; track agent) {
                <mat-option 
                [value]="agent._id + ',' + (isPerson(agent) ? 'person' : 'institution')">
                <ng-container *ngIf="isPerson(agent); else institutionBlock">
                  {{agent.fullName}}
                </ng-container>
                <ng-template #institutionBlock>
                  {{agent.name}}
                </ng-template>
              </mat-option>
              }
            </ng-container>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>{{ 'E-Mail address' | translate}}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="mailControl"
        [required]="personSelected"
        />
      <button
        *ngIf="agentIsEditable" 
        matSuffix 
        class="editButton" 
        (click)="onEditAgent('mail')">
        <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'Phone number'}}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="phoneNumberControl"
        />
        <button 
          *ngIf="agentIsEditable"
          matSuffix 
          class="editButton" 
          (click)="onEditAgent('phone')">
          <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
        </button>
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Institution">
    <p *ngIf="(agentIsSelected || isUpdating) && institutionSelected" class="warn-text">{{ 'You are adding onto an existing institution.' | translate }}</p>

    <mat-form-field>
      <mat-label>{{ 'Name:' | translate }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="searchAgent"
        [matAutocomplete]="agentAutocomplete"
        required
        />
        <button 
          *ngIf="agentIsEditable && !isUpdating"
          matSuffix
          class="editButton" 
          (click)="onEditAgent('name')">
          <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
        </button>
      <mat-autocomplete
        #agentAutocomplete="matAutocomplete"
        (optionSelected)="selectExistingAgent($event)"
        >
        <ng-container 
        *ngIf="(filteredAgentList$ | async) as filteredAgentList">
          <ng-container *ngIf="filteredAgentList.length > 0">
            @for (agent of filteredAgentList; track agent) {
              <mat-option 
              [value]="agent._id + ',' + (isPerson(agent) ? 'person' : 'institution')">
              <ng-container *ngIf="isPerson(agent); else institutionBlock">
                {{agent.fullName}}
              </ng-container>
              <ng-template #institutionBlock>
                {{agent.name}}
              </ng-template>
            </mat-option>
            }
          </ng-container>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'University' | translate }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="universityControl"
        />
        <button 
          *ngIf="agentIsEditable"
          matSuffix 
          class="editButton" 
          (click)="onEditAgent('university')">
          <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
        </button>
    </mat-form-field>

    <div class="form-row">
      <mat-form-field>
          <mat-label>{{ 'Country' | translate}}</mat-label>
          <input
            type="text"
            matInput
            [formControl]="countryControl"
            />
            <button 
              *ngIf="agentIsEditable"
              matSuffix 
              class="editButton" 
              (click)="onEditAgent('country')">
              <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'Postal Code' | translate}}</mat-label>
          <input
            type="text"
            matInput
            [formControl]="postalControl"
            [required]="institutionSelected"
            />
            <button 
              *ngIf="agentIsEditable"
              matSuffix 
              class="editButton" 
              (click)="onEditAgent('postalCode')">
              <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'City' | translate}}</mat-label>
          <input
            type="text"
            matInput
            [formControl]="cityControl"
            [required]="institutionSelected"
            />
            <button 
              *ngIf="agentIsEditable"
              matSuffix 
              class="editButton" 
              (click)="onEditAgent('city')">
              <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
          <mat-label>{{ 'Street' | translate }}</mat-label>
          <input
            type="text"
            matInput
            [formControl]="streetControl"
            [required]="institutionSelected"
            />
            <button 
              *ngIf="agentIsEditable"
              matSuffix 
              class="editButton" 
              (click)="onEditAgent('street')">
              <mat-icon color="primary">edit</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'Number' | translate }}</mat-label>
          <input
            type="text"
            matInput
            [formControl]="numberControl"
            />
            <button 
              *ngIf="agentIsEditable"
              matSuffix 
              class="editButton" 
              (click)="onEditAgent('number')">
              <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'Building' | translate }}</mat-label>
          <input
            type="text"
            matInput
            [formControl]="buildingControl"
            />
            <button 
              *ngIf="agentIsEditable"
              matSuffix 
              class="editButton" 
              (click)="onEditAgent('building')">
              <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
            </button>
        </mat-form-field>
    </div>
  </mat-tab> 
</mat-tab-group>

<p class="sub-headers">{{ 'Assigned role(s)' | translate }}</p>
<div class="role-selection">
  @for (role of availableRoles; track role) {
    <mat-checkbox
      color="primary"
      [(ngModel)]="role.checked"
    >
      {{ role.value }}
    </mat-checkbox>
  }
</div>

<div class="meta-button">
  <button
  mat-stroked-button
  color="primary"
  (click)="resetAgentForm()"
  >
  {{ 'Clear' | translate }}
</button>
  <button
    mat-flat-button
    color="primary"
    (click)="!isUpdating ? addNewAgentToEntity() : updateAgent()"
    [disabled]="!isFormValid || !selectionIsValid || !atLeastOneRoleSelected"
    >
    {{ (isUpdating ? 'Update' : 'Add') | translate }}
  </button>
</div>

<mat-divider></mat-divider>

<app-agent-list [entity]="entity"></app-agent-list>