<mat-tab-group
  disableRipple
  [(selectedIndex)]="selectedTabIndex"
  (selectedTabChange)="currentAgentSelection($event)"
>
  <mat-tab label="Person">
    <div class="form-row">
      @if (personSelected) {
        <mat-form-field>
          <mat-label>{{ 'Prename' | translate }}</mat-label>
          <input
            type="text"
            matInput
            [formControl]="formControls.personPrename"
            [matAutocomplete]="agentPrenameAutocomplete"
            [required]="personSelected"
          />
          <mat-autocomplete
            #agentPrenameAutocomplete="matAutocomplete"
            (optionSelected)="selectExistingAgent($event)"
          >
            @if (filteredPersonsPrename$ | async; as personList) {
              @if (personList.length > 0) {
                @for (agent of personList; track agent) {
                  <mat-option [value]="agent._id + ',person'">
                    <ng-container>
                      {{ agent.fullName }}
                    </ng-container>
                  </mat-option>
                }
              }
            }
          </mat-autocomplete>
        </mat-form-field>
      }
      <mat-form-field>
        <mat-label>{{ 'Name' | translate }}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="formControls.personName"
          [matAutocomplete]="agentAutocomplete"
          required
        />
        <mat-autocomplete
          #agentAutocomplete="matAutocomplete"
          (optionSelected)="selectExistingAgent($event)"
        >
          @if (filteredPersons$ | async; as filteredPersonList) {
            @if (filteredPersonList.length > 0) {
              @for (agent of filteredPersonList; track agent) {
                @if (agent | isPerson) {
                  <mat-option [value]="agent._id + ',' + 'person'">
                    {{ agent.fullName }}
                  </mat-option>
                }
              }
            }
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>{{ 'E-Mail address' | translate }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="formControls.mail"
        [required]="personSelected"
        [class.font-color-on-edit]="formControls.mail.disabled && formControls.mail.value"
      />
      @if (agentIsEditable) {
        <button matSuffix mat-icon-button (click)="onEditAgent('mail')">
          <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
        </button>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'Phone number' }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="formControls.phoneNumber"
        [class.font-color-on-edit]="
          formControls.phoneNumber.disabled && formControls.phoneNumber.value
        "
      />
      @if (agentIsEditable) {
        <button matSuffix mat-icon-button (click)="onEditAgent('phone')">
          <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
        </button>
      }
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Institution">
    <mat-form-field>
      <mat-label>{{ 'Name' | translate }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="formControls.institutionName"
        [matAutocomplete]="institutionAutocomplete"
        required
      />
      <mat-autocomplete
        #institutionAutocomplete="matAutocomplete"
        (optionSelected)="selectExistingAgent($event)"
      >
        @if (filteredInstitutions$ | async; as filteredInstitutionList) {
          @if (filteredInstitutionList.length > 0) {
            @for (agent of filteredInstitutionList; track agent) {
              @if (agent | isInstitution) {
                <mat-option [value]="agent._id + ',' + 'institution'">
                  {{ agent.name }}
                </mat-option>
              }
            }
          }
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'Department' | translate }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="formControls.university"
        [class.font-color-on-edit]="
          formControls.university.disabled && formControls.university.value
        "
      />
      @if (agentIsEditable) {
        <button matSuffix mat-icon-button (click)="onEditAgent('university')">
          <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
        </button>
      }
    </mat-form-field>

    <div class="form-row">
      <mat-form-field>
        <mat-label>{{ 'Country' | translate }}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="formControls.country"
          [class.font-color-on-edit]="formControls.country.disabled && formControls.country.value"
        />
        @if (agentIsEditable) {
          <button matSuffix mat-icon-button (click)="onEditAgent('country')">
            <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
          </button>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'Postal Code' | translate }}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="formControls.postal"
          [class.font-color-on-edit]="formControls.postal.disabled && formControls.postal.value"
          required
        />
        @if (agentIsEditable) {
          <button matSuffix mat-icon-button (click)="onEditAgent('postalCode')">
            <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
          </button>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'City' | translate }}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="formControls.city"
          [class.font-color-on-edit]="formControls.city.disabled && formControls.city.value"
          required
        />
        @if (agentIsEditable) {
          <button matSuffix mat-icon-button (click)="onEditAgent('city')">
            <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
          </button>
        }
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>{{ 'Street' | translate }}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="formControls.street"
          [class.font-color-on-edit]="formControls.street.disabled && formControls.street.value"
          required
        />
        @if (agentIsEditable) {
          <button matSuffix mat-icon-button (click)="onEditAgent('street')">
            <mat-icon color="primary">edit</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'Number' | translate }}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="formControls.number"
          [class.font-color-on-edit]="formControls.number.disabled && formControls.number.value"
          required
        />
        @if (agentIsEditable) {
          <button matSuffix mat-icon-button (click)="onEditAgent('number')">
            <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'Building' | translate }}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="formControls.building"
          [class.font-color-on-edit]="formControls.building.disabled && formControls.building.value"
        />
        @if (agentIsEditable) {
          <button
            style="cursor: pointer"
            mat-icon-button
            matSuffix
            mat-icon-button
            (click)="onEditAgent('building')"
          >
            <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
          </button>
        }
      </mat-form-field>
    </div>
  </mat-tab>
</mat-tab-group>

<p class="sub-headers">{{ 'Assigned role(s)' | translate }}</p>
<div class="role-selection">
  @for (role of availableRoles; track role) {
    <mat-checkbox color="primary" [(ngModel)]="role.checked">
      {{ role.value }}
    </mat-checkbox>
  }
</div>

<div class="meta-button">
  <button mat-stroked-button color="primary" (click)="resetAgentForm()">
    {{ 'Clear' | translate }}
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="!isUpdating ? addNewAgentToEntity() : updateAgent()"
    [disabled]="!isFormValid || !selectionIsValid || !atLeastOneRoleSelected"
  >
    {{ (isUpdating ? 'Update' : 'Add') | translate }}
  </button>
</div>

<mat-divider />

<app-agent-list [entity]="entity()" />
