<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ 'Objects' | translate }} </mat-panel-title>
      <mat-panel-description>
        {{ 'What you’ve uploaded and shared' | translate }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="tab-help">
        <mat-radio-group>
          <mat-radio-button
            color="accent"
            (change)="updateFilter($event.value, entityPaginator)"
            [checked]="filter().published"
            value="published"
            matTooltip="{{ 'Published objects are visible for all users on the &quot;Explore&quot; page' | translate }}"
            >
            {{ 'Published' | translate }}
          </mat-radio-button>
          <mat-radio-button
            color="accent"
            (change)="updateFilter($event.value, entityPaginator)"
            [checked]="filter().restricted"
            value="restricted"
            matTooltip="{{ 'Restricted objects are only findable by users and/or groups which have been assigned to the object during or after object creation. You can edit object restrictions at any point' | translate }}"
            >
            {{ 'Restricted' | translate }}
          </mat-radio-button>
          <mat-radio-button
            color="accent"
            (change)="updateFilter($event.value, entityPaginator)"
            [checked]="filter().unpublished"
            value="unpublished"
            matTooltip="{{ 'Unpublished objects are accessible only on your profile page' | translate }}"
            >
            {{ 'Unpublished' | translate }}
          </mat-radio-button>
          <mat-radio-button
            color="accent"
            (change)="updateFilter($event.value, entityPaginator)"
            [checked]="filter().unfinished"
            value="unfinished"
            matTooltip="{{ 'Unfinished objects are any objects which did not finish the upload process due to either settings inside the viewer not being set, file upload not being started or completed or metadata form being invalid or incomplete. You can continue working on unfinished objects from here' | translate }}"
            >
            {{ 'Unfinished' | translate }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="tab-main"
      (mousedown)="onMouseDown($event)" 
      (mousemove)="onMouseMove($event)" 
      (mouseup)="onMouseUp()"
      (mouseleave)="onMouseLeave()">
        @if (filteredEntities().length === 0) {
          <div>
            <h3>{{ 'No matches' | translate }}</h3>
          </div>
        }
        <mat-form-field class="fullwidth">
          <input
            matInput
            placeholder="{{ 'Search for an entity' | translate }}"
            (input)="changeEntitySearchText($event, entityPaginator)"
            />
        </mat-form-field>

        @if (getSelection().length > 0) {
          <div class="selection">
            <button
              mat-icon-button
              color="warn"
              (click)="clearSelection()"
              >
              <mat-icon>close</mat-icon>
            </button>
            <p>{{ getSelection().length }} selected</p>
            <div class="quick-actions">
              @if (!filter().unfinished) {
                <button mat-menu-item [matMenuTriggerFor]="quickAddToCollectionMenu">
                  <mat-icon [matTooltip]="'Add to collection'"
                  color="primary">library_add</mat-icon>
                </button>
              }
              <button mat-menu-item (click)="openVisibilityAndAccess()">
                <mat-icon 
                [matTooltip]="'Visibility and access'"
                color="primary">visibility</mat-icon>
              </button>
              <button mat-menu-item (click)="multiRemoveEntities()">
                <mat-icon
                [matTooltip]="'Delete objects (forever)'" 
                color="warn">close</mat-icon>
              </button>
            </div>
            <button
              mat-icon-button
              color="primary"
              [matMenuTriggerFor]="selectionMenu"
              >
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu
              #selectionMenu="matMenu"
              yPosition="below"
               >
              @if (!filter().unfinished) {
                <button 
                mat-menu-item 
                [matMenuTriggerFor]="quickAddToCollectionMenu">
                  <mat-icon color="primary">library_add</mat-icon>
                  <span>{{'Add to collection' | translate }}</span>
                </button>
              }
                <!-- <button mat-menu-item (click)="manageOwners()">
                  <mat-icon color="primary">groups</mat-icon>
                  <span>Manage owners</span>
                </button> -->
                <button mat-menu-item (click)="multiRemoveEntities()">
                  <mat-icon color="warn">close</mat-icon>
                  <span>{{'Delete objects (forever)' | translate }}</span>
                </button>
            </mat-menu>
          </div>
        }

        <mat-paginator
          [length]="filteredLength()"
          [pageSize]="20"
          [pageSizeOptions]="[20]"
          (page)="pageEvent = $event"
          hidePageSize="true"
          color="primary"
          showFirstLastButtons="true"
          #entityPaginator
          >
        </mat-paginator>

        <app-selection-box></app-selection-box>

        <div class="entity-grid"
        >
          @for (entity of paginatorEntities(); track entity) {
            <div class="grid-item" #gridItem>
              <app-grid-element
                [element]="entity"
                [disableTypeInfo]="true"
                [disableNavigationOnClick]="true"
                (click)="addEntityToSelection(entity, $event)"
                [class.selected]="isSelected(entity)"
              ></app-grid-element>
              <!-- Advanced settings -->
              <button
                class="actionbutton"
                mat-icon-button
                [matMenuTriggerFor]="menu"
                color="primary"
                >
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu" yPosition="below">
                @if (!entity.finished) {
                  <button mat-menu-item (click)="continueEntityUpload(entity)">
                    <mat-icon color="primary">redo</mat-icon>
                    <span>{{ 'Continue upload' | translate }}</span>
                  </button>
                }
                @if (entity.finished) {
                  <a mat-menu-item [routerLink]="['/entity', entity._id]">
                    <mat-icon color="primary">remove_red_eye</mat-icon>
                    <span>{{ 'Visit object detail page' | translate }}</span>
                  </a>
                  <button mat-menu-item (click)="editViewerSettings(entity)">
                    <mat-icon color="primary">control_camera</mat-icon>
                    <span>{{ 'Viewer settings' | translate }}</span>
                  </button>
                  <button mat-menu-item (click)="editEntity(entity)">
                    <mat-icon color="primary">edit</mat-icon>
                    <span>{{ 'Edit metadata' | translate }}</span>
                  </button>
                  <button mat-menu-item (click)="openEntitySettings(entity)">
                    <mat-icon color="primary">settings</mat-icon>
                    <span>{{ 'Object settings' | translate }}</span>
                  </button>
                  <button
                    (click)="openEntityOwnerSelection(entity)"
                    mat-menu-item
                    >
                    <mat-icon color="primary">groups</mat-icon>
                    <span>{{ 'Manage owners' | translate }}</span>
                  </button>
                  <button mat-menu-item (click)="openVisibilityAndAccess(entity)">
                    <mat-icon color="primary">visibility</mat-icon>
                    <span>{{ 'Visibility and access' | translate }}</span>
                  </button>
                }
                <button
                  (click)="singleRemoveEntity(entity)"
                  mat-menu-item
                  color="accent"
                  >
                  <mat-icon color="accent">delete_forever</mat-icon>
                  <span>{{ 'Delete object (forever)' | translate }}</span>
                </button>
              </mat-menu>
            </div>
          }
        </div>
      </div>
    </ng-template>
  </mat-expansion-panel>

  <mat-menu #quickAddToCollectionMenu="matMenu">
    <button class="quick-add-button"
      mat-menu-item 
      mat-button 
      (click)="openCompilationWizard()">
      <span>{{ 'New collection with this object' | translate }}</span>
    </button>
    @if (userCompilations().length > 0) {
        <button
          class="quick-add-button"
          mat-menu-item
          [matMenuTriggerFor]="showUserCompilation"
          >
          <span>{{ 'Add to existing Collection' | translate }}</span>
        </button>
    }
  </mat-menu>

  <mat-menu #showUserCompilation="matMenu" yPosition="below" xPosition="after">
    @if (userCompilations().length > 0) {
      @for (compilation of userCompilations(); track compilation) {
        <button
          class="quick-add-button"
          mat-button
          mat-menu-item
          (click)="quickAddToCompilation(compilation)"
          >
          {{ compilation.name }}
        </button>
      }
    }
  </mat-menu>


