<div class="content" extendSlot="imprint-page" slotBehaviour="replace">
  <h1>Imprint</h1>
  <p>Imprint for this website – also serves as provider identification according to § 5 Digitale Dienste Gesetz (DDG)</p>

  <h2>Provider:</h2>
  <p>Technische Informationsbibliothek (TIB)</p>
  <p>Welfengarten 1 B, 30167 Hannover</p>
  <p>Postfach 6080, 30060 Hannover</p>

  <h2>Authorised Representative:</h2>
  <p>Prof. Dr. Sören Auer (Director of TIB)</p>
  <p>Technische Informationsbibliothek (TIB) is a foundation of public law of the state of Lower Saxony.</p>

  <h2>Responsible Supervisory Authority:</h2>
  <p>Ministry for Science and Culture of Lower Saxony</p>

  <h2>Contact:</h2>
  <p>Phone: +49 511 762-8989 or +49 511 762-2268</p>
  <p>Email: customerservicetibeu or informationtibeu</p>

  <h2>VAT (sales tax) registration number:</h2>
  <p>DE 214931803</p>

  <h2>Editorial Office:</h2>
  <p>Responsible for the content according to § 18 Abs. 2 MStV:</p>
  <p>Dr. Sandra Niemeyer; email: sandra.niemeyertibeu</p>
  <p>Michael Hohlfeld; email: michael.hohlfeldtibeu</p>

  <h2>Copyright:</h2>
  <p>The layout of this website is protected under copyright, as are the graphics and all other contents contained in the website.</p>
</div>
