@use '../../../easings' as easings;
@import '../../styles/breakpoints';

:host {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  gap: 4px;
  padding: 8px 16px;
  background-color: #f5f5f5;
  border: solid 1px #e6e6e6;
  border-radius: 4px;
  transition: border-color 0.1s easings.$easeOutQuad;
  margin-left: auto;
  flex-grow: 1;
  max-width: 400px;

  &:hover,
  &:focus,
  &:focus-within {
    border-color: var(--brand-color);
  }

  input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
  }

  mat-icon.clear-search-bar {
    pointer-events: none;
    cursor: pointer;
    filter: opacity(0);
    transform: translateX(8px);
    transition:
      filter 0.3s easings.$easeInOutQuart,
      transform 0.3s easings.$easeInOutQuart;

    &.show-clear {
      filter: opacity(1);
      transform: translateX(0px);
      pointer-events: auto;
    }
  }

  @include max-width(s) {
    max-width: unset;
    margin-left: unset;
    width: 100%;
  }
}
