<div class="content">

    <h1>Contact</h1>
    Kompakkt is being developed at the
    <p>
        Institute for Digital Humanities<br>
        University of Cologne<br>
        Albertus-Magnus-Platz<br>
        50931 Köln<br><br>
        <a href="mailto:kompakkt-contact@uni-koeln.de">kompakkt-contact@uni-koeln.de</a>
    </p>

    <h2>Kompakkt Team</h2>
    <p>
        Zoe Schubert&nbsp;
        <a href="https://github.com/ZetOE">
            <img src="assets/icons/GitHub-Mark-32px.png" height="15px" alt="GitHub">
        </a>
        <br>
        Kai Niebes&nbsp;
        <a href="https://github.com/HeyItsBATMAN">
            <img src="assets/icons/GitHub-Mark-32px.png" height="15px" alt="GitHub">
        </a>
        <br>
        Jan G. Wieners&nbsp;
        <a href="https://github.com/janwieners">
            <img src="assets/icons/GitHub-Mark-32px.png" height="15px" alt="GitHub">
        </a>
    </p>

</div>
