:host {
  display: flex;
}

#annotation-overview {
  background-color: #eee;
  padding: 0 2rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#wrap-annotate {
  display: grid;
  grid-template-columns: 3.5fr 1.5fr;
  grid-template-rows: auto;
  height: 100%;

  background-color: #eee;
  .iframe-container {
    height: 100%;
  }

  @media (max-width: 1024px) {
    display: flex;
    flex-flow: column;
  }
}

#annotation-viewer {
  margin-left: 36px;

  @media (max-width: 1024px) {
    margin-right: 35px;
  }
}

#annotation-data {
  margin: 0 35px;

  @media (max-width: 1024px) {
  }
}
