:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;

  &.demo-mode {
    max-width: 1024px;
    margin: 0 auto;
    padding: 32px;
    gap: 24px;

    > div {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 16px;
    }

    h1,
    h2,
    p {
      margin: 0;
    }

    h2 {
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.button-row {
  display: flex;
  gap: 8px;
}

#annotation-overview {
  background-color: #eee;
  padding: 0 2rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  div,
  iframe {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}
