.top-container {
  min-height: 400px;
  background-color: #111;

  @media (max-width: 1280px) {
    min-height: 100px;
  }
}

#teaser-container {
  display: flex;
  flex-direction: row;

  @media (max-width: 1280px) {
    flex-direction: column;
  }
}

#teaser-logo-container {
  background-color: #111;
  width: 45%;
  padding: 4rem;

  display: flex;
  justify-content: flex-start;

  @media (max-width: 1280px) {
    padding: 2rem 0;
    width: 100%;
    justify-content: center;
  }
}

#teaser-card-container {
  width: 55%;

  @media (max-width: 1280px) {
    width: 100%;

    .teaser-card p {
      width: 80%;
      margin: 0 10%;
    }
  }
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.mat-progress-bar {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: auto !important;
  opacity: 0.5;
}

.entity-grid {
  grid-template-columns: repeat(6, 1fr);

  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 550px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-item {
  cursor: pointer;
}

#teaser-cards {
  padding-top: 4rem;
  display: grid;

  @media (max-width: 1280px) {
    padding: 0;
  }

  div.teaser-card {
    opacity: 0;
    grid-row: 1;
    grid-column: 1;
    pointer-events: none;

    padding: 1rem;
    margin: 1rem;

    transition: opacity 1s;

    z-index: 14;

    a {
      color: #fff !important;
      text-decoration: none !important;
      text-align: center;
    }

    &.shown {
      pointer-events: auto;
      opacity: 1;
    }
  }
}

#teaser-controls {
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin: 0 0.25rem;

    &.control {
      background-color: white;
    }

    &.specific {
      color: white;
    }
  }
}

.col {
  .mat-icon {
    font-size: 5rem;
    height: 80px;
    width: auto;
    padding-right: 1.5rem;
    color: #eee;
    display: inline;
  }
  .col h1 {
    margin-bottom: 25px;
  }
}

#kompakkt-previews {
  margin-bottom: 50px;
  padding-left: 40px;

  h1 {
    padding-left: 0;
  }
}

#viewer-logo {
  display: flex;
  height: 176px;
  width: 450px;

  > div {
    display: flex;
    flex-flow: row wrap;
    height: inherit;
    z-index: 50;
  }

  #teaser-text {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #fff;
  }

  iframe {
    z-index: 100;
    height: inherit;
    width: 176px;
    transition: transform 500ms;
    transform: scale(1);

    &.display-fix {
      height: 100%;
      width: 175px;
      transform: scale(0);
    }
  }

  img {
    margin-bottom: -50px;
    margin-left: -20px;
  }
}
