<div class="bgr-white">

    <div fxLayout="row">

        <div fxFlex="75"
             style="height: 300px;"
             id="teaser">
            <div id="particles"></div>
            <div id="viewer-logo">
                <iframe [src]="viewerUrl | safe: 'resourceUrl'"
                        allowtransparency="true"
                        allowfullscreen></iframe>
                <img src="assets/kompakkt-logo-text.svg" alt="Kompakkt">
                <div id="teaser-text">
                    'cause the world is multidimensional.
                </div>
            </div>
        </div>
        <div fxFlex="25" style="background-color: #333; height: 300px;">
            Dolor sit amet
        </div>

    </div>

    <!--
    <section id="teaser">



        <div id="viewer-logo">
            <iframe [src]="viewerUrl | safe: 'resourceUrl'"
                    allowtransparency="true"
                    allowfullscreen></iframe>
            <img src="assets/kompakkt-logo-text.svg" alt="Kompakkt">
        </div>

        <div id="teaser-text">
            Kompakkt brings 3D models to the web and allows <span
                class="text-blue">multimedia annotations</span>.<br>It is a pleasure to support
            sharing of knowledge and open source software - not only for research purposes but for everyone.
        </div>
    </section>

    <section id="teaser-cards">

        <div class="col">
            <a routerLink="/explore">
                    <mat-icon>explore</mat-icon>
                    <h1>Explore. Share. Embed.</h1>
                    Kompakkt covers images, videos, audio files and 3D models. Explore them in 3D and become part of our
                    community to share your own content.
                    It is all here, in your browser.
                    More good news: you can embed all uploaded objects on other websites via iframe, said the developers.
            </a>
        </div>
        <div class="col">
            <a routerLink="/annotate">
                    <mat-icon>place</mat-icon>
                    <h1>Annotate.</h1>
                    Interact with the Kompakkt objects by adding descriptions or references to specific points in space.
                    You can also interlink Kompakkt multimedia objects. This is annotating with Kompakkt. Explore annotations of others, annotate yourself  or together with other.
            </a>
        </div>
        <div class="col">
            <a routerLink="/collaborate">
                    <mat-icon>people</mat-icon>
                    <h1>Collaborate</h1>
                    Objects, Annotations and the process of annotating allows collaboration with other Kompakkt users.
                    Known from the whole Kompakkt community and family, life is mostly better with friends. Trusting them, Kompakkt loves to share, starting by its own source code.
            </a>
        </div>
    </section>
    -->

    <section class="content"
             id="kompakkt-previews">
        <h1>
            Kompakkt Objects of the Month
            <mat-icon>star</mat-icon>
        </h1>

        <div class="entity-grid">
            <div *ngFor="let element of teaserEntities" class="grid-item">
                <app-entity-interaction-menu [element]="element" [userData]="userData"></app-entity-interaction-menu>
                <div class="image">
                    <img [src]="element.settings.preview" alt="{{element.name}}">
                </div>
                <div class="entity-type">
                    <mat-icon>{{icons[element.mediaType]}}</mat-icon>
                    <span class="type-text">{{ element.mediaType }}</span>
                </div>
                <div class="title">
                    <div class="titlewrapper">
                        {{ element.name }}
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
