#teaser {
  background-color: #111;
  padding: 60px 50px 35px 40px;
}

#teaser-text {
  font-size: 1.5rem;
  font-weight: lighter;
  color: #fff;
  position: absolute;
  top: 120px;
  left: 190px;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#teaser-cards {
  position: relative;
  background-color: #fff;
  padding: 50px 5%;
  display: grid;
  grid-gap: 30px;
  grid-auto-rows: 1fr;
  justify-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#teaser-cards .col {
  padding: 35px 25px;
  text-align: center;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in;

  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

#teaser-cards .col:hover {
  box-shadow: 0 .28571rem .85714rem 0 rgba(0, 0, 0, .3);
}

#teaser-cards .col a {
  text-decoration: none !important;
  color: inherit;
}

.col .mat-icon {
  font-size: 5rem;
  color: #333;
  display: inline;
}

.col h1 {
  margin-bottom: 25px;
}

#kompakkt-previews h1 {
  padding-left: 0;
}

#kompakkt-previews {
  margin-bottom: 50px;
  padding-left: 40px;
}

#viewer-logo {
  position: relative;
  margin-left: 1px;
}

#viewer-logo iframe {
  height: 175px;
  width: 175px;
}

#viewer-logo img {
  top: -25px;
  height: 200px;
  position: absolute;
}

@media(max-width: 800px) {

  #viewer-logo iframe {
    height: 150px;
    width: 150px;
  }

  #viewer-logo img {
    height: 195px;
  }

  #teaser {
    padding: 25px 50px;
  }
}

@media(max-width: 650px) {

  #viewer-logo iframe {
    height: 125px;
    width: 125px;
  }

  #viewer-logo img {
    height: 150px;
  }

  #teaser-text {
    font-size: 1.1em !important;
  }

  #teaser {
    padding: 25px 50px;
  }
}

@media(max-width: 550px) {

  #viewer-logo iframe {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #viewer-logo img {
    position: relative;
    height: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #teaser-text {
    padding-top: 0;
  }

  #teaser {
    padding: 25px 50px;
  }
}
