#kompakktbox {
  color: #333;
  font-size: 35px;
}

.teasertext-front {
  font-size: 2vw;
}

#teaser {
  background-color: #111;
  padding: 100px 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#teaser-cards {
  background-color: #fff;
  padding: 50px 10%;
}

.entry-card {
  padding: 35px 25px;
  text-align: center;
  background-color: #fff;
}

#teaser-cards a {
  display: flex !important;
  text-decoration: none !important;
}

.entry-card:hover {
  box-shadow: 0 .28571rem .85714rem 0 rgba(0, 0, 0, .3);
}

.entry-card .mat-icon {
  font-size: 5rem;
  color: #333;
  display: inline;
}

.entry-card h1 {
  margin-bottom: 25px;
}

.subheading {
  color: #aaa;
  padding-left: 15px;
  margin-bottom: 10px;
}

#kompakkt-previews h1 {
  padding-left: 15px;
}

#kompakkt-previews .mat-icon {
  color: #ffe54b;
}

#kompakkt-previews {
  margin-bottom: 50px;
  padding-left: 40px;
}

#viewer-logo {
  position: relative;
  margin-left: 10px;
}

#viewer-logo iframe {
  height: 185px;
  width: 185px;
}

#viewer-logo img {
  top: -20px;
  height: 215px;
  position: absolute;
}

@media(max-width: 850px) {

  #viewer-logo iframe {
    height: 150px;
    width: 150px;
  }

  #viewer-logo img {
    height: 195px;
  }
}

#teaser-text {
  padding: 25px;
  /* font-size: 1.7rem; */
  font-size: 2vw;
  font-weight: lighter;
  line-height: 2.3rem;
  color: #fff;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
