<div fxLayout="column"
     fxLayoutAlign="start none"
     class="fullheight">

    <div fxFlex fxLayout="row"
         fxLayout.sm="column"
         fxLayout.xs="column"
         fxLayoutAlign="center center" id="kompakktbox" class="fullheight">
        <div fxFlex="40%"
             fxFlex.sm="100"
             fxFlex.xs="100"
             fxLayoutAlign="end">
            <iframe [src]="viewerUrl | safe: 'resourceUrl'" style="width: 250px; height: 250px;"
                    allowfullscreen></iframe>
        </div>
        <div fxFlex fxLayoutAlign="bottom">
            <img src="assets/kompakkt-logo-text.svg" alt="Kompakkt" style="height: 115px; margin-right: 50px;">
        </div>
    </div>
    <div fxFlex>
        <app-entity-overview></app-entity-overview>
    </div>

</div>
