<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step label="Upload & Settings" [completed]="validateUpload()" #stepUpload>
    <blockquote>
      To test if your models are compatible with the Kompakkt Viewer you can drag & drop single files or folders into this instance.
      If everything is correct you can configure settings for your Object inside the Viewer.
      Afterwards, you can begin uploading your files to our servers at the bottom of this page.
    </blockquote>
    <app-upload></app-upload>
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile><button mat-raised-button color="warn" [disabled]="!(uploadHandler.isUploading || uploadHandler.uploadCompleted)" (click)="uploadHandler.resetQueue()">Cancel upload</button></mat-grid-tile>
      <mat-grid-tile><button mat-raised-button color="primary" [disabled]="uploadHandler.isUploading || uploadHandler.uploadCompleted" (click)="uploadHandler.startUpload()">Begin upload</button></mat-grid-tile>
      <mat-grid-tile><button mat-raised-button color="primary" matStepperNext [disabled]="!uploadHandler.isUploading && !uploadHandler.uploadCompleted">Next</button></mat-grid-tile>
    </mat-grid-list>
  </mat-step>
  <mat-step label="Metadata" #stepMetadata>
    <blockquote>
      // TODO: Metadata Text
    </blockquote>
    <app-entity [(entity)]="entity"></app-entity>
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile><button mat-raised-button matStepperPrevious>Back</button></mat-grid-tile>
      <mat-grid-tile><button (click)="validateEntity()" mat-raised-button color="primary" matStepperNext>Next</button></mat-grid-tile>
    </mat-grid-list>
  </mat-step>
  <mat-step label="Finalize" #stepFinalize>
    <blockquote>
      You're almost done. Please take time to see if you entered everything correctly.
      If you think everything is correct, press "Finish" and we will check for invalid content.
      // TODO: Finish upload
    </blockquote>

    <!-- TODO: Component -->
    <h4>Settings:</h4>
    <ng-container *ngIf="SettingsResult">
      Your settings for this entity are safe! Here's your preview image:
      <img [src]="SettingsResult.preview" />
    </ng-container>
    <ng-container *ngIf="!SettingsResult">
      You did not set any settings for this entity. You can set entity settings on the first page of this wizard inside the viewer.
      <button mat-raised-button color="accent" (click)="stepper.selectedIndex = 0">Take me to the settings</button>
    </ng-container>
    <!-- TODO END -->

    <!-- TODO: Component -->
    <h4>Files:</h4>
    <ng-container *ngIf="!validateUpload()">
      You have not uploaded any files yet
      <button mat-raised-button color="accent" (click)="stepper.selectedIndex = 0">Take me to the upload</button>
    </ng-container>
    <ng-container *ngIf="validateUpload() && UploadResult.files.length > 0">
      <p *ngFor="let file of UploadResult.files">{{ stringify(file) }}</p>
    </ng-container>
    <!-- TODO END -->

    <!-- TODO: Component -->
    <h4>Metadata:</h4>
    <ng-container *ngIf="!isEntityValid">
      You have not filled all required fields in the metadata form
      <button mat-raised-button color="accent" (click)="stepper.selectedIndex = 1">Take me to the metadata form</button>
    </ng-container>
    <ng-container *ngIf="isEntityValid">
      <p>{{ stringify(entity) }}</p>
    </ng-container>
    <!-- TODO END -->

    <!-- If we havent sent data to the server, display option to do so -->
    <mat-grid-list cols="2" rowHeight="100px" *ngIf="!isFinished">
      <mat-grid-tile><button mat-raised-button [disabled]="isFinishing" matStepperPrevious>Back</button></mat-grid-tile>
      <mat-grid-tile><button mat-raised-button [disabled]="!canFinish() || isFinishing" color="primary" (click)="tryFinish()">Finish!</button></mat-grid-tile>
    </mat-grid-list>

    <!-- Otherwise display button to progress -->
    <mat-grid-list cols="1" rowHeight="100px" *ngIf="isFinished">
      <mat-grid-tile><button mat-raised-button matStepperNext color="primary">Next</button></mat-grid-tile>
    </mat-grid-list>
  </mat-step>
  <mat-step *ngIf="isFinished" label="Publish" #stepPublish>
    <blockquote>
      Your entity is now on our server, but right now only you can see it.
      Do you want to publish it?
    </blockquote>
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile><button mat-raised-button [disabled]="!isChoosingPublishState" (click)="publishEntity()">Yes please</button></mat-grid-tile>
      <mat-grid-tile><button mat-raised-button [disabled]="!isChoosingPublishState" (click)="isChoosingPublishState =  false">No thanks</button></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile><button mat-raised-button [disabled]="isChoosingPublishState" (click)="navigateToFinishedEntity()">Take me to my model</button></mat-grid-tile>
    </mat-grid-list>
  </mat-step>
</mat-horizontal-stepper>
