<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step>
    <ng-template matStepLabel>Preview</ng-template>
    <blockquote>
      To test if your models are compatible with the Kompakkt Viewer you can drag & drop single files or folders into this instance.
      If everything is correct you can configure settings for your Object inside the Viewer.
      Afterwards, you can begin uploading your files to our servers at the bottom of this page.
    </blockquote>
    <app-upload></app-upload>
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile><button mat-raised-button color="warn" [disabled]="!(uploadHandler.isUploading || uploadHandler.uploadCompleted)" (click)="uploadHandler.resetQueue()">Cancel upload</button></mat-grid-tile>
      <mat-grid-tile><button mat-raised-button color="primary" [disabled]="uploadHandler.isUploading || uploadHandler.uploadCompleted" (click)="uploadHandler.startUpload()">Begin upload</button></mat-grid-tile>
      <mat-grid-tile><button mat-raised-button color="primary" matStepperNext [disabled]="!uploadHandler.isUploading && !uploadHandler.uploadCompleted">Next</button></mat-grid-tile>
    </mat-grid-list>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Metadata</ng-template>
    <blockquote>
      // TODO: Metadata Text
    </blockquote>
    <app-entity></app-entity>
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile><button mat-raised-button matStepperPrevious>Back</button></mat-grid-tile>
      <mat-grid-tile><button mat-raised-button color="primary" matStepperNext>Next</button></mat-grid-tile>
    </mat-grid-list>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finalize</ng-template>
    <blockquote>
      You're almost done. Please take time to see if you entered everything correctly.
      If you think everything is correct, press "Finish" and we will check for invalid content.
      // TODO: Finish upload
    </blockquote>
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile><button mat-raised-button matStepperPrevious>Back</button></mat-grid-tile>
      <mat-grid-tile><button mat-raised-button color="primary" (click)="stepper.reset()">Finish!</button></mat-grid-tile>
    </mat-grid-list>
  </mat-step>
</mat-horizontal-stepper>
