footer {
  font-size: .9em;
  padding: 0 50px;
}

footer a {
  text-decoration: none;
  color: #00afe7;
  padding: 5px;
  border-radius: 5px;
}

footer a:hover {
  background-color: #00afe7;
  color: #fff;
}

ul#footerlinks {
  display: inline-block;
  list-style-type: none;
}

ul#footerlinks li {
  display: inline-block;
  margin-right: 15px;
}

footer {
  border-top: 1px solid #eee;
}
