footer {
  background-color: #fff;
  font-size: .8em;
  padding: 5px 50px 5px 50px;
}

footer a {
  text-decoration: none;
  color: #00afe7;
  padding: 5px;
  border-radius: 5px;
}

footer a:hover {
  background-color: #00afe7;
  color: #fff;
}

#footerlinks {
  display: inline-block;
  margin-left: 15px;
}

#footerlinks ul {
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
}

#footerlinks ul li {
  display: inline-block;
  margin-right: 10px;
}

footer {
  border-top: 1px solid #eee;
}
