footer {
  background-color: #fff;
  font-size: 0.8em;
  padding: 5px 50px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #00afe7;
  padding: 5px;
}

footer a:hover {
  border-bottom: 1px solid #00afe7;
}

#footerlinks {
  display: inline-block;
  margin-left: 15px;
}

#footerlinks ul {
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
}

#footerlinks ul li {
  display: inline-block;
  margin-right: 10px;
}

footer {
  border-top: 1px solid #eee;
}

.footer-icon {
  height: 18px;
  margin-top: -2px;
  vertical-align: middle;
}
