<form [formGroup]="form" (submit)="trySubmit()">
  <h3>{{ concern !== '' ? concern : ('Login' | translate) }}</h3>
  <mat-form-field class="fullwidth">
    <input
      matInput
      placeholder="{{ 'Enter your username' | translate }}"
      type="text"
      autocomplete="username"
      name="username"
      formControlName="username"
      required
      />
  </mat-form-field>
  <mat-form-field class="fullwidth">
    <input
      matInput
      placeholder="{{ 'Enter your password' | translate }}"
      type="password"
      autocomplete="current-password"
      name="password"
      formControlName="password"
      required
      />
  </mat-form-field>
  <div class="button-row">
    <button
      id="btn-cancel"
      mat-stroked-button
      type="button"
      (click)="dialogRef.close(false)"
      [disabled]="waitingForResponse"
      >
      {{ 'Cancel' | translate }}
    </button>
    <button
      id="btn-login"
      mat-stroked-button
      type="submit"
      color="primary"
      [disabled]="!form.valid || waitingForResponse"
      >
      {{ 'Login' | translate }}
    </button>
  </div>
  <p>
    {{ 'Don’t have an account?' | translate }}
    <a href="javascript:void(0)" (click)="openRegistrationDialog()">{{ 'Register' | translate }}</a>
  </p>
</form>
@if (loginFailed) {
  <div class="errors">{{ 'Failed to login.' | translate }}<br />{{ 'Check username and password.' | translate }}</div>
}

<hr />

<div class="help">
  <h3>{{ 'Need help?' | translate }}</h3>
  <div class="help-row">
    <a href="javascript:void(0)" (click)="openForgotUsernameDialog()">{{ 'Forgot username?' | translate }}</a>
    <a href="javascript:void(0)" (click)="openForgotPasswordDialog()">{{ 'Forgot password?' | translate }}</a>
  </div>
</div>
