.entity-settings-dialog-content {
  width: 420px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

  .entity-settings-dialog-tab-content {
    padding: 0px;
  }

.entity-settings-list-item {
  background-color: white;
  transition: background-color 280ms;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: #eee;
  }
}

.person-list {

}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
mat-tab-group {
  width: 100%;
}

mat-form-field {
  width: 100%;
  * {
    width: 100%;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version.*/
mat-slide-toggle {
  padding: 0 1rem;
}

.entity-settings-dialog-buttons {
  button {
    margin: 0 1rem;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  align-items: center;
  &.end {
    justify-content: flex-end;
    margin-top: 10px;
  }

  mat-slide-toggle {
    ::ng-deep .mdc-form-field {
      font-size: 16px; // oder gewünschte Größe
    }
  }
}

button + button {
  margin-left: 0.5rem;
}

h2 {
  font-weight: 700;
  font-size: 16px;
}

h3 {
  font-size: 16px;
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}