.entity-settings-dialog-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .entity-settings-dialog-tab-content {
    padding: 0.5rem 0;
  }
}

.entity-settings-list-item {
  background-color: white;
  transition: background-color 280ms;

  &:hover {
    background-color: #eee;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
mat-tab-group {
  width: 100%;
}

mat-form-field {
  width: 100%;
  * {
    width: 100%;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version.*/
mat-slide-toggle {
  padding: 0 1rem;
}

.entity-settings-dialog-buttons {
  button {
    margin: 0 1rem;
  }
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &.end {
    justify-content: flex-end;
    margin-top: 10px;
  }
}

button + button {
  margin-left: 0.5rem;
}
