:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-sidenav-container {
  width: 100%;
  height: 100vh;
}

.optional-text {
  font-size: 14px;
  font-weight: bold;
}

::ng-deep {
  .mat-mdc-tab-header {
    display: none !important;
  }

  .mat-mdc-radio-group.licence-selection {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .mdc-label {
      display: flex;
      align-items: center;
      img {
        height: 48px;
        margin-right: 1rem;
      }
    }
  }

  .mat-mdc-radio-group.tab-selection {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .mat-mdc-radio-button {
      border-radius: 8px 0px 0px 8px;
      div.mdc-radio {
        display: none !important;
      }
      div.mdc-form-field {
        width: 100%;
      }
      label.mdc-label {
        padding: 12px 16px;
        cursor: pointer;
        width: 100%;
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 16px;
      }
      .mat-icon {
        transition: color 0.2s ease;
      }

      transition: background-color 0.2s ease;
      &:hover,
      &:focus,
      &:focus-within {
        background-color: rgba(0, 0, 0, 0.15);
      }

      &.mat-mdc-radio-checked {
        background-color: rgba(0, 0, 0, 0.25);
      }
    }
  }

  .mat-mdc-tab-body-content {
    min-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
