@use '@angular/material' as mat;
@import 'src/theme.scss';

:host {
  display: block;
  overflow: visible;
  height: 100%;
  overflow-y: scroll;
  padding: 0 2rem;
}

.block {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;

  box-shadow: 2rem 2rem 6rem #cacaca, -2rem -2rem 6rem #ffffff;

  h1,
  h2,
  h3 {
    color: mat.get-color-from-palette($kompakkt-primary, 500);
    margin-top: 0;
  }

  &:first-of-type {
    border-radius: 0 0 0.5rem 0.5rem;
  }

  &:last-of-type {
    margin-bottom: 4rem !important;
  }

  .button-row {
    .mat-flat-button {
      box-shadow: none;
      background: transparent;
    }
  }
}

#mediatype-counter {
  cursor: help;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: flex-start;
  align-items: center;
  grid-gap: 0.5rem;

  mat-icon,
  span {
    font-size: 1.2rem;
  }
  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#annotation-counter {
  display: flex;
  align-items: center;
  cursor: help;
  * {
    padding-right: 0.5rem;
  }
}

#collection-objects .mat-list-item,
#collection-objects .mat-list-option {
  height: 30px !important;
}
