<app-actionbar [showAnnotateButton]="true" [showEditButton]="true" [element]="comp"></app-actionbar>

<section fxFlex
         class="content">

    <div id="compilation-detail" *ngIf="objectReady">
        <div>
            <div class="iframe-container entity-viewer">
                <iframe *ngIf="viewerUrl !== ''" [src]="viewerUrl | safe: 'resourceUrl'"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div id="compilation-data">
            <div class="detail-block">
              <h1>{{comp.name}}</h1>
              <p>{{comp.description}}</p>

              <p>Created by {{ comp.relatedOwner.fullname }} on {{ getCreationDate() }}</p>

              <div id="actions">
                  <!--button mat-flat-button
                          matTooltip="Embed this compilation on your website"
                          (click)="embed()">
                      <mat-icon>perm_media</mat-icon>
                  </button-->
                  <a [href]="downloadJsonHref"
                     [download]="'obj-' + _id + '.json'"
                     (click)="generateDownloadJsonUri();">
                      <button mat-flat-button
                              matTooltip="Download Metadata">
                          <mat-icon>list_alt</mat-icon>
                      </button>
                  </a>
                  <button mat-flat-button matTooltip="Copy ID" (click)="copyID()">
                      <mat-icon>fingerprint</mat-icon>
                  </button>
              </div>
            </div>

            <div class="detail-block">
              <h1>Collection information</h1>
              <p>Contains {{ comp.entities.length }} objects</p>
              <p>The objects have a total of {{ comp.annotationList.length }} annotations</p>
            </div>
        </div>
    </div>
</section>
