h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  overflow-wrap: break-word;
}

.detail-block h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  color: #00afe7;
}

#mediatype-counter {
  cursor: help;
  display: grid;
  grid-template-columns: repeat(4, 50px);

  .mat-icon,
  span {
    font-size: 1.5rem;
  }

  > * {
    display: flex;
    justify-content: center;
  }
}

#annotation-counter {
  display: flex;
  align-items: center;
  cursor: help;
  * {
    padding-right: 0.5rem;
  }
}

#actions .mat-icon {
  transform: scale(1.5);
  padding-left: auto;
  padding-right: auto;
}

#actions .mat-mdc-unelevated-button > .mat-icon {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mat-mdc-nav-list a {
  text-decoration: none;
  color: inherit;
}

div.collection-objects-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 8px 0px;
  gap: 4px;

  a.list-item {
    word-break: break-all;
    hyphens: auto;
    text-wrap: balance;
    padding: 8px 16px;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:focus-within {
      background-color: #f5f5f5;
    }
  }
}
