<p [class]="isPhysical() ? 'metadata-header-physical' : 'metadata-header-digital'">
  {{ 'External identifiers' | translate }}
</p>
<app-outlined-input
  type="text"
  label="{{ 'Type (e.g. DOI) ' | translate }}"
  placeholder="{{ 'Enter a type' | translate }}"
  [formControl]="typeControl"
/>
<app-outlined-input
  type="text"
  label="{{ 'Value' | translate }}"
  placeholder="{{ 'Enter a value' | translate }}"
  [formControl]="valueControl"
/>

<div class="meta-button">
  <button
    mat-flat-button
    color="primary"
    [disabled]="!(isExternalIdentifiersValid$ | async)"
    (click)="addNewIdentifier()"
  >
    Add
  </button>
</div>

@if (!isPhysical()) {
  <mat-divider />
}

<app-optional-card-list [optionalData]="entity().externalId" [propertyType]="'externalId'" />
