<div class="settings-content">
    <h1>Edit profile</h1>
    <div class="settings-body">
        <div class="change-profile-picture">
         <div class="profilePicture"></div>
         <button mat-flat-button color="primary">
         {{ 'Change profile picture' | translate }}
         </button>
        </div>
        <div class="settings-form">
         <div class="settings-field">
             <h4>Profile name</h4>
             <input type="text" placeholder="Enter your profile name">
         </div>
         <div class="settings-field">
             <h4>E-Mail</h4>
                <input type="text" [(ngModel)]="mail" placeholder="Enter an email-address">
         </div>
         <div class="settings-field">
             <h4>Phone number</h4>
                <input matInput type="text" [(ngModel)]="phone" placeholder="Enter a phone number">
         </div>
         <div class="settings-field">
             <h4>Your bio</h4>
                <textarea matInput 
                type="text" 
                [(ngModel)]="bio" 
                placeholder="Enter a description" 
                >
                </textarea>
         </div>

         <div class="button-row">
            <button mat-stroked-button color="primary" (click)="this.userData.bio = bio;">
             {{ 'Cancel' | translate }}
            </button>
            <button mat-flat-button color="primary" (click)="updateData(bio, phone, mail)">
             {{ 'Save' | translate }}
            </button>
         </div>
      </div> 
    </div>
</div>


