@if (entity(); as entity) {
  @if (digitalEntity(); as digitalEntity) {
    <p [ngClass]="entity.hasRightsOwner() ? 'black-text' : 'accent-text'">Rightsowner:*</p>
  }
  @if (entity.rightsOwnerList(); as rightsOwnerList) {
    @if (rightsOwnerList.length > 0) {
      @if (physicalEntity()) {
        <p>Rightsowner:*</p>
      }
      @for (agent of rightsOwnerList; track $index) {
        <app-agent-card
          [agent]="agent"
          [entityId]="entity._id"
          (remove)="removeAgentRole(agent, 'RIGHTS_OWNER')"
        />
      }
    }
  }

  @if (digitalEntity(); as digitalEntity) {
    <p [ngClass]="entity.hasContactPerson() ? 'black-text' : 'accent-text'">Contact person:*</p>
  }
  @if (entity.contactPersonList(); as contactPersonList) {
    @if (contactPersonList.length > 0) {
      @if (physicalEntity()) {
        <p>Contact person:*</p>
      }
      @for (agent of contactPersonList; track agent; let index = $index) {
        <app-agent-card
          [agent]="agent"
          [entityId]="entity._id"
          (remove)="removeAgentRole(agent, 'CONTACT_PERSON')"
        />
      }
    }
  }

  @if (entity.creatorList(); as creatorList) {
    @if (creatorList.length > 0) {
      <p>Creator:</p>
      @for (agent of creatorList; track $index) {
        <app-agent-card
          [agent]="agent"
          [entityId]="entity._id"
          (remove)="removeAgentRole(agent, 'CREATOR')"
        />
      }
    }
  }

  @if (entity.editorList(); as editorList) {
    @if (editorList.length > 0) {
      <p>Editor:</p>
      @for (agent of editorList; track $index) {
        <app-agent-card
          [agent]="agent"
          [entityId]="entity._id"
          (remove)="removeAgentRole(agent, 'EDITOR')"
        />
      }
    }
  }

  @if (entity.dataCreatorList(); as dataCreatorList) {
    @if (dataCreatorList.length > 0) {
      <p>Data Creator:</p>
      @for (agent of dataCreatorList; track $index) {
        <app-agent-card
          [agent]="agent"
          [entityId]="entity._id"
          (remove)="removeAgentRole(agent, 'DATA_CREATOR')"
        />
      }
    }
  }
}
