@if (entity(); as entity) {
  @for (person of entity.persons; track person._id) {
    <div class="person">
      <div class="details">
        <p>{{ person.fullName }}</p>
        @if (person | getPersonContactReference: entity._id; as contactRef) {
          <p>{{ contactRef.mail }}</p>
          @if (contactRef.phonenumber) {
            <p>{{ contactRef.phonenumber }}</p>
          }
        }
      </div>
      <div class="roles">
        @for (role of person | getPersonOrInstitutionRoles: entity._id; track $index) {
          <span
            class="role"
            [class.required]="role === 'RIGHTS_OWNER' || role === 'CONTACT_PERSON'"
          >
            {{ metadataRoles[role] }}
            <button mat-icon-button color="white" (click)="removeAgentRole(person, role)">
              <mat-icon>close</mat-icon>
            </button>
          </span>
        } @empty {
          <span>No role specified</span>
        }
      </div>

      <div class="actions">
        <button mat-icon-button color="primary" (click)="onSelectAgent(person)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="removeAgent(person)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  }

  @for (institution of entity.institutions; track institution._id) {
    <div class="institution">
      <div class="details">
        <p>{{ institution.name }}</p>
        @if (institution | getInstitutionAddress: entity._id; as address) {
          <p>
            {{ address.street }} {{ address.number }}, {{ address.postcode }} {{ address.city }}
          </p>
        }
      </div>
      <div class="roles">
        @for (role of institution | getPersonOrInstitutionRoles: entity._id; track $index) {
          <span
            class="role"
            [class.required]="role === 'RIGHTS_OWNER' || role === 'CONTACT_PERSON'"
          >
            {{ metadataRoles[role] }}
            <button mat-icon-button color="white" (click)="removeAgentRole(institution, role)">
              <mat-icon>close</mat-icon>
            </button>
          </span>
        } @empty {
          <span>No role specified</span>
        }
      </div>

      <div class="actions">
        <button mat-icon-button color="primary" (click)="onSelectAgent(institution)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="removeAgent(institution)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  }
}
