<button class="actionbutton" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_horiz</mat-icon>
</button>

<mat-menu #menu="matMenu" yPosition="below">
  <ng-container *ngIf="element">
    <button mat-menu-item [routerLink]="['/entity', element._id]" *ngIf="isEntity">Open</button>

    <button mat-menu-item (click)="explore()">Explore</button>

    <button
      *ngIf="isEntity && isUserOwner"
      mat-menu-item
      [routerLink]="['/annotate', 'entity', element._id]"
    >
      Annotate
    </button>

    <button
      *ngIf="isCompilation && (isUserOwner || isElementPublic || isUserWhitelisted)"
      mat-menu-item
      [routerLink]="['/annotate', 'compilation', element._id]"
    >
      Annotate
    </button>

    <ng-container *ngIf="isUserOwner && showEdit">
      <button *ngIf="isEntity" mat-menu-item [matMenuTriggerFor]="editMenu">Edit</button>
      <button *ngIf="isCompilation" mat-menu-item (click)="editCompilation()">Edit</button>
    </ng-container>

    <button
      mat-menu-item
      [routerLink]="['/collaborate', isEntity ? 'entity' : 'compilation', element._id]"
    >
      Collaborate
    </button>
  </ng-container>
</mat-menu>

<mat-menu #editMenu="matMenu">
  <button mat-menu-item (click)="editSettingsInViewer()">Viewer settings</button>
  <button mat-menu-item (click)="editMetadata()">Metadata</button>
  <button mat-menu-item (click)="editVisibility()">Visibility</button>
</mat-menu>
