@if (selectionService.isSelectionMode()) {
  <div class="selection" [class.has-selection]="selectionService.selectedElements().length > 0">
    <button mat-icon-button (click)="selectionService.toggleSelectionMode()">
      <mat-icon>close</mat-icon>
    </button>
    <p [class.disabled]="!selectionService.hasSelection()">
      {{ selectionService.selectedElements().length }} {{ 'selected' | translate }}
    </p>

    <div [class.disabled]="!selectionService.hasSelection()" class="selection-actions">
      <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
    </div>
  </div>
} @else {
  <div>
    <button
      mat-flat-button
      color="primary"
      class="select-trigger-button"
      (click)="selectionService.toggleSelectionMode()"
    >
      <mat-icon class="material-symbols-outlined">select_check_box</mat-icon>
      {{ 'Multi-select' | translate }}
    </button>
  </div>
}
