@use '../../../queries' as queries;

:host {
  height: 100%;
  max-height: calc(100vh - 64px - 2rem - 4px);
  overflow-y: auto;

  display: grid;
  grid-template-columns: 3fr 2fr;

  background-color: #eee;

  padding: 0 2rem;
  grid-gap: 2rem;

  @include queries.less-than-large() {
    display: flex;
    flex-flow: column;
    padding: 0;
    grid-gap: 0;
    max-height: unset;
  }
}

.iframe-container {
  flex-grow: 1;
  min-height: 50vh;
}
