<!-- Actionbars -->
@if (isEntity(element)) {
  <app-actionbar
    [showAnnotateButton]="true"
    [showEditButton]="true"
    [element]="element"
    [showUsesInCollection]="true"
  ></app-actionbar>
}

@if (isCompilation(element)) {
  <app-actionbar
    [showAnnotateButton]="true"
    [showEditButton]="true"
    [element]="element"
  ></app-actionbar>
}
<!-- /Actionbars -->

<div id="detail-content">
  <!-- Viewer -->
  <div class="iframe-container entity-viewer">
    @if (viewerUrl !== '') {
      <iframe [src]="viewerUrl | safe: 'resourceUrl'" allowfullscreen></iframe>
    }
  </div>
  <!-- /Viewer -->

  <!-- Detail -->
  @if (isEntity(element)) {
    <div extendSlot="entity-detail" slotBehaviour="replace" [slotData]="element">
      <app-entity-detail [entity]="element" />
    </div>
  }
  @if (isCompilation(element)) {
    <div extendSlot="compilation-detail" slotBehaviour="replace" [slotData]="element">
      <app-compilation-detail [compilation]="element" />
    </div>
  }
  <!-- /Detail -->
</div>
