@if (element$ | async; as element) {
  <!-- Actionbars -->
  <app-actionbar
    [showAnnotateButton]="true"
    [showEditButton]="true"
    [element]="element"
    [showUsesInCollection]="isEntity() ? true : false"
  />
  <!-- /Actionbars -->

  <div id="detail-content">
    <!-- Viewer -->
    <div class="iframe-container entity-viewer">
      @if (viewerUrl(); as viewerUrl) {
        <iframe [src]="viewerUrl | safe: 'resourceUrl'" allowfullscreen></iframe>
      }
    </div>
    <!-- /Viewer -->

    <!-- Detail -->
    @if (element | isEntity) {
      <div extendSlot="entity-detail" slotBehaviour="replace" [dataObservable]="element$">
        <app-entity-detail [entity]="element" />
      </div>
    }
    @if (element | isCompilation) {
      <div extendSlot="compilation-detail" slotBehaviour="replace" [dataObservable]="element$">
        <app-compilation-detail [compilation]="element" />
      </div>
    }
    <!-- /Detail -->
  </div>
}
