@import '../../../breakpoints';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.iframe-container {
  flex-grow: 1;
  min-height: 50vh;
}

#detail-content {
  max-height: calc(100vh - 64px - 64px - 2rem - 4px);
  overflow-y: auto;

  flex-grow: 1;
  display: grid;
  grid-template-columns: calc(60% - 1rem) calc(40% - 1rem);
  grid-template-rows: 100%;

  background-color: #eee;

  padding: 0 2rem;
  grid-gap: 2rem;

  @include max-width(m) {
    display: flex;
    flex-flow: column;
    padding: 0;
    grid-gap: 0;
    max-height: unset;
  }
}

app-entity-detail,
app-compilation-detail {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}
