<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column"
                         fxFlexFill
                         class="bgr-white">
        <app-navbar fxFlex="65px"
                    (sidenavToggle)="sidenav.toggle()"></app-navbar>
        <main fxFlex
              fxFlexFill>
            <router-outlet></router-outlet>
        </main>
        <app-footer fxFlex="40px"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
