mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  height: auto !important;
  /* height of header */
}

app-navbar {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
}
