<div class="settings-content">
    <h1>Create an institutional profile</h1>
    <div class="settings-body">
        <div class="change-profile-picture">
            <div class="profilePicture"></div>
            <button mat-flat-button color="primary">
            {{ 'Change profile picture' | translate }}
            </button>
           </div>
        <div class="settings-form">
            <div class="settings-field">
                <h4>Organisation name</h4>
                <input type="text" placeholder="add your organisation name">
            </div>
            <div class="settings-field">
                <h4>Organisation</h4>
                <input type="text" placeholder="add kind of organisation">
            </div>
            <div class="settings-field">
                <h4>Location</h4>
                <input matInput type="text" placeholder="add your location">
            </div>
            <div class="settings-field">
                <h4>Website</h4>
                <input matInput type="text" placeholder="add your website">
            </div>
            <div class="settings-field">
                <h4>Your bio</h4>
                <textarea matInput type="text" placeholder="add a short bio"></textarea>
            </div>
            <div class="settings-field">
                <h4>Members</h4>
                <input matInput type="text" placeholder="add members by e-mail address">
            </div>
            <div class="button-row">
                <button mat-stroked-button color="primary">
                    Cancel
                </button>
                <button mat-flat-button color="primary">
                    Save
                </button>
            </div>
        </div>
        

    </div>
</div>