@use '@angular/material' as mat;
@import 'src/theme.scss';

.block {
  background: white;
  padding: 1rem 0;

  &:first-child {
    padding: 2rem;
  }

  h1 {
    color: mat.get-color-from-palette($kompakkt-primary, 500);
    margin-top: 0;
  }

  .button-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

@keyframes entity-detail-fade-in-btn {
  from {
    filter: opacity(0);
    transform: translateY(-10%);
  }
  to {
    filter: opacity(1);
    transform: translateY(0%);
  }
}

button {
  animation: entity-detail-fade-in-btn 500ms ease-out 0s;
}
