@use '@angular/material' as mat;
@import 'src/theme.scss';

:host {
  display: block;
  overflow: visible;
}

.block {
  background: white;
  padding: 1rem 0;
  border-radius: 0.5rem;

  box-shadow: 2rem 2rem 6rem #cacaca, -2rem -2rem 6rem #ffffff;

  &:first-of-type {
    border-radius: 0 0 0.5rem 0.5rem;
  }

  &:last-of-type {
    margin-bottom: 10rem !important;
  }

  &.padded {
    padding: 2rem;
  }

  h1 {
    color: mat.get-color-from-palette($kompakkt-primary, 500);
    margin-top: 0;
  }

  .button-row {
    .mat-flat-button {
      box-shadow: none;
    }
  }
}
