@use '@angular/material' as mat;
@use 'src/theme.scss' as theme;

.block {
  background: white;
  padding: 1rem 0;

  &:first-child {
    padding: 2rem;
  }

  h1 {
    color: mat.m2-get-color-from-palette(theme.$kompakkt-primary, 500);
    margin-top: 0;
  }

  .button-row {
    .mat-mdc-unelevated-button {
      box-shadow: none;
    }
  }
}

.button-row .mat-icon {
  transform: scale(1.5);
  padding-left: auto;
  padding-right: auto;
}

.button-row .mat-mdc-unelevated-button > .mat-icon {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
