#entity-detail {
  display: grid;
  height: calc(100vh - 195px);
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 1200px) {
    height: auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto;
  }
}

section.content {
  padding: 0;

}

.entity-viewer {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.detail-block h1 {
  margin: 5px 0;
}

#entity-data {
  padding: 25px;
  background-color: #fff;
  border: 3px solid #00afe7;
  overflow-y: auto;
  word-break: break-all;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

