<div class="metadata-container">
  <h2>Address</h2>
  <mat-form-field>
    <input required matInput placeholder="Country" [(ngModel)]="address.country">
  </mat-form-field>

  <mat-form-field>
    <input required matInput placeholder="City" [(ngModel)]="address.city">
  </mat-form-field>

  <mat-form-field>
    <input required matInput placeholder="Street" [(ngModel)]="address.street">
  </mat-form-field>

  <mat-form-field>
    <input required matInput placeholder="Number" [(ngModel)]="address.number">
  </mat-form-field>

  <mat-form-field>
    <input required matInput placeholder="Postal code" [(ngModel)]="address.postcode">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Building" [(ngModel)]="address.building">
  </mat-form-field>
</div>
