<div class="metadata-container" [formGroup]="address" *ngIf="address">

  <ng-container *ngIf="isExistingAddress">
    <p>Country: {{ country.value }}</p>
    <p>City: {{ city.value }} - Postal code: {{ postcode.value }}</p>
    <p>Street: {{ street.value }} - Number: {{ number.value }}</p>
    <p *ngIf="building.value !== ''">Building: {{ building.value }}</p>
  </ng-container>

  <ng-container *ngIf="!isExistingAddress">
    <h3>Address</h3>
    <mat-form-field>
      <input matInput [required]="required" placeholder="Country" formControlName="country">
    </mat-form-field>

    <mat-form-field>
      <input matInput [required]="required" placeholder="City" formControlName="city">
    </mat-form-field>

    <mat-form-field>
      <input matInput [required]="required" placeholder="Street" formControlName="street">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Number" formControlName="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput [required]="required" placeholder="Postal code" formControlName="postcode">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Building" formControlName="building">
    </mat-form-field>
  </ng-container>

</div>
