<h1 class="page-heading">{{ 'Explore' | translate }}</h1>

<div class="top-bar">
  <div class="tab-selection">
    <div
      class="tab-title"
      [class.selected]="selectedTab() === 'objects'"
      (click)="selectedTab.set('objects')"
    >
      {{ 'Objects' | translate }}
    </div>
    <div
      class="tab-title"
      [class.selected]="selectedTab() === 'collections'"
      (click)="selectedTab.set('collections')"
    >
      {{ 'Collections' | translate }}
    </div>
    <!-- TODO: Enable when institutional cards are implemented -->
    <!--
    <div
      class="tab-title"
      [class.selected]="selectedTab() === 'institutions'"
      (click)="selectedTab.set('institutions')"
    >
      {{ 'Institutions' | translate }}
    </div>
    -->
  </div>
  <div class="search-bar">
    <mat-icon>search</mat-icon>
    <input
      type="text"
      placeholder="{{ 'Search' | translate }}"
      #searchTextInput
      (input)="searchText.set(searchTextInput.value)"
      (change)="searchText.set(searchTextInput.value)"
      [matAutocomplete]="searchSuggestionAutocomplete"
      [value]="searchText()"
    />
    <mat-icon
      class="clear-search-bar"
      [class.show-clear]="searchTextInput.value.length > 0"
      (click)="searchTextInput.value = ''; searchText.set('')"
      >clear</mat-icon
    >

    <mat-autocomplete
      #searchSuggestionAutocomplete="matAutocomplete"
      (optionSelected)="searchText.set($event.option.value)"
    >
      @for (suggestion of searchTextSuggestions(); track suggestion) {
        <mat-option [value]="suggestion">{{ suggestion }}</mat-option>
      }
    </mat-autocomplete>
  </div>
  <div
    class="filter-sidenav-toggle"
    [class.has-active-filters]="numFilterOptions() > 0"
    [matTooltip]="
      numFilterOptions() > 0
        ? ('You have activated filters, modifying the search results' | translate)
        : ''
    "
    (click)="openFilterSidenav()"
  >
    <mat-icon>tune</mat-icon>

    @if (numFilterOptions() > 0) {
      <span>{{ numFilterOptions() }}</span>
    }
  </div>
</div>

<app-entity-grid>
  <div class="loading-overlay" [class.visible]="isWaitingForExploreResult()">
    <p>{{ 'Loading results. This can sometimes take a moment' | translate }}</p>
    <mat-spinner mode="indeterminate" />
  </div>

  @for (element of filteredResults; track element._id) {
    <app-grid-element
      class="grid-item"
      [element]="element"
      [quickAddToCollectionMenu]="quickAddToCollectionMenu"
      (updateSelectedObject)="selectObjectId = $event"
    />
  }
</app-entity-grid>

<div class="paginator-container">
  <mat-paginator
    [length]="paginator().length"
    [pageSize]="paginator().pageSize"
    [pageSizeOptions]="[24]"
    (page)="changePage($event)"
    [pageIndex]="paginator().pageIndex"
  />
</div>

<mat-menu #quickAddToCollectionMenu="matMenu">
  @if (!(isAuthenticated$ | async)) {
    <div style="padding: 0 2rem">
      <p>{{ 'You have to login to create and modify collections.' | translate }}</p>
    </div>
  }
  @if (isAuthenticated$ | async) {
    <button class="quick-add-button" mat-button (click)="openCompilationWizard(selectObjectId)">
      <mat-icon color="primary">create_new_folder</mat-icon>
      <span>{{ 'New collection with this object' | translate }}</span>
    </button>
    @if (userCompilations$ | async; as userCompilations) {
      @if (userCompilations.length > 0) {
        @for (compilation of userCompilations; track compilation._id) {
          <button class="quick-add-button" mat-button (click)="quickAddToCompilation(compilation)">
            {{ compilation.name }}
          </button>
        }
      }
    }
  }
</mat-menu>
