@use '../../../easings' as easings;
@import '../../../breakpoints';

:host {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  min-height: 90vh;
  width: 100%;
  margin: 0 auto;
  padding: 32px 16px;
  box-sizing: border-box;
  gap: 24px;

  h1.page-heading {
    margin: 0;
    color: var(--brand-color);
    grid-column: span 4;
  }
}

app-tabs {
  aside {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

div.filter-sidenav-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 8px;
  border-radius: 24px;
  background-color: var(--brand-color);
  color: white;

  &:hover,
  &:focus,
  &:focus-within {
    cursor: pointer;
  }

  &.has-active-filters {
    padding: 8px 12px;
  }
}

.paginator-container {
  grid-row: 3;
  grid-column: 1 / -1;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Entity Details Sidenav */
.sidebar {
  width: 0;
  right: 0;
  top: 128px;
  position: fixed;
  background-color: #eee;
  overflow: auto;
  height: calc(100% - 410px);
  padding: 8px 15px 15px 15px;
  display: none;

  &.sidebar-expanded {
    width: 40%;
    display: block;
  }
}

#main.sidebar-expanded {
  margin-right: 40%;
  padding-right: 65px;
}

.selection-history {
  padding: 8px 15px 0px 15px;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
mat-option {
  mat-icon {
    position: absolute;
    right: 0;
    top: 5px;
  }
}

#password-protection,
#compilation-fingerprint {
  margin-bottom: 10px;
}

.grid-item {
  mat-icon {
    &.help {
      cursor: help;
    }
    &.button {
      cursor: pointer;
    }
  }
}

.content {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}

.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic .mdc-evolution-chip__graphic {
  color: white;
}

app-entity-grid {
  position: relative;
  min-height: 240px;

  div.no-results {
    grid-column: span 3;
  }
}

div.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  filter: opacity(0);
  background-color: rgba(255, 255, 255, 0.9);
  transition: filter 500ms ease;
  z-index: 100;
  pointer-events: none;

  &.visible {
    filter: opacity(1);
    pointer-events: all;
    user-select: none;
  }
}
