@use '../../../easings' as easings;

:host {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
  padding: 32px 16px;
  box-sizing: border-box;
  gap: 32px;

  .entity-grid {
    grid-column: 1 / -1;
    grid-row: 2;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: scroll;
  }
}

div.top-bar {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 32px;
  h1 {
    grid-column: span 3;
    margin: 0;
    color: var(--brand-color);
  }
  div.search-bar {
    grid-column: span 2;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    padding: 8px 16px;
    background-color: #f5f5f5;
    border: solid 1px #e6e6e6;
    border-radius: 4px;
    transition: border-color 0.1s easings.$easeOutQuad;

    &:hover,
    &:focus,
    &:focus-within {
      border-color: var(--brand-color);
    }

    input {
      flex: 1;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
}

div.filter-sidenav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  div.filter-sidenav-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.1s easings.$easeOutQuad;

    &:hover,
    &:focus,
    &:focus-within {
      background-color: #f5f5f5;
      cursor: pointer;
    }
  }

  span {
    font-weight: 700;
    font-size: 16px;
  }

  div.counter-activated-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: var(--brand-color);
    color: white;
    border-radius: 50%;
    font-size: 16px;
    user-select: none;
    transition:
      background-color 0.5s easings.$easeOutQuad,
      color 0.5s easings.$easeOutQuad;

    &:not(.active) {
      color: transparent;
      background-color: transparent;
    }
  }

  button.clear-all-button {
    border-radius: 32px;
    letter-spacing: normal;
  }
}

@keyframes sidenav-activ-filter-button-fade-in {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

div.sidenav-filter-options {
  /*grid-column: 4;
  grid-row: 1 / -1;*/
  z-index: 2;
  position: fixed;
  --top: 94px;
  --right: 0px;
  top: var(--top);
  right: var(--right);

  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  align-items: stretch;
  padding: 16px;
  margin-top: -16px;
  margin-left: -8px;
  box-sizing: border-box;
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px 0px 0px 4px;

  transform: translateX(100%);
  filter: opacity(0);
  transition:
    transform 0.3s easings.$easeInOutQuart,
    filter 0.3s easings.$easeInOutQuart;

  &.opened {
    transform: translateX(0);
    filter: opacity(1);
  }

  div.active-filters {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    max-width: 320px;
    button.active-filter {
      animation: sidenav-activ-filter-button-fade-in 0.5s easings.$easeOutQuad;
      border-radius: 32px;
      border: solid 1px var(--brand-color);
      flex-direction: row-reverse;
      letter-spacing: normal;
      mat-icon {
        color: red;
        margin-right: var(--mat-filled-button-icon-offset, 8px);
        margin-left: var(--mat-filled-button-icon-spacing, 8px);
      }
    }
    &:empty {
      margin-top: -16px;
    }
  }
}

.paginator-container {
  grid-row: 3;
  grid-column: 1 / -1;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Entity Details Sidenav */
.sidebar {
  width: 0;
  right: 0;
  top: 128px;
  position: fixed;
  background-color: #eee;
  overflow: auto;
  height: calc(100% - 410px);
  padding: 8px 15px 15px 15px;
  display: none;

  &.sidebar-expanded {
    width: 40%;
    display: block;
  }
}

#main.sidebar-expanded {
  margin-right: 40%;
  padding-right: 65px;
}

.selection-history {
  padding: 8px 15px 0px 15px;
}

.sidebar-expanded .entity-details .entity-grid .grid-item:hover,
.sidebar-expanded .collection-details .entity-grid .grid-item:hover {
  box-shadow:
    0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.sidebar-expanded .collection-details .entity-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.sidebar.sidebar-expanded .close-sidebar-button {
  position: fixed;
  right: 5px;
  transform: scale(0.75);
  z-index: 5;
  background-color: #ccc;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
mat-option {
  mat-icon {
    position: absolute;
    right: 0;
    top: 5px;
  }
}

#password-protection,
#compilation-fingerprint {
  margin-bottom: 10px;
}

.grid-item {
  mat-icon {
    &.help {
      cursor: help;
    }
    &.button {
      cursor: pointer;
    }
  }
}

.quick-add-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-weight: 400;
  mat-icon {
    margin-right: 0.3rem;
    height: auto;
    width: auto;
    font-size: 24px;
  }
  * {
    padding-right: 0.4rem;
  }
}

.content {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}

.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic .mdc-evolution-chip__graphic {
  color: white;
}

.entity-grid {
  position: relative;
  min-height: 240px;
}

div.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  filter: opacity(0);
  background-color: rgba(255, 255, 255, 0.9);
  transition: filter 500ms ease;
  z-index: 9999;
  pointer-events: none;

  &.visible {
    filter: opacity(1);
    pointer-events: all;
    user-select: none;
  }
}
