<form [formGroup]="form" (submit)="trySubmit()">
  <h3>{{ 'Register' | translate }}</h3>
  <p>
    {{ 'Note: if you are a member of the University of Cologne you can use your University account to login and do not need to register.' | translate }}
  </p>
  <mat-form-field class="fullwidth">
    <input
      name="mail"
      autocomplete="email"
      placeholder="{{ 'E-Mail address' | translate }}"
      type="mail"
      matInput
      formControlName="mail"
    />
  </mat-form-field>
  <mat-form-field class="fullwidth">
    <input
      name="prename"
      autocomplete="given-name"
      placeholder="{{ 'Given name' | translate }}"
      type="text"
      matInput
      formControlName="prename"
    />
  </mat-form-field>
  <mat-form-field class="fullwidth">
    <input
      name="surname"
      autocomplete="last-name"
      placeholder="{{ 'Last name' | translate }}"
      type="text"
      matInput
      formControlName="surname"
    />
  </mat-form-field>
  <mat-form-field class="fullwidth">
    <input
      name="username"
      autocomplete="username"
      placeholder="{{ 'Username' | translate }}"
      type="text"
      matInput
      formControlName="username"
    />
  </mat-form-field>
  <mat-form-field class="fullwidth">
    <input
      name="password"
      autocomplete="new-password"
      placeholder="{{ 'Password' | translate }}"
      type="password"
      matInput
      formControlName="password"
    />
  </mat-form-field>
  <mat-form-field class="fullwidth">
    <input
      name="password"
      autocomplete="new-password"
      placeholder="{{ 'Repeat password' | translate }}"
      type="password"
      matInput
      formControlName="passwordRepeat"
    />
  </mat-form-field>

  <div class="button-row">
    <button
      mat-stroked-button
      (click)="dialogRef.close('cancel')"
      color="warn"
      [disabled]="waitingForResponse"
    >
      {{ 'Cancel' | translate }}
    </button>
    <button
      mat-stroked-button
      type="submit"
      color="primary"
      [disabled]="!form.valid || waitingForResponse"
    >
      {{ 'Create new account' | translate }}
    </button>
  </div>
</form>

<div class="errors" *ngIf="error">{{ error }}</div>
