<form [formGroup]="form" (submit)="trySubmit()" id="registerForm">
  <div class="registerDialog">
    <div class="titleAndClose">
      <h3>{{ 'Register' | translate }}</h3>
      <button
        mat-icon-button
        class="close-dialog-button"
        (click)="dialogRef.close(false)"
        tabindex="-1"
        type="button"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <app-outlined-input
      formControlName="mail"
      label="E-Mail address"
      autofillHint="email"
      name="mail"
    />

    @if (form.touched && form.get('mail')?.hasError('email')) {
      <p class="error">{{ 'Please enter a valid email address' | translate }}</p>
    }

    <app-outlined-input
      formControlName="prename"
      label="{{ 'First name' | translate }}"
      autofillHint="given-name"
      name="prename"
      type="text"
    />

    <app-outlined-input
      formControlName="surname"
      label="{{ 'Last name' | translate }}"
      autofillHint="last-name"
      name="surname"
      type="text"
    />

    <app-outlined-input
      formControlName="username"
      label="{{ 'Username' | translate }}"
      autofillHint="username"
      name="username"
      type="text"
    />

    <app-outlined-input
      formControlName="password"
      label="{{ 'Password' | translate }}"
      autofillHint="new-password"
      name="password"
      type="password"
    />

    <app-outlined-input
      formControlName="passwordRepeat"
      label="{{ 'Repeat password' | translate }}"
      autofillHint="new-password"
      name="password"
      type="password"
    />

    @if (form.get('passwordRepeat')?.hasError('passwordMismatch')) {
      <p class="error">{{ 'Passwords do not match' | translate }}</p>
    }

    <div class="register-btn">
      <button
        mat-flat-button
        type="submit"
        color="primary"
        [disabled]="!form.valid || waitingForResponse"
      >
        {{ 'Create new account' | translate }}
      </button>
    </div>
    <p>
      {{ 'Already have an account?' | translate }}
      <a href="javascript:void(0)" (click)="openAuthDialog()">{{ 'Login' | translate }}</a>
    </p>
  </div>
</form>
