.card > p {
    margin: 0;
  }

  :host {
    display: block; /* Sicherstellen, dass die Komponente Block-Verhalten hat */
  }
  
  :host-context(app-agent-card:not(:last-child)) {
    margin-bottom: 10px;
  }