@if (agent(); as agent) {
  <div class="card">
    <div>
      @if (agent | isPerson) {
        <p>{{ agent.fullName }}</p>
        @if (contactReference(); as contactRef) {
          <p>{{ contactRef.mail }}</p>
        }
      } @else {
        <p>{{ agent.name }}</p>
        @if (address(); as address) {
          <p>
            {{ address.street }} {{ address.number }}, {{ address.postcode }} {{ address.city }}
          </p>
        }
      }
    </div>
    <div class="actions">
      <button mat-icon-button color="primary" (click)="onSelectAgent()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="remove.emit()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
}
