<div>
  <p [class]="isPhysical() ? 'metadata-header-physical' : 'metadata-header-digital'">
    {{ 'Bibliographic references' | translate }}
  </p>

  <!-- ToDo: Add Icon-Button inside Input -->
  <app-outlined-input
    type="text"
    name="description"
    label="{{ 'Description' | translate }}"
    placeholder="{{ 'Enter a description' | translate }}"
    [formControl]="descriptionControl"
    [class.font-color-on-edit]="descriptionControl.disabled && descriptionControl.value"
  >
    @if (dataIsEditable) {
      <button inputSuffix class="editButton" (click)="onEditData('description')">
        <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
      </button>
    }
  </app-outlined-input>

  <app-outlined-input
    type="text"
    name="url"
    label="{{ 'Reference (e.g. Title, Author, Year)' | translate }}"
    placeholder="{{ 'Enter value' | translate }}"
    [formControl]="referenceControl"
    [class.font-color-on-edit]="referenceControl.disabled && referenceControl.value"
  >
    @if (dataIsEditable) {
      <button inputSuffix class="editButton" (click)="onEditData('reference')">
        <mat-icon color="primary">{{ 'edit' | translate }}</mat-icon>
      </button>
    }
  </app-outlined-input>
</div>
<div class="meta-button">
  <button mat-stroked-button color="primary" (click)="resetFormFields()">
    {{ 'Clear' | translate }}
  </button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!isBiblioDataValid"
    (click)="!isUpdating ? addNewBiblioData() : updateMetadata()"
  >
    {{ (isUpdating ? 'Update' : 'Add') | translate }}
  </button>
</div>

@if (!isPhysical()) {
  <mat-divider />
}

<app-optional-card-list [optionalData]="entity().biblioRefs" [propertyType]="'biblio'" />
