<div>
    <mat-form-field>
    <mat-label>{{ 'Description' | translate }}</mat-label>
    <input
        matInput
        type="text"
        name="description"
        placeholder="{{ 'Enter a description' | translate }}"
        [formControl]="descriptionControl"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'Url' | translate }}</mat-label>
        <input
        matInput
        type="text"
        name="url"
        placeholder="{{ 'Enter an url' | translate }}"
        [formControl]="urlControl"
        />
    </mat-form-field>
</div>
<div class="meta-button">
    <button
      mat-flat-button
      color="primary"
      [disabled]="!isBiblioDataValid"
      (click)="addNewBiblioData()"
      >
      Add
    </button>
</div>

<mat-divider></mat-divider>

<app-optional-card-list [optionalData]="entity.biblioRefs" [propertyType]="'biblio'"></app-optional-card-list>
<!-- <div>
    @for (biblioRef of entity.biblioRefs; track biblioRef; let index = $index) {
      <div class="card">
        <ng-container>
          <p>
            <span> {{ 'Description: ' }} </span>
            <span> {{ biblioRef.description }} </span>
          </p>
          <p *ngIf="biblioRef.value">
            <span> {{ 'Url: ' }} </span>
            <span> {{ biblioRef.value }} </span>
          </p>
        </ng-container>
        <div class="actions">
          <button
            mat-icon-button
            color="warn"
            (click)="removeProperty('biblioRefs', index)"
            >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    }
  </div> -->