<h2 class="title-with-button">
  {{ 'Group details' | translate }}
  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<h3>{{ 'Name' }}</h3>

<p>{{ group?.name }}</p>

<h3>{{ 'Group creator' | translate }}</h3>

<p>{{ group?.creator?.fullname }}</p>

<h3>{{ 'Owners' | translate }}</h3>

@for (owner of group?.owners; track owner._id) {
  <div class="name">
    <mat-icon>person_outline</mat-icon>
    <div class="name-stack">
      <span>{{ owner.fullname }}</span>
      <small>{{ owner.username }}</small>
    </div>
  </div>
}

<h3>{{ 'Members' | translate }}</h3>

@for (owner of group?.members; track owner._id) {
  <div class="name">
    <mat-icon>person_outline</mat-icon>
    <div class="name-stack">
      <span>{{ owner.fullname }}</span>
      <small>{{ owner.username }}</small>
    </div>
  </div>
}
