<ng-container *ngIf="institution$ | async as institution">
  <h3>{{ institution.name }}</h3>

  <div class="address" *ngIf="address$ | async as address">
    <p *ngIf="address.country">{{ address.country }}</p>
    <p *ngIf="address.postcode || address.city">
      <span *ngIf="address.postcode">{{ address.postcode }}</span>
      <span *ngIf="address.city">{{ address.city }}</span>
    </p>
    <p *ngIf="address.street || address.number">
      <span *ngIf="address.street">{{ address.street }}</span>
      <span *ngIf="address.number">{{ address.number }}</span>
    </p>
    <p *ngIf="address.building">{{ address.building }}</p>
  </div>

  <p *ngIf="note$ | async as note">{{ note }}</p>

  <mat-chip-listbox *ngIf="roles$ | async as roles">
    <mat-chip-option color="primary" *ngFor="let role of roles">{{ role }}</mat-chip-option>
  </mat-chip-listbox>
</ng-container>
