#confirmation-container {
  max-width: 20rem;
  padding-bottom: 0.5rem;

  .mat-dialog-content {
    overflow-wrap: break-word;
    white-space: pre-line;
  }

  .mat-dialog-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

p {
  margin: 0;
  & + p {
    margin-top: 0.5rem;
  }
}
