.mat-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  button#delete-button {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(0%, -33%);
  }

  button#edit-button {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(-115%, -33%);
  }
}

.metadata-drag-drop-area {
  width: 100%;
  min-height: 150px;
  background-color: #eee;
  border-radius: 1rem;

  mat-list, mat-list-item {
    pointer-events: none;
  }
}

.external-file-input-field {
  display: flex;
  flex-direction: column;

  .external-file-input {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
    width: 80%;
    }
  }
}
