.metadata-drag-drop-area {
  width: 100%;
  min-height: 150px;
  background-color: #eee;
  border-radius: 1rem;

  mat-list, mat-list-item {
    pointer-events: none;
  }
}

.external-file-input-field {
  display: flex;
  flex-direction: column;

  .external-file-input {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
    width: 80%;
    }
  }
}

.licence-description {
  margin-left: 10px;
}

.mat-button {
  padding: 0 15px 0 0;
}

.placeForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}

.expansion-panel-header {
  padding: 0;
  align-items: center;

  .mat-expansion-panel-header-title {
    align-items: center;

    .mat-icon {
      color: #e91e63;
      margin-left: -0.5rem;
      padding-right: 0.5rem;
    }
  }

  .expansion-panel-title {
    font-size: 1.2rem;
    flex-grow: 0;
    padding-right: 1rem;
  }
  .expansion-panel-desc {
    font-size: 1rem;
    height: 1rem;
    line-height: 1rem;
    align-self: center;
  }
}
