<div id="teaser-container">
  <div id="particles"></div>
  <div id="logo" [class.shown]="viewerLoaded()">
    @if (customLogoAsset(); as asset) {
      <div class="custom-logo">
        <img src="{{ asset }}" alt="Custom Kompakkt Logo" />
        @if (customLogoText(); as text) {
          @if (customLogoTextColor(); as color) {
            <p [style.color]="color">{{ text }}</p>
          } @else {
            <p>{{ text }}</p>
          }
        }
      </div>
    } @else {
      <div class="default-logo">
        <img class="cube" src="assets/kompakkt-logo-cube.svg" alt="Kompakkt" />
        <img class="text" src="assets/kompakkt-logo-text.svg" alt="Kompakkt" />
        <p class="subtitle">
          {{ "'cause the world is multidimensional." | translate }}
        </p>
      </div>
    }

    <iframe
      #viewerFrame
      [src]="viewerUrl() | safe: 'resourceUrl'"
      class="display-fix"
      style="background-color: transparent"
      allowtransparency="true"
      allowfullscreen
      (load)="onViewerLoad($event)"
    ></iframe>

    <h1 class="headline">
      {{
        'An open source 3D viewer
        working towards IIIF compliance' | translate
      }}
    </h1>
  </div>
</div>

<div class="features">
  <div class="feature">
    <h2>{{ 'Wide format variety' | translate }}</h2>
    <p>
      {{
        'We support a comprehensive range of formats including 3D models, point clouds, and Gaussian splatting models.'
          | translate
      }}
    </p>
  </div>
  <div class="feature">
    <h2>{{ 'Explore, Annotate, Collaborate' | translate }}</h2>
    <p>
      {{
        'Explore and annotate objects in 3D, create your own collections and collaborate within your community. '
          | translate
      }}
    </p>
  </div>
  <div class="feature">
    <h2>{{ 'Open source' | translate }}</h2>
    <p>
      {{
        'Kompakkt is free and open source. Everyone is invited to contribute and help us build the future of 3D viewing.'
          | translate
      }}
    </p>
  </div>
</div>

<button
  mat-flat-button
  color="primary"
  class="rounded"
  style="width: fit-content; margin: 32px auto; border-radius: 32px; padding-left: 18px"
  [routerLink]="['/explore']"
>
  <mat-icon>explore</mat-icon>
  {{ 'Explore' | translate }}
</button>
