@use '../../../breakpoints' as breakpoints;

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  --relative-unit: 33vw;
}

#teaser-container {
  background-color: #1d1d1d;

  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-content: center;
  place-items: center;
  align-items: center;

  min-height: 70vh;

  iframe {
    width: 100%;
    height: 100%;
    transition: transform 500ms;
    transform: scale(0);

    // mix-blend-mode: lighten;
  }

  @media (max-width: 920px) {
    padding: 32px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;

    --relative-unit: min(420px, 80vw);

    > div.default-logo,
    div.custom-logo {
      align-self: unset;
      max-width: unset;
    }

    iframe {
      min-height: 50vh;
    }
  }
}

div.front {
  color: white;
}

#logo {
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 'logo' 'headline';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 16px;
  z-index: 1;

  color: white;

  div.default-logo,
  div.custom-logo {
    grid-area: logo;
    align-self: flex-end;
  }

  h1 {
    grid-area: headline;
    font-size: calc(var(--relative-unit) * 0.0525);
    margin: 0;
    font-weight: 400;
    width: var(--relative-unit);
  }

  transition:
    filter 500ms cubic-bezier(0.33, 1, 0.68, 1),
    transform 1s cubic-bezier(0.33, 1, 0.68, 1);
  transform: translateY(-10%);
  filter: opacity(0);

  &.shown {
    transform: translateY(0%);
    filter: opacity(1);
  }
}

div.default-logo,
div.custom-logo {
  display: grid;
  grid-template-areas: 'cube text' 'cube subtitle';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr;
  align-items: center;
  align-content: center;
  width: fit-content;

  --cube-height: calc(0.33 * var(--relative-unit));

  img.cube {
    grid-area: cube;
    height: var(--cube-height);
    width: var(--cube-height);
  }
  img.text {
    transform: translateY(calc(var(--cube-height) * 0.125));
    grid-area: text;
    width: 100%;
    // height: 100%;
    align-self: flex-end;
  }
  p.subtitle {
    transform: translateY(calc(var(--cube-height) * 0.125));
    grid-area: subtitle;
    margin: 0;
    align-self: flex-start;
    font-size: calc(var(--cube-height) * 0.12);
  }
}

div.features {
  display: grid;
  max-width: calc(var(--relative-unit) * 2.25);
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 92px;
  padding: 32px 0px;
  box-sizing: border-box;

  h2 {
    color: var(--brand-color);
    font-weight: bold;
  }

  @media (max-width: 920px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}
