@if (person(); as person) {
  <div class="person-card">
    <p>{{ person.prename }} {{ person.name }}</p>
    @if (roles(); as roles) {
      <p class="capitalize format-title-agents">
        @for (role of roles; track role; let last = $last) {
          {{ role }}{{ last ? '' : ',' }}
        }
      </p>
    }
  </div>

  @if (institutions(); as institutions) {
    <div class="block">
      @for (institution of institutions; track institution) {
        <app-detail-institution [institution]="institution" />
      }
    </div>
  }
}
