@use '@angular/material' as mat;
@use '../../../../theme.scss' as theme;

:host {
  display: block;
  line-height: 1;
}

h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.mat-mdc-chip[color='primary'] {
  background: mat.m2-get-color-from-palette(theme.$kompakkt-primary, 500);
  color: white !important;
  text-transform: capitalize;
}

app-detail-institution {
  padding: 0.5rem 0;
}

/* Maybe global for other chips? */
::ng-deep
  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  margin-left: 10px;
  color: white !important;
  text-transform: capitalize;
}

::ng-deep
  .mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic
  .mdc-evolution-chip__graphic {
  display: none !important;
}
