@import '~@angular/material/theming';
@import 'src/theme.scss';

:host {
  line-height: 1;
}

h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.mat-chip[color='primary'] {
  background: mat-color($kompakkt-primary, 500);
  color: white;
  text-transform: capitalize;
}
