@use '@angular/material' as mat;
@use '../../../../theme.scss' as theme;

:host {
  display: block;
  line-height: 1;
}

h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

app-detail-institution {
  padding: 0.5rem 0;
}

::ng-deep
  .mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic
  .mdc-evolution-chip__graphic {
  display: none !important;
}
