@if (entity(); as entity) {
  @if (physicalEntity(); as physicalEntity) {
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ 'Reference object' | translate }}</mat-panel-title>
      </mat-expansion-panel-header>
      <h2 class="title">{{ physicalEntity.title }}</h2>
      <p>{{ physicalEntity.description }}</p>
      @if (physicalEntity.collection) {
        <p>{{ physicalEntity.collection }}</p>
      }
      @if (hasDimensions()) {
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'Dimensions' | translate }}</mat-panel-title>
            <mat-panel-description />
          </mat-expansion-panel-header>
          <div class="wrap-container">
            @for (dimension of dimensions(); track dimension) {
              <p>
                <span>{{ dimension.name }}:</span>
                <span>{{ dimension.value }}</span>
                <span>{{ dimension.type }}</span>
              </p>
            }
          </div>
        </mat-expansion-panel>
      }
      @if (address(); as address) {
        <div>
          <mat-expansion-panel expanded class="address">
            <mat-expansion-panel-header>
              <mat-panel-title> {{ 'Place' | translate }} </mat-panel-title>
            </mat-expansion-panel-header>
            @if (place(); as place) {
              <p>{{ place.name }}</p>
            }
            @if (address.building) {
              <p>{{ address.building }}</p>
            }
            @if (address.street || address.number) {
              <p>
                @if (address.street) {
                  <span>{{ address.street }}</span>
                }
                @if (address.number) {
                  <span>{{ address.number }}</span>
                }
              </p>
            }
            @if (address.postcode || address.city) {
              <p>
                @if (address.postcode) {
                  <span>{{ address.postcode }}</span>
                }
                @if (address.city) {
                  <span>{{ address.city }}</span>
                }
              </p>
            }
            @if (address.country) {
              <p>{{ address.country }}</p>
            }
          </mat-expansion-panel>
        </div>
      } @else {
        @if (place(); as place) {
          <div class="block">
            @if (place.name) {
              <p>{{ place.name }}</p>
            }
            @if (place.geopolarea) {
              <p>{{ place.geopolarea }}</p>
            }
          </div>
        }
      }
      <!-- ToDo Hotfix: Duplicate code for design -->
      @if (hasPersonsOrInstitutions()) {
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'Persons and Institutions' | translate }}
            </mat-panel-title>
            <mat-panel-description />
          </mat-expansion-panel-header>
          <div class="wrap-container">
            @if (persons(); as persons) {
              @for (person of persons; track person) {
                <app-detail-person class="wrap-item" [person]="person" />
              }
            }
            @if (institutions(); as institutions) {
              @for (institution of institutions; track institution) {
                <app-detail-institution class="wrap-item" [institution]="institution" />
              }
            }
          </div>
        </mat-expansion-panel>
      }
      @if (hasExternalIds()) {
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'External identifiers' | translate }}</mat-panel-title>
            <mat-panel-description />
          </mat-expansion-panel-header>
          @for (identifier of externalIds(); track identifier) {
            <p>
              <span>{{ identifier.type }}</span>
              <span>{{ identifier.value }}</span>
            </p>
          }
        </mat-expansion-panel>
      }
      @if (hasExternalLinks()) {
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'External links' | translate }}</mat-panel-title>
            <mat-panel-description />
          </mat-expansion-panel-header>
          @for (link of externalLinks(); track link) {
            <div>
              <a [href]="link.value" target="_blank" rel="noreferer noopener">
                {{ link.description || link.value }}
              </a>
            </div>
          }
        </mat-expansion-panel>
      }
      @if (hasBibRefs()) {
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'Bibliographic references' | translate }}</mat-panel-title>
            <mat-panel-description />
          </mat-expansion-panel-header>
          @for (ref of bibRefs(); track ref) {
            <div class="block">
              @if (ref.description) {
                <p>
                  {{ ref.description }}
                </p>
              }
              @if (ref.value) {
                <p>
                  {{ ref.value }}
                </p>
              }
            </div>
          }
        </mat-expansion-panel>
      }
      @if (hasMetadataFiles()) {
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'Attached files' | translate }}</mat-panel-title>
            <mat-panel-description />
          </mat-expansion-panel-header>
          @for (file of metadataFiles(); track file) {
            <div class="block">
              <a
                [href]="file.file_link"
                target="_blank"
                referrerpolicy="no-referrer"
                rel="noreferrer"
                [title]="file.file_name"
                >{{ file.file_name }}</a
              >
            </div>
          }
        </mat-expansion-panel>
      }
      <!-- //ToDo Hotfix: Duplicate code for design -->
    </mat-expansion-panel>
  }
  @if (digitalEntity(); as digitalEntity) {
    @if (Licenses[digitalEntity.licence]; as licence) {
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'Licence' | translate }} </mat-panel-title>
        </mat-expansion-panel-header>
        <a
          [href]="licence.link"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noreferrer"
          [title]="licence.description"
        >
          <img [src]="licence.src" [alt]="licence.description" />
        </a>
        @if (digitalEntity.licenceAttribution; as attribution) {
          <p>
            <span>{{ 'Creator: ' | translate }}</span>
            <span>{{ attribution }}</span>
          </p>
        }
      </mat-expansion-panel>
    }

    @if (hasPersonsOrInstitutions()) {
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'Persons and Institutions' | translate }}
          </mat-panel-title>
          <mat-panel-description />
        </mat-expansion-panel-header>
        <div class="wrap-container">
          @if (persons(); as persons) {
            @for (person of persons; track person) {
              <app-detail-person class="wrap-item" [person]="person" />
            }
          }
          @if (institutions(); as institutions) {
            @for (institution of institutions; track institution) {
              <app-detail-institution class="wrap-item" [institution]="institution" />
            }
          }
        </div>
      </mat-expansion-panel>
    }
    @if (hasCreations()) {
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'Creation' | translate }}</mat-panel-title>
          <mat-panel-description />
        </mat-expansion-panel-header>
        <div class="wrap-container">
          @for (creation of creations(); track creation) {
            <ul class="creation-list wrap-item">
              @for (entry of creation | keyvalue; track entry.key) {
                @if (entry.value) {
                  <li>
                    <span class="creation-label">{{ entry.key | translate }}</span>
                    {{ entry.value }}
                  </li>
                }
              }
            </ul>
          }
        </div>
      </mat-expansion-panel>
    }
    @if (hasExternalIds()) {
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'External identifiers' | translate }}</mat-panel-title>
          <mat-panel-description />
        </mat-expansion-panel-header>
        @for (identifier of externalIds(); track identifier) {
          <p>
            <span>{{ identifier.type }}:</span>
            <span>{{ identifier.value }}</span>
          </p>
        }
      </mat-expansion-panel>
    }
    @if (hasExternalLinks()) {
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'External links' | translate }}</mat-panel-title>
          <mat-panel-description />
        </mat-expansion-panel-header>
        @for (link of externalLinks(); track link) {
          <div>
            <a [href]="link.value" target="_blank" rel="noreferer noopener" class="block">
              {{ link.description || link.value }}
            </a>
          </div>
        }
      </mat-expansion-panel>
    }
    @if (hasBibRefs()) {
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'Bibliographic references' | translate }}</mat-panel-title>
          <mat-panel-description />
        </mat-expansion-panel-header>
        @for (ref of bibRefs(); track ref) {
          <div class="block">
            @if (ref.value) {
              <p>
                {{ ref.value }}
              </p>
            }
            @if (ref.description) {
              <p>
                {{ ref.description }}
              </p>
            }
          </div>
        }
      </mat-expansion-panel>
    }
    @if (hasMetadataFiles()) {
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'Attached files' | translate }}</mat-panel-title>
          <mat-panel-description />
        </mat-expansion-panel-header>
        @for (file of metadataFiles(); track file) {
          <div class="block">
            <a
              [href]="file.file_link"
              target="_blank"
              referrerpolicy="no-referrer"
              rel="noreferrer"
              [title]="file.file_name"
              >{{ file.file_name }}</a
            >
          </div>
        }
      </mat-expansion-panel>
    }
  }
}
