@use '@angular/material' as mat;
@use '../../../../theme.scss' as theme;

:host {
  display: block;
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.title {
  font-weight: bold;
  margin-bottom: 0;
}

.block {
  & + .block {
    border-top: solid 0.01rem mat.m2-get-color-from-palette(theme.$kompakkt-primary, 500);
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

p {
  span + span {
    margin-left: 0.5rem;
  }
}

.mat-expansion-panel-header-title {
  font-size: 1rem;
  color: mat.m2-get-color-from-palette(theme.$kompakkt-primary, 500);
  flex-grow: 2;
}

.address p {
  margin: 0;
}

.wrap-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.wrap-item {
  flex: 0 1 12rem;
}

.creation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.creation-label {
  text-transform: capitalize;

  &::after {
    content: ': ';
  }
}

.attribution {
  font-size: 14px;
  margin-top: 0;
}

a {
  color: mat.m2-get-color-from-palette(theme.$kompakkt-primary, 500);
}

.license-block {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link-list {
  margin-top: 1rem;
}

.bold {
  font-weight: bold;
}

mat-divider {
  margin-top: 1rem;
}
