@use '@angular/material' as mat;
@import 'src/theme.scss';

:host {
  display: block;
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.block {
  & + .block {
    border-top: solid 0.01rem mat.m2-get-color-from-palette($kompakkt-primary, 500);
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

img {
  display: block;
  height: 3rem;
}

p {
  span + span {
    margin-left: 0.5rem;
  }
}

.mat-expansion-panel-header-title {
  font-size: 1rem;
  color: mat.m2-get-color-from-palette($kompakkt-primary, 500);
  line-height: 1rem;
}
