:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

div.tab-selection {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;

  > div {
    padding: 8px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    &:hover,
    &.selected {
      border-bottom: 2px solid var(--brand-color);
    }
  }
}
