<a routerLink="/home" (click)="close()"> <mat-icon>home</mat-icon> {{ 'Home' | translate }} </a>

<a routerLink="/explore" (click)="close()">
  <mat-icon>explore</mat-icon> {{ 'Explore' | translate }}
</a>
<a routerLink="/annotate" (click)="close()">
  <mat-icon>place</mat-icon> {{ 'Annotate' | translate }}
</a>
<a routerLink="/collaborate" (click)="close()">
  <mat-icon>people</mat-icon> {{ 'Collaborate' | translate }}
</a>

<a routerLink="/contact" (click)="close()">
  <mat-icon>contact_support</mat-icon>{{ 'Contact' | translate }}
</a>
<a routerLink="/privacy" (click)="close()">
  <mat-icon>policy</mat-icon>{{ 'Privacy policy' | translate }}
</a>

<a (click)="dialogHelper.openLoginDialog()">
  <mat-icon>login</mat-icon>{{ 'Login' | translate }}
</a>

<a (click)="dialogHelper.openRegisterDialog()">
  <mat-icon>account_circle</mat-icon>{{ 'Register' | translate }}
</a>
