:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  max-width: 420px;

  h2,
  h3,
  p {
    margin: 0;
  }
}

.title-with-button {
  position: relative;
  button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

p.subtitle {
  font-weight: bold;
}

div.info-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 12px;

  .info-headline {
    display: flex;
    flex-direction: row;

    display: flex;
    gap: 4px;
    color: lightgray;
    align-items: center;

    span {
      font-weight: 700;
      text-transform: uppercase;
    }

    mat-icon {
      color: var(--warning-color);
      font-size: 24px;
    }
  }
}

div.transfer {
  display: flex;
  align-items: center;
  gap: 4px;

  h3 {
    font-weight: bold;
  }
}

div.name {
  display: grid;
  align-items: center;
  gap: 12px;
  grid-template-columns: auto 1fr auto;

  div.name-stack {
    display: flex;
    flex-direction: column;
  }
}

div.owner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.end-dialog-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.search-field-container {
  position: relative;
  width: 100%;
  font-family: Roboto, sans-serif;

  label {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 14px;
    color: #666;
    pointer-events: none;
    transition: 200ms ease all;
    background-color: transparent;
  }

  &:focus-within label,
  label.active {
    top: -8px;
    left: 12px;
    font-size: 12px;
    color: var(--brand-color);
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 0 4px;
  }

  input {
    width: 100%;
    height: 36px;
    padding: 8px 36px 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    outline: none;
    box-sizing: border-box;

    transition:
      background-color 200ms ease-in-out,
      border-color 200ms ease-in-out;

    &:hover,
    &:focus,
    &:focus-within {
      border-color: var(--brand-color);
      background-color: white;
    }
  }
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  padding: 0;
  color: #666;
  pointer-events: none;
}
