<h2 class="title-with-button">
  <span>{{ 'Ownership' | translate }}</span>
  <button mat-icon-button id="close-ownership-dialog" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</h2>

@if (data(); as data) {
  @if (isMulti()) {
    <p
      [matTooltip]="entityNames()"
      matTooltipPosition="below"
      aria-label="Button that displays a tooltip when focused or hovered over"
      style="width: fit-content"
    >
      {{ entityCount() }} {{ 'objects' | translate }}
    </p>
  } @else {
    <p>
      <b>{{ entityNames() }}</b>
    </p>
  }

  @if (currentOwner(); as currentOwner) {
    <div class="name">
      <mat-icon>person_outline</mat-icon>
      <div class="name-stack">
        <span>{{ currentOwner.fullname }}</span>
        <small>{{ currentOwner.username }}</small>
      </div>
    </div>
  }

  <div class="info-box">
    <div class="info-headline">
      <mat-icon>warning</mat-icon>
      <span>{{ 'Warning' | translate }}</span>
    </div>
    <p>
      {{
        'If you transfer the ownership to another user, you lose all ownership rights like deleting the object and changing the owner.'
          | translate
      }}
    </p>
  </div>

  <div class="transfer">
    <mat-icon class="material-symbols-filled">manage_accounts</mat-icon>
    <h3>
      <span>{{ 'Transfer ownership to:' | translate }}</span>
    </h3>
  </div>

  @if (filteredAccounts$ | async; as filteredAccounts) {
    <app-outlined-input
      [autocomplete]="userAuto"
      [formControl]="searchControl"
      label="Search for a user"
      icon="search"
    >
      <mat-autocomplete
        #userAuto="matAutocomplete"
        (optionSelected)="searchControl.setValue(''); userSelected($event)"
      >
        @for (account of filteredAccounts; track account._id) {
          <mat-option [value]="account">
            {{ account.fullname }} ({{ account.username }})
          </mat-option>
        }
      </mat-autocomplete>
    </app-outlined-input>
  } @else {
    <p>{{ 'Fetching accounts' | translate }}...</p>
  }
} @else {
  <p>{{ 'No object passed' | translate }}</p>
}

@if (targetOwner(); as targetOwner) {
  <div class="name">
    <mat-icon>person_outline</mat-icon>
    <div class="name-stack">
      <span> {{ targetOwner.fullname }} </span>
      <small> {{ targetOwner.username }} </small>
    </div>

    <button mat-icon-button>
      <mat-icon (click)="removeUser()" color="warn">close</mat-icon>
    </button>
  </div>
}

<div class="end-dialog-buttons">
  <button mat-stroked-button color="primary" (click)="cancel()">
    {{ 'Cancel' | translate }}
  </button>
  <button mat-flat-button color="primary" (click)="transferUser()">
    {{ 'Transfer' | translate }}
  </button>
</div>
