<div>
  <p class="metadata-header-digital">{{ 'Creation' | translate }}</p>
  <app-outlined-input
    type="text"
    label="{{ 'Add technique (e.g. Laserscan or Modelling)' | translate }}"
    [formControl]="form.controls.technique"
  />
  <app-outlined-input
    type="text"
    label="{{ 'Add program' | translate }}"
    [formControl]="form.controls.software"
  />
  <app-outlined-input
    type="text"
    label="{{ 'Add equipment' | translate }}"
    [formControl]="form.controls.equipment"
  />

  <app-outlined-input
    type="text"
    label="{{ 'Add creation date range' | translate }}"
    [formGroup]="dateRangeForm"
    [externalValue]="dateRangeDisplay"
    (input)="onDateInput($event)"
  >
    <span inputSuffix>
      <mat-datepicker-toggle [for]="picker" />
    </span>
  </app-outlined-input>

  <div class="material-date-input">
    <mat-date-range-input [rangePicker]="picker" [formGroup]="form">
      <input matStartDate formControlName="start" />
      <input matEndDate formControlName="end" />
    </mat-date-range-input>
  </div>
  <mat-date-range-picker #picker xPosition="start" yPosition="below" />

  <div class="meta-button">
    <button
      mat-flat-button
      color="primary"
      [disabled]="!isFormValid"
      (click)="addNewCreationData()"
    >
      {{ 'Add' | translate }}
    </button>
  </div>

  <mat-divider />

  <app-optional-card-list [optionalData]="entity().creation" [propertyType]="'creation'" />
</div>
