@if (physEntity(); as physEntity) {
  <p class="metadata-header-digital">{{ 'Original Object' | translate }}</p>
  <app-general [entity]="physEntity" />

  <app-dimension [entity]="physEntity"></app-dimension>

  <p class="metadata-header-physical">
    {{ 'Place' | translate }}
  </p>
  <app-outlined-input
    type="text"
    name="name"
    label="{{ 'Name' | translate }}"
    placeholder="{{ 'Enter a name' | translate }}"
    [(ngModel)]="physEntity.place.name"
    required
  />
  <app-outlined-input
    type="text"
    name="geopolarea"
    label="{{ 'Geopolicital area' | translate }}"
    placeholder="{{ 'Enter a geopolitical area' | translate }}"
    [(ngModel)]="physEntity.place.geopolarea"
  />

  <app-address class="margin-top" [address]="physEntity.place.address" [isPhysicalObject]="true" />

  <app-agents [entity]="physEntity" [isPhysicalObject]="true" />

  <app-external-ids [entity]="physEntity" />

  <app-links [entity]="physEntity" />

  <app-biblio-ref [entity]="physEntity" />

  <app-metadata-files [entity]="physEntity" />
}
