<mat-expansion-panel expanded>
    <mat-expansion-panel-header>
        <mat-panel-title>General Information</mat-panel-title>
    </mat-expansion-panel-header>
      <app-general [entity]="entity" [physicalEntity]="physEntity"></app-general>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Place</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>{{ 'Name' | translate }}</mat-label>
      <input
        matInput
        type="text"
        name="name"
        placeholder="{{ 'Enter a name' | translate }}"
        [(ngModel)]="physEntity.place.name"
        />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'Geopolicital area' | translate }}</mat-label>
    <input
      matInput
      type="text"
      name="geopolarea"
      placeholder="{{ 'Enter a Geopolitical area' | translate }}"
      [(ngModel)]="physEntity.place.geopolarea"
      />
  </mat-form-field>
  <app-address
    class="margin-top"
    [address]="physEntity.place.address"
    ></app-address>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Related Agents</mat-panel-title>
    </mat-expansion-panel-header>
    <app-agents [entity]="physEntity" [entityId]="entityId"></app-agents>
    @for (person of physEntity.persons; track $index) {
        <app-agent-card [agent]="person" [entityId]="entityId"></app-agent-card>
    }
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
      <mat-panel-title>External Identifiers</mat-panel-title>
  </mat-expansion-panel-header>
  <app-external-ids [entity]="physEntity"></app-external-ids>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>External Links</mat-panel-title>
    </mat-expansion-panel-header>
    <app-links [entity]="physEntity"></app-links>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Bibliographic References</mat-panel-title>
    </mat-expansion-panel-header>
    <app-biblio-ref [entity]="physEntity"></app-biblio-ref>
</mat-expansion-panel>

<!-- <mat-expansion-panel>
  <mat-expansion-panel-header>
      <mat-panel-title>Metadata Files</mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel> -->