<div id="fixed-navigation"
     *ngIf="objectReady">
    <nav id="subnavbar">
        <ul>
            <li>
            </li>
        </ul>
    </nav>
    <nav id="actionbar">
        <ul>
            <li>
            </li>
        </ul>
    </nav>
</div>

<!-- No model ID provided: Annotation Overview -->
<section *ngIf="!objectReady"
         class="fullheight"
         fxFlex
         fxFlexFill>
    <div class="iframe-container entity-viewer fullheight">
        <iframe [src]="viewerUrl | safe: 'resourceUrl'"
                class="fullheight"
                allowfullscreen></iframe>
    </div>
</section>

<!-- Model ID provided: Show viewer -->
<section *ngIf="objectReady"
         class="content with-subnav"
         fxFlex
         fxLayout="row"
         fxLayout.sm="column"
         fxLayout.xs="column"
         fxLayoutGap="50px"
         id="entity-detail">

    <div fxFlex="70">
        <div class="iframe-container entity-viewer fullheight">
            <iframe class="fullheight" [src]="viewerUrl | safe: 'resourceUrl'"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div fxFlex
         class="entity-details details-annotate">
        <h1 [innerHTML]="object.title"></h1>
        <p [innerHTML]="object.description"></p>
    </div>

</section>
