<app-actionbar class="fixed"></app-actionbar>

<!-- No model ID provided: Annotation Overview -->
<section *ngIf="!objectReady"
         class="fullheight"
         fxFlex
         fxFlexFill>
    <div class="iframe-container entity-viewer fullheight"
         style="padding-top: 52px;">
        <iframe [src]="viewerUrl | safe: 'resourceUrl'"
                class="fullheight"
                style="background-color: #111;"
                allowfullscreen></iframe>
    </div>
</section>

<!-- Model ID provided: Show viewer -->
<section *ngIf="objectReady"
         class="content with-subnav"
         fxFlex
         fxLayout="row"
         fxLayout.sm="column"
         fxLayout.xs="column"
         fxLayoutGap="50px"
         id="entity-detail">

    <div fxFlex="70">
        <div class="iframe-container entity-viewer fullheight">
            <iframe class="fullheight" [src]="viewerUrl | safe: 'resourceUrl'"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div fxFlex
         class="entity-details details-annotate">
        <h1 [innerHTML]="object.title"></h1>
        <p [innerHTML]="object.description"></p>
    </div>

</section>
