<ng-container *ngIf="data.person">
  <h3 class="center-text-horizontal remove-margin fullwidth">Person editor</h3>
  <button
    *ngIf="dialogRef"
    mat-icon-button
    class="close-dialog-button"
    (click)="dialogRef.close(undefined)"
    tabindex="-1"
  >
    <mat-icon>close</mat-icon>
  </button>
  <app-person [person]="data.person" [relatedEntityId]="data.entityID"></app-person>
  <button mat-raised-button color="primary" style="width: 100%" (click)="tryFinish()">Save</button>
</ng-container>
