<div fxFlex fxLayout="column" fxLayoutGap="15px">
  <div fxLayout="row wrap">
    <div *ngFor="let model of models"
         fxFlex="25"
         fxFlex.xl="10"
         fxFlex.lg="20"
         fxFlex.md="33.3"
         fxFlex.sm="50"
         fxFlex.xs="100"
         fxLayout="column"
         class="object-entry">

      <mat-card>
        <a [routerLink]="['/object', model._id]">
          <img mat-card-image [src]="model.settings.preview" alt="{{model.name}}">
        </a>
        <mat-card-title>{{ model.name }}</mat-card-title>
      </mat-card>

    </div>
  </div>
</div>
