<div fxFlex fxLayout="column" fxLayoutGap="15px">
  <div fxLayout="row wrap">
    <div *ngFor="let entity of entities"
         fxFlex="25"
         fxFlex.xl="10"
         fxFlex.lg="20"
         fxFlex.md="25"
         fxFlex.sm="50"
         fxFlex.xs="100"
         fxLayout="column"
         class="object-entry">

      <mat-card>
        <a [routerLink]="['/object', entity._id]">
          <img mat-card-image [src]="entity.settings.preview" alt="{{entity.name}}">
        </a>
        <mat-card-title>{{ entity.name }}</mat-card-title>
      </mat-card>

    </div>
  </div>
</div>
