<mat-toolbar id="navbar">
  <a id="logo-link" routerLink="/home">
    @if (customLogoAsset(); as asset) {
      <img id="applogo" src="{{ asset }}" alt="Custom Kompakkt Logo" />
    } @else {
      <img id="applogo" src="assets/kompakkt-logo.svg" alt="Kompakkt Logo" />
    }
  </a>

  <div class="desktop">
    <div class="nav-group">
      <a class="navbar-link" routerLinkActive="active" routerLink="/explore">{{
        'Explore' | translate
      }}</a>
      <a class="navbar-link" routerLinkActive="active" routerLink="/annotate">{{
        'Annotate' | translate
      }}</a>
      <a class="navbar-link" routerLinkActive="active" routerLink="/collaborate">{{
        'Collaborate' | translate
      }}</a>
    </div>
  </div>
  <div class="grow desktop end">
    <div class="nav-group">
      <div class="navbar-button">
        <!-- Entity/Compilation creation -->
        @if (isAuthenticated$ | async) {
          <div>
            @if (!isUploader) {
              <button mat-flat-button color="primary" (click)="openUploadApplication()">
                {{ 'Request upload capabilities' | translate }}
              </button>
            }
            @if (hasRequestedUpload) {
              <button mat-flat-button color="primary">
                {{ 'Upload capabilities requested' | translate }}
              </button>
            }
            @if (isUploader) {
              <button mat-flat-button class="pill" color="primary" (click)="openEntityCreation()">
                <mat-icon class="material-symbols-filled">deployed_code</mat-icon>
                {{ 'New object' | translate }}
              </button>
              <button
                mat-flat-button
                class="pill"
                color="primary"
                (click)="openCompilationCreation()"
              >
                <mat-icon>collections</mat-icon>
                {{ 'New collection' | translate }}
              </button>
            }
          </div>
        }
        @if (selectHistory.history.length > 0) {
          <div>
            <button
              matTooltip="View your history."
              [disabled]="selectHistory.history.length === 0"
              mat-icon-button
              [matMenuTriggerFor]="selectionHistory"
            >
              <mat-icon>history</mat-icon>
            </button>
          </div>
        }
        @if (isAuthenticated$ | async) {
          <div class="navbar-button">
            <button mat-icon-button [matMenuTriggerFor]="profileDropdown">
              <mat-icon>account_circle</mat-icon>
            </button>
          </div>
        }
      </div>
      @if (!(isAuthenticated$ | async)) {
        <a class="navbar-link" id="login" (click)="openLoginDialog()">
          {{ 'Login' | translate }}
        </a>
        <a class="navbar-link" (click)="openRegisterDialog()">{{ 'Register' | translate }}</a>
      }
    </div>
  </div>

  <div class="grow mobile end">
    <button id="sidenav-toggle" mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #selectionHistory="matMenu" class="selection-history-dropdown">
  @for (element of selectHistory.history; track element._id) {
    <button
      mat-menu-item
      (click)="navigate(element)"
      [matTooltip]="(element.name | truncate: 36 : true) ? element.name : ''"
      matTooltipPosition="before"
    >
      @if (element | isEntity) {
        <mat-icon class="material-symbols-filled" [matTooltip]="'View object.' | translate">
          deployed_code
        </mat-icon>
      } @else if (element | isCompilation) {
        <mat-icon [matTooltip]="'View compilation.' | translate"> collections </mat-icon>
      }
      <span>
        {{ element.name | truncate: 36 }}
      </span>
    </button>
  }
</mat-menu>

<mat-menu #profileDropdown="matMenu" class="profile-dropdown">
  <button mat-menu-item routerLink="/profile" color="primary">
    <mat-icon>account_circle</mat-icon>
    <span>{{ userData?.fullname }}</span>
  </button>
  <!-- Hide institutional profile creation for now
  <button mat-menu-item class="menu-create-institution" (click)="editProfile()">
    <mat-icon color="primary">add</mat-icon>
    <span>{{ 'Create institutional profile' | translate }}</span>
  </button>
  @for (institution of institutionalProfiles(); track institution._id) {
    <button mat-menu-item class="menu-institution" (click)="editProfile(institution)">
      <mat-icon color="primary">apartment</mat-icon>
      <span>{{ institution.displayName }}</span>
    </button>
  }
  -->
  @if (isAdmin$ | async) {
    <button mat-menu-item routerLink="/admin">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>{{ 'Admin' | translate }}</span>
    </button>
  }
  <button mat-menu-item (click)="logout()" color="warn">
    <mat-icon>logout</mat-icon>
    <span>{{ 'Logout' | translate }}</span>
  </button>
</mat-menu>

<mat-progress-bar #progressBar id="progress-bar" mode="indeterminate"></mat-progress-bar>
