#sidenav-toggle {
  position: absolute;
  right: 40px;
}

a {
  text-decoration: none;
}

.nav-items {
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0 0;
  height: 47px;
}

#navbar mat-toolbar {
  border-radius: 0;
}

#navbar {
  position: fixed;
  z-index: 15;
  font-size: .9em;
  color: #333;
  font-weight: normal;
  padding: 10px 50px;
  height: 67px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 3px solid #eee;
}

#navbar .nav-menu {
  margin-left: 25px;
  height: 100%;
}

a.navbar-link {
  padding: 5px;
  color: #555;
  cursor: pointer;
}

.nav-menu li:after {
  margin-top: 12px;
  display: block;
  content: '';
  border-bottom: solid 3px #00afe7;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-menu li:hover:after {
  transform: scaleX(1);
}

@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0;
  }
}

#applogo {
  height: 45px;
  padding-top: 10px;
}

li.active {
  border-bottom: 3px solid #00afe7;
  cursor: pointer;
}
