<mat-toolbar id="navbar">
  <div fxHide.gt-xs id="sidenav-toggle">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <nav>
    <a routerLink="/home">
      <img id="applogo" src="assets/kompakkt-logo.svg" alt="Kompakkt">
    </a>
  </nav>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items" [ngSwitch]="isAuthenticated">
      <li>
        <a class="navbar-link" routerLink="/wizard">Wizard</a>
      </li>
      <li>
        <a *ngIf="!isAuthenticated"
           class="navbar-link"
           (click)="openLoginDialog()">Login</a>
        <a *ngIf="isAuthenticated"
           class="navbar-link"
           (click)="account.logout()">Logout</a>
      </li>
      <!--
      <li>
        <mat-menu #languageMenu="matMenu">
          <ng-container *ngFor="let language of languages">
            <button mat-menu-item
                    class="uppercase"
                    (click)="translate.use(language)"
                    [innerHTML]="language"></button>
          </ng-container>
        </mat-menu>

        <a class="navbar-link" [matMenuTriggerFor]="languageMenu">
          <span class="uppercase" [innerHTML]="translate.currentLang"></span>
        </a>
      </li>
      -->
    </ul>
  </div>
</mat-toolbar>
