@use '../../../../queries' as queries;

#sidenav-toggle {
  margin-top: 3px;
}

a {
  text-decoration: none;
}

.grow-small {
  flex-grow: 1;
}

.grow-large {
  flex-grow: 10;
}

#navbar {
  z-index: 15;
  font-size: 0.9em;
  color: #333;
  font-weight: normal;
  height: 67px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 3px solid #eee;
  padding: 0 2rem;

  mat-toolbar {
    border-radius: 0;
  }

  display: flex;
  align-items: stretch;
  justify-content: space-between;

  > * + * {
    margin-left: 1rem;
  }

  @include queries.less-than-large {
    align-items: center;
    padding: 0 1rem;
    > * + * {
      margin-left: 0.5rem;
    }
  }
}

.nav-group {
  display: flex;
  height: 100%;

  .navbar-link {
    display: flex;
    align-items: center;
    color: #555;
    cursor: pointer;
    padding: 0 0.5rem;
    line-height: 2;

    position: relative;
    &:after {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      border-bottom: solid 0.2rem #00afe7;
      transform: scaleX(0) translateY(0.2rem);
      transition: transform 250ms ease-in-out;
    }

    &:hover:after,
    &.active:after {
      transform: scaleX(1) translateY(0.2rem);
    }

    & + .navbar-link {
      margin-left: 0.5rem;
    }

    @include queries.less-than-large {
      padding: 0 0.25rem;
      & + .navbar-link {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0;
  }
}

#logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 3rem;
    &.small {
      display: none;
    }
    @include queries.less-than-large {
      &.small {
        display: block;
      }
      &.large {
        display: none;
      }
    }
  }
}

#progress-bar {
  // transition: opacity 280ms;
  position: fixed;
  z-index: 19;
  pointer-events: none;
  left: 0;
  top: 0;
  opacity: 0;
  &.loading {
    opacity: 1;
  }
}

app-selection-history-button {
  align-self: center;
}

.not-mobile {
  @media (max-width: queries.$bp-small) {
    display: none;
  }
}

.desktop {
  @media (max-width: queries.$bp-medium) {
    display: none;
  }
}

.mobile {
  @media (min-width: queries.$bp-small) {
    display: none;
  }
}
