@use '@angular/material' as mat;

.grid-item {
  position: relative;
  cursor: context-menu;

  .actionbutton {
    @include mat.elevation(1);
  }
}

.detail-block {
  padding: 10px 0;
}

.actionbutton {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  .material-icons {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}

#profile-page-content {
  padding: 1rem 2rem 0 2rem;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;

  animation: profilePageContentFadeIn 0.3s ease-in-out forwards 1;
  opacity: 0;
}

@keyframes profilePageContentFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

span.mat-content {
  display: block !important;
}

.action-row-left-align {
  justify-content: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
}

.mat-mdc-card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mat-icon {
  font-size: 24px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: var(--brand-color);
  }
}

::ng-deep app-tabs.padded-tabs {
  div.tab-content {
    padding: 16px 0;
  }
}
