@if (userData(); as userData) {
  <div id="profile-page-content">
    <app-profile-page-header
      [userData]="userData"
      [profileData]="userProfile()"
      (editProfile)="openEditDialog()"
    />

    <app-tabs
      class="padded-tabs"
      [tabs]="availableTabs"
      (selectChange)="selectedTab.set($event.value)"
      #tabs
    >
      <aside>
        @switch (tabs.selectedTab()?.value) {
          @case ('groups') {
            <button mat-flat-button class="pill" color="primary" (click)="openGroupWizard()">
              <mat-icon class="material-symbols-outlined card-icon">group_add</mat-icon>
              <span>{{ 'New group' | translate }}</span>
            </button>
          }
        }

        <app-search-bar (searchTextChanged)="searchText.set($event)" />

        <app-explore-filter-sidenav-toggle
          [numFilterOptions]="numFilterOptions()"
          [matTooltip]="
            numFilterOptions() > 0
              ? ('You have activated filters, modifying the search results' | translate)
              : ''
          "
          (click)="openFilterSidenav()"
        />
      </aside>
      @switch (tabs.selectedTab()?.value) {
        @case ('objects') {
          <app-profile-entities
            entityType="finished"
            [searchText]="searchText()"
            [selectedFilterOptions]="selectedFilterOptions()"
          />
        }
        @case ('drafts') {
          <app-profile-entities
            entityType="unfinished"
            [searchText]="searchText()"
            [selectedFilterOptions]="selectedFilterOptions()"
          />
        }
        @case ('collections') {
          <app-profile-compilations
            [searchText]="searchText()"
            [selectedFilterOptions]="selectedFilterOptions()"
          />
        }
        @case ('groups') {
          <app-profile-groups
            [searchText]="searchText()"
            [selectedFilterOptions]="selectedFilterOptions()"
          />
        }
      }
    </app-tabs>
  </div>
} @else {
  <div id="profile-page-content">
    <div class="loading-container">
      <h1 style="color: var(--brand-color)">{{ 'Loading profile data' | translate }}...</h1>
      <mat-spinner strokeWidth="5" mode="indeterminate" />
    </div>
  </div>
}
