@if (currentProfile(); as profileData) {
  <div id="profile-page-content">
    <app-profile-page-header [profileData]="profileData" (editProfile)="openEditDialog()" />

    @if (userProfile()?._id === profileData._id) {
      <app-tabs
        class="padded-tabs"
        [tabs]="availableTabs"
        (selectChange)="selectedTab.set($event.value)"
        #tabs
      >
        <aside>
          <app-search-bar (searchTextChanged)="searchText.set($event)" />
        </aside>
        @switch (tabs.selectedTab()?.value) {
          @case ('objects') {
            <app-profile-entities entityType="finished" [searchText]="searchText()" />
          }
          @case ('drafts') {
            <app-profile-entities entityType="unfinished" [searchText]="searchText()" />
          }
          @case ('collections') {
            <app-profile-compilations [searchText]="searchText()" />
          }
        }
      </app-tabs>
    } @else {
      <p>
        {{
          'Organizational profile features are coming soon. Please check back later!' | translate
        }}
      </p>
    }
  </div>
} @else {
  <div id="profile-page-content">
    <div class="loading-container">
      <h1 style="color: var(--brand-color)">{{ 'Loading profile data' | translate }}...</h1>
      <mat-spinner strokeWidth="5" mode="indeterminate" />
    </div>
  </div>
}
