@use '../../../../easings' as easings;
@use '../common-media-container.scss' as common;

:host {
  display: grid;
  height: 100%;
  padding: 0 16px 8px 16px;
  box-sizing: border-box;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;

  &.single-image {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: inherit;
    object-fit: contain;
  }

  @include common.backgroundCircleAnimOnHover();
}
