<div class="tab-main">
  @if (paginatorCompilations$ | async; as compilations) {
    @if (compilations.length > 0) {
      <div class="entity-grid">
        @for (element of compilations; track element._id) {
          <div class="grid-item">
            <app-grid-element
              class="grid-item"
              [element]="element"
              [disableTypeInfo]="false"
              [disableNavigationOnClick]="true"
            />

            <mat-icon class="material-symbols-filled card-icon">filter_none</mat-icon>
            <!-- Advanced settings -->
            <button class="actionbutton" mat-icon-button [matMenuTriggerFor]="menu" color="primary">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu" yPosition="below">
              <button mat-menu-item [routerLink]="['/compilation', element._id]">
                <mat-icon class="material-symbols-outlined" color="primary">open_run</mat-icon>
                {{ 'Open' | translate }}
              </button>
              <button
                mat-menu-item
                [disabled]="!element.isUserOwner"
                (click)="openCompilationCreation(element)"
              >
                <mat-icon color="primary">edit</mat-icon>
                {{ 'Edit collection' | translate }}
              </button>
              <button
                mat-menu-item
                [disabled]="false"
                [routerLink]="['/annotate', 'compilation', element._id]"
              >
                <mat-icon color="primary">location_on</mat-icon>
                {{ 'Annotate' | translate }}
              </button>
              <!-- Just UI implementation, functionality comes with next update -->
              <!-- <button mat-menu-item>
          <mat-icon color="primary">visibility</mat-icon>
          <span>{{ 'Visibility and access' | translate }}</span>
        </button> -->
              <!-- <button mat-menu-item>
          <mat-icon color="primary">manage_accounts</mat-icon>
          <span>{{ 'Transfer ownership' | translate }}</span>
        </button> -->
              <button
                mat-menu-item
                [disabled]="!element.isUserOwner"
                (click)="removeCompilationDialog(element)"
              >
                <mat-icon color="warn">delete</mat-icon>
                {{ 'Delete' | translate }}
              </button>
            </mat-menu>
          </div>
        }
      </div>
    } @else {
      @if (isCombinedCompilationsEmpty$ | async) {
        <p>
          {{
            'You do not have any collections and are not participating in any collections by others'
              | translate
          }}
        </p>
      } @else {
        <p>
          {{ 'No collections found matching your filter criteria' | translate }}
        </p>
      }
    }
  }

  <app-pagination [(pagination)]="paginator" />
</div>
