<app-selection-container #sc [actionsTemplate]="selectionActions">
  <div
    class="tab-main"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp()"
  >
    <ng-template #selectionActions>
      <button mat-icon-button class="selection-button" (click)="multiRemoveCompilations()">
        <mat-icon [matTooltip]="'Delete' | translate" color="warn">delete_forever</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        [matMenuTriggerFor]="selectionMenu"
        class="selection-button selection-more-button"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #selectionMenu="matMenu" yPosition="below">
        <button
          mat-menu-item
          [disabled]="!singleSelectedCompilation() || selectionHasViewerCompilations()"
          [routerLink]="['/compilation', singleSelectedCompilation()?._id]"
        >
          <mat-icon class="material-symbols-outlined" color="primary">open_run</mat-icon>
          {{ 'Open' | translate }}
        </button>
        <button
          mat-menu-item
          [disabled]="!singleSelectedCompilation() || selectionHasViewerCompilations()"
          (click)="editCompilation(singleSelectedCompilation()!)"
        >
          <mat-icon color="primary">edit</mat-icon>
          {{ 'Edit collection' | translate }}
        </button>

        <button
          mat-menu-item
          [disabled]="!singleSelectedCompilation() || selectionHasViewerCompilations()"
          [routerLink]="['/annotate', 'compilation', singleSelectedCompilation()?._id]"
        >
          <mat-icon color="primary">location_on</mat-icon>
          {{ 'Annotate' | translate }}
        </button>
        <button
          mat-menu-item
          [disabled]="selectionHasEditorCompilations() || selectionHasViewerCompilations()"
          (click)="openVisibilityAndAccessDialog()"
        >
          <mat-icon color="primary">visibility</mat-icon>
          <span>{{ 'Visibility and access' | translate }}</span>
        </button>
        <button
          mat-menu-item
          [disabled]="selectionHasEditorCompilations() || selectionHasViewerCompilations()"
          (click)="openTransferOwnerDialog()"
        >
          <mat-icon color="primary">manage_accounts</mat-icon>
          <span>{{ 'Transfer ownership' | translate }}</span>
        </button>
        <button mat-menu-item (click)="multiRemoveCompilations()">
          <mat-icon color="warn">delete_forever</mat-icon>
          <span>{{ 'Delete' | translate }}</span>
        </button>
      </mat-menu>
    </ng-template>

    @if (filteredCompilations$ | async; as compilations) {
      @if (compilations.results.length > 0) {
        <div class="entity-grid">
          @for (element of compilations.results; track element._id) {
            <div class="grid-item" [class.selected]="isSelected(element)">
              <app-grid-element
                #gridItem
                [element]="element"
                [disableTypeInfo]="false"
                [disableNavigationOnClick]="selectionService().isSelectionMode()"
                (click)="addCompilationToSelection(element, $event)"
              />

              <mat-icon class="material-symbols-filled card-icon">filter_none</mat-icon>
              <!-- Advanced settings -->

              @if (selectionService().isSelectionMode()) {
                <mat-checkbox
                  class="selection-checkbox"
                  color="primary"
                  [checked]="isSelected(element)"
                  (change)="changeSelectionOnCheckbox(element)"
                />
              } @else {
                <button
                  class="actionbutton"
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  color="primary"
                  [disabled]="selectionService().hasSelection()"
                >
                  <mat-icon>more_horiz</mat-icon>
                </button>
              }
              <mat-menu #menu="matMenu" yPosition="below">
                <button mat-menu-item [routerLink]="['/compilation', element._id]">
                  <mat-icon class="material-symbols-outlined" color="primary">open_run</mat-icon>
                  {{ 'Open' | translate }}
                </button>
                <button
                  mat-menu-item
                  [disabled]="element | isUserOfRole: 'viewer' : user()"
                  (click)="editCompilation(element)"
                >
                  <mat-icon color="primary">edit</mat-icon>
                  {{ 'Edit collection' | translate }}
                </button>
                <button mat-menu-item (click)="openRemoveCompilationDialog(element)">
                  <mat-icon color="primary">delete</mat-icon>
                  {{ 'Remove objects' | translate }}
                </button>
                <button
                  mat-menu-item
                  [disabled]="false"
                  [routerLink]="['/annotate', 'compilation', element._id]"
                >
                  <mat-icon color="primary">location_on</mat-icon>
                  {{ 'Annotate' | translate }}
                </button>
                <button mat-menu-item (click)="openVisibilityAndAccessDialog(element)">
                  <mat-icon color="primary">visibility</mat-icon>
                  <span>{{ 'Visibility and access' | translate }}</span>
                </button>
                <button
                  mat-menu-item
                  (click)="openTransferOwnerDialog(element)"
                  [disabled]="!(element | isUserOfRole: 'owner' : user())"
                >
                  <mat-icon color="primary">manage_accounts</mat-icon>
                  <span>{{ 'Transfer ownership' | translate }}</span>
                </button>
                <button mat-menu-item (click)="singleRemoveCompilation(element)">
                  <mat-icon color="warn">delete</mat-icon>
                  {{ 'Delete' | translate }}
                </button>
              </mat-menu>
            </div>
          }
        </div>
      } @else {
        @if (compilations.empty) {
          <p>
            {{ 'You do not have any collections' | translate }}
          </p>
        } @else {
          <p>
            {{ 'No collections found matching your filter criteria' | translate }}
          </p>
        }
      }
    }
  </div>
</app-selection-container>
