@use '@angular/material' as mat;

.detail-block {
  padding: 10px 0;
}

span.mat-content {
  display: block !important;
}

.action-row-left-align {
  justify-content: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
}

.tab-help {
  display: flex;
  align-items: center;
  background-color: #f5f5f6;
  z-index: 1000;

  padding: 8px 16px;
  border-radius: 4px;
  gap: 8px;
  margin-bottom: 16px;
}

.mat-mdc-card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mat-icon {
  font-size: 24px;
}
