@use '@angular/material' as mat;
@use '../../../../easings' as easings;

* {
  user-select: none;
}

.entity-grid.group-grid {
  .group-card {
    @include mat.elevation(2);

    position: relative;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    h3,
    p {
      text-align: left;
      margin: 0;
    }

    h3 {
      font-weight: bold;
      margin-bottom: 8px;
    }

    .actionbutton {
      left: unset;
      right: 16px;
    }
  }
}

.selection {
  display: flex;
  align-items: center;
  background-color: #f5f5f6;
  z-index: 1000;

  padding: 0px 16px;
  border-radius: 4px;
  gap: 8px;

  pointer-events: none;
  filter: opacity(0.5);

  transition: filter 0.3s easings.$easeOutQuad;

  &.has-selection {
    filter: opacity(1);
    pointer-events: auto;
  }

  button {
    letter-spacing: normal !important;
    mat-icon {
      font-size: 24px;
      width: 24px;
      height: 24px;
    }
  }

  button.mdc-icon-button {
    --mdc-icon-button-state-layer-size: 40px !important;
    padding: 6px !important;
  }
}

.grid-item.selected ::ng-deep .title:after {
  background: transparent;
}

.grid-item {
  cursor: context-menu;
  z-index: 1;
  border: solid 4px transparent;
  border-radius: 0.6rem;

  &.selected {
    background-color: lightblue;
    border-color: var(--brand-color);
  }
}

.tab-help {
  * {
    padding: 0 0.5rem;
  }
}

.detail-block {
  padding: 10px 0;
}

span.mat-content {
  display: block !important;
}

.action-row-left-align {
  justify-content: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
}

.tab-main {
  margin-left: -48px;
  margin-right: -48px;
  padding-left: 48px;
  padding-right: 48px;
  width: calc(100% + 96px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.tab-help {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mat-icon {
  font-size: 24px;
}

button[mat-icon-button][disabled] {
  opacity: 0.4;
  pointer-events: none;
}
