<!-- GROUPS -->
<div class="tab-main">
  <div class="temp-button-div">
    <button mat-raised-button color="primary" (click)="openGroupCreation()">
      {{ 'Create a new group' | translate }}
    </button>
  </div>
  <!-- Groups the user is part of as Member or Owner -->
  @if (userGroups$ | async; as userGroups) {
    @if (userGroups.length === 0) {
      <div>
        <p>{{ 'You are not partaking in any group' | translate }}</p>
      </div>
    }
    <div class="entity-grid">
      @for (group of userGroups; track group._id) {
        <div class="grid-item">
          <app-grid-element [element]="group"></app-grid-element>
          <mat-icon class="material-symbols-outlined card-icon">groups</mat-icon>
          <!-- Advanced settings -->
          <button class="actionbutton" mat-icon-button [matMenuTriggerFor]="menu" color="primary">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
            <button mat-menu-item (click)="openMemberList(group)">
              <mat-icon class="material-symbols-outlined" color="primary">open_run</mat-icon>
              <span>{{ 'Open' | translate }}</span>
            </button>
            <button
              mat-menu-item
              (click)="openGroupCreation(group)"
              [disabled]="!userCanEdit(group)"
            >
              <mat-icon color="primary">edit</mat-icon>
              <span>{{ 'Edit group' | translate }}</span>
            </button>
            <button
              mat-menu-item
              (click)="leaveGroupDialog(group)"
              [disabled]="selfIsLastOwner(group)"
              [matTooltip]="selfIsLastOwner(group) ? 'One owner is mandatory!' : ''"
              matTooltipPosition="right"
            >
              <mat-icon class="material-symbols-outlined" color="primary">chip_extraction</mat-icon>
              <span>{{ 'Leave group' | translate }}</span>
            </button>
            <button
              mat-menu-item
              (click)="removeGroupDialog(group)"
              [disabled]="!userCanEdit(group)"
            >
              <mat-icon color="warn">delete</mat-icon>
              <span>{{ 'Delete' | translate }}</span>
            </button>
          </mat-menu>
        </div>
      }
    </div>
  }
</div>
