$easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
$easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
$easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
$easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
$easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
$easeInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);
$easeInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);
