@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1.entity-detail {
  background-color: #fff;
  padding: 10px 20px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 15px;
}

.detail-block {
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.detail-block h2 {
  margin-top: 5px;
}

a {
  color: #00afe7;
}

.static-page {
  padding: 5px 25px;
}

.main-padding {
  padding: 25px 30px 50px 30px;
}

iframe {
  border: 0;
}

.fullheight {
  height: 100%;
}

.sticky-top {
  top: 85px;
  position: sticky;
}

.uppercase {
  text-transform: uppercase;
}

.metadata-container {
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }
}

.iframe-container {
  position: relative;
  overflow: hidden;
  /* transition: all .5s ease-in-out; */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  /* transition: all .5s ease-in-out; */
}

.mat-drawer-container {
  background-color: #eee;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

.mat-accordion .mat-expansion-panel {
  border-radius: unset !important;
}
