@import '~@angular/material/theming';

@include mat-core();

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('./assets/fonts/OpenSans.css');
@import url('./assets/fonts/MaterialIcons.css');

$system_stack: 'Open Sans', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font smoothing */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#grid-wrap {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px auto 40px;
  grid-template-areas: "header header header header" "content content content content" "footer footer footer footer";
}

app-navbar {
  grid-area: header;
}

main {
  grid-area: content;
}

app-footer {
  margin-top: -5px;
  grid-area: footer;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: $system_stack;
}

pre {
  font-family: $system_stack;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: normal;
  word-break: normal;
  text-align: justify;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.cursor-pointer {
  cursor: pointer;
}

.center-text-horizontal {
  text-align: center;
  display: inline-flex;
  justify-content: center;
}

.remove-margin {
  margin: 0;
}

.fullwidth {
  width: 100%;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #00afe7;
}

h1.entity-detail {
  background-color: #fff;
  padding: 10px 20px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 15px;
}

.detail-block {
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;

  h2 {
    margin-top: 5px;
  }
}

a {
  color: #00afe7;
}

.content {
  background-color: #fff;
  padding: 15px 30px 15px 55px;
}

iframe {
  border: 0;
}

.fullheight {
  height: 100%;
  min-height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.text-blue {
  color: #00afe7;
}

.bgr-blue {
  background-color: #00afe7;
}

.bgr-white {
  background-color: #fff;
}

.metadata-container {
  display: flex;
  flex-direction: column;
}

.metadata-nested {
  padding: 1rem;
  padding-top: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 20px;

  /* !important to overwrite default mat-card rule */
  transition: border 280ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1) !important;

  > mat-form-field {
    width: 100%;
  }

  border-left: 3px solid #fff;

  &:focus-within, &:hover {
    border-left: 3px solid #00afe7;
  }

  .metadata-nested:focus-within {
    border-left: 3px solid #aaa;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.metadata-role-selection {
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.metadata-tab-delete-button {
  right: 0;
}

.iframe-container {
  position: relative;
  overflow: hidden;

  background: #111;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.mat-drawer-container {
  background-color: #eee;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

.mat-expansion-panel-header.mat-expansion-toggle-indicator-before .mat-expansion-indicator {
  margin: 0 16px 3px 0 !important;
}

.mat-expanded .mat-expansion-panel-header.mat-expansion-toggle-indicator-before .mat-expansion-indicator {
  margin: 0 16px -3px 0 !important;
}

.mat-accordion .mat-expansion-panel {
  border-radius: unset !important;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 0;
}

.radio-button {
  margin: 5px;
}

.licence-icon {
  height: 30px;
}

.licence-description {
  margin-left: 33px;

  a {
    text-decoration: none;
  }
}

.mat-tab-header,
.mat-tab-nav-bar {
  border-bottom: none;
}

mat-dialog-container {
  max-height: 95vh !important;
}

app-actionbar {
  position: sticky;
}

#subnavbar,
#actionbar {
  padding: 0.4rem 0 0.2rem 0;
  z-index: 998 !important;
  overflow-x: auto;
  overflow-y: hidden;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    > * {
      padding: 0 0.4rem;
    }
  }

  button {
    font-size: 12px;
    margin: 0 0.4rem;
    border-radius: 25px;
  }
}

/* Scrollbar style */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a5b6c rgba(0, 0, 0, 0.3);
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.2rem;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4a5b6c;
    outline: 1px solid #4a5b6c;
  }
}

.entity-details {
  padding: 10px 15px 35px 15px;
  word-break: break-word;

  h1, h2 {
    color: #00afe7;
  }
}

.close-dialog-button {
  float: right;
}

#router-container {
  height: 100%;

  > * {
    flex-direction: column !important;
  }
}

app-annotate {
  height: 100%;
}

#edit-entity-dialog,
#explore-entity-dialog,
#explore-compilation-dialog {
  height: 100vh;
  width: 100vw;

  iframe {
    height: 100%;
    width: 100%;
  }
}

#explore-compilation-dialog, #explore-entity-dialog {
  padding: 0 !important;
  border-radius: 1rem !important;
  background: #111;
  overflow: hidden !important;
}

/* Grid */
.entity-entry {
  padding: 15px;
}

.entity-type {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 31px;
  background-color: #fff;
  font-size: 11px;
  padding: 6px 5px 1px 5px;
  border-top-left-radius: 5px;

  color: #00afe7;
  text-transform: capitalize;
  font-weight: normal;
  display: flex;
  justify-content: flex-end;
  vertical-align: middle !important;

  .material-icons {
    font-size: 18px;
  }

  .type-text {
    padding-top: 1px;
  }
}

/* Grid Styles */
.entity-grid {
  display: grid;
  grid-gap: 1em;
  padding-bottom: 10px;
  grid-template-columns: repeat(6, 1fr);

  @media (max-width: 1600px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 860px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }

  img {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
  }

  .grid-item {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 0.9em;
      text-decoration: none;
      z-index: 1;
      color: #333;
      background-color: #fff;
      width: 100%;
    }

    .titlewrapper {
      padding: 7px 10px 7px 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    @include mat-elevation-transition;
    @include mat-elevation(2);

    .image {
      filter: saturate(3);

      img {
        transform: scale(1.1);
        filter: drop-shadow(0px 1px 0px gray) contrast(0.8) saturate(0.33);
        transition: filter 200ms ease, transform 200ms ease;
      }

      &:hover {
        img {
          transform: scale(1.2);
          filter: drop-shadow(0px 3px 2px gray) contrast(1) saturate(0.5);
        }
      }
    }
  }

  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;

    &.single-image {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-gap: 0;
    }

    background-color: rgba(128, 128, 128, 0.2);

    anim-img {
      transform: scale(1.1) !important;
      overflow: hidden;
      width: 100%;
    }

    img {
      filter: drop-shadow(0px 1px 0px gray) saturate(1.2);
    }
  }
}

/* for touch screen devices */
@media (hover: none) {
  .entity-grid .title {
    opacity: 1;
  }
  .entity-grid .image img {
    filter: blur(2px);
  }
}

/* Action Button */
#close-explore-entity-button {
  margin-top: -15px;
  margin-right: -10px;
  margin-bottom: 10px;
  background-color: #ddd;
}

.actionbutton {
  position: absolute !important;
  top: 15px;
  left: 15px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9) !important;

  &.mat-icon-button {
    width: 27px;
    height: 27px;
    line-height: 27px;

    .material-icons {
      font-size: 16px;
    }
  }
}

#actionbar .mat-slide-toggle.mat-checked:not(.mat-disabled) {
  .mat-slide-toggle-bar {
    background-color: #aaa;
  }

  .mat-slide-toggle-thumb {
    background-color: #eee;
  }
}

// Change layout of expansion panel on profile page
#profile-page-content {
  .mat-expansion-panel-spacing {
    margin: 0;
  }
  .mat-content {
    display: block;
  }
  .mat-expansion-panel-header {
    border-top: solid 2px #00afe7 !important;
  }
}
