#uploadTable {
  width: 100%;
}

#compatibility-warning {
  text-align: center;
}

#uploadButton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  div {
    padding: 2rem;

    button {
      width: 100%;
    }
  }
}

#fileFormats {
  padding: 0 2rem;

  .file-format-line {
    display: flex;
    align-items: center;

    > * {
      padding-right: 0.5rem;
    }

    b,
    i {
      cursor: help;
    }
  }
}
