:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div.stacked {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  > * {
    grid-column: 1;
    grid-row: 1;
  }
}

mat-icon.error-icon {
  color: var(--warning-color);
}

div.upload-errors {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  padding: 8px 8px 16px 8px;
  border: 1px solid var(--warning-color);
  border-radius: 4px;
  margin-top: 12px;
  font-size: 14px;

  > div {
    display: flex;
    align-items: center;
    gap: 8px;

    h3 {
      margin: 0;
      font-size: 16px;
      font-weight: 700;
    }
  }

  p {
    color: black;
    margin: 0;
    line-height: 1;
  }

  > * {
    margin: 0;
  }
}

div.queue-item-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
  div.queue-item {
    display: grid;
    align-items: center;
    grid-template-columns: 24px 45% auto;
    gap: 16px;
  }
}
#preprocessingProgress {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
  &.visible {
    opacity: 1;
    pointer-events: initial;
  }
}

#compatibility-warning {
  text-align: center;
}

button {
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px;
  letter-spacing: normal;

  .mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
  }
}

.dropzone {
  position: relative;
  display: flex;
  padding: 24px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex: 1 0 0;

  border-radius: 4px;
  border: 1px dashed rgba(33, 33, 33, 1);
  background: rgba(245, 245, 245, 1);

  transition:
    background 0.3s ease-in-out,
    opacity 0.3s ease-in-out;

  &.dragover,
  &.drop {
    background-color: #00afe7;
    opacity: 0.2;
  }

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  label {
    display: flex;
    height: 36px;
    padding: 0px 16px;
    align-items: center;
    gap: 8px;

    border-radius: 25px;
    background: #00afe7;
  }
}

.dropzone-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#fileFormats {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .file-format-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: filter 500ms ease;
    gap: 4px;

    mat-icon {
      padding-right: 0.25rem;
    }

    > div {
      display: flex;
      align-items: center;
    }

    &.disabled {
      pointer-events: none;
      filter: opacity(0.2);
    }
  }
}

#mediaTypePreview {
  display: flex;
  align-items: center;
  justify-content: center;
  mat-icon {
    margin-left: 3rem;
    transform: scale(1.5);
  }
}

.button-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

p,
h3 {
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: 16px 0;
}

h6 {
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

::ng-deep {
  .mat-mdc-progress-bar.rounded-progress-bar {
    --mdc-linear-progress-track-height: 8px !important;
    --mdc-linear-progress-active-indicator-height: 8px !important;
    --mdc-linear-progress-track-shape: 8px !important;

    border-radius: var(--mdc-linear-progress-track-shape) !important;

    .mdc-linear-progress__bar {
      border-radius: var(--mdc-linear-progress-track-shape) !important;
      overflow: hidden !important;
    }
  }
}
