@if (!preview && !browserSupport.isWebkitDirSupported) {
  <div id="compatibility-warning">
    <h3>{{ 'Note: your browser does not support uploading directories' | translate }}</h3>
    <h3>
      {{
        'Kompakkt (and the content you want to upload) works best on the latest web technologies'
          | translate
      }}
    </h3>
    <h3>{{ 'Please consider switching to a different browser!' | translate }}</h3>
  </div>
}

@if (!preview) {
  <span
    ><b>{{ 'Upload file(s) or folder' | translate }}</b></span
  >
  <div id="uploadButton" [class.disabled]="disableFileInput()">
    @if (browserSupport.isWebkitDirSupported) {
      <div
        class="dropzone"
        (dragover)="dragEvent($event, 'add')"
        (dragleave)="dragEvent($event, 'remove')"
        (drop)="handleDragDrop($event)"
      >
        <div class="dropzone-content">
          <mat-icon>file_upload</mat-icon>
          <p>{{ 'Drag and drop file(s) or folder here' | translate }}</p>
          <p>{{ 'or' | translate }}</p>
          <div class="button-row">
            <input
              hidden
              #fileRef
              type="file"
              id="fileRef"
              multiple
              (change)="handleFileInput(fileRef)"
            />
            <button
              mat-flat-button
              color="primary"
              (click)="fileRef.click()"
              [matTooltip]="'Select one or multiple files' | translate"
            >
              <mat-icon class="material-symbols-outlined">description</mat-icon>
              {{ 'Select file(s)' | translate }}
            </button>

            <input
              hidden
              #fileInput
              type="file"
              webkitdirectory
              multiple
              (change)="handleFileInput(fileInput)"
            />
            <button
              mat-flat-button
              color="primary"
              (click)="fileInput.click()"
              [matTooltip]="'If your 3D object includes folders, choose this option' | translate"
            >
              <mat-icon class="material-symbols-outlined">folder</mat-icon>
              {{ 'Select folder' | translate }}
            </button>
          </div>
        </div>
      </div>
    }
  </div>
}

@if (preview) {
  <div id="mediaTypePreview">
    @if (uploadHandler.mediaType(); as mediaType) {
      <h4>{{ 'Mediatype:' | translate }} {{ mediaTypeTexts[mediaType] }}</h4>
      <mat-icon>{{ mediaTypeIcons[mediaType] }}</mat-icon>
    }
  </div>
}

@if (!preview) {
  <span>
    <b>{{ 'Recommended file types' | translate }} |</b> {{ 'Also supported' | translate }}:
  </span>
  <div id="fileFormats">
    <div class="file-format-line" [class.disabled]="isDetermined() && !isModel()">
      <div>
        <mat-icon>language</mat-icon>
        <span>{{ '3D objects' | translate }}</span>
      </div>
      <span> <b>.glb</b></span>
      <span>
        <p>.gltf, .obj, .stl</p>
      </span>
    </div>
    <div class="file-format-line" [class.disabled]="isDetermined() && !isSplat()">
      <div>
        <mat-icon>panorama_photosphere_select</mat-icon>
        <span [matTooltip]="'3D Gaussian Splatting' | translate">{{ '3DGS' | translate }}</span>
      </div>
      <span><b>.spz</b></span>
      <span>.splat, .ply, .spx</span>
    </div>
    <div class="file-format-line" [class.disabled]="isDetermined() && !isCloud()">
      <div>
        <mat-icon>grain</mat-icon>
        <span>{{ 'Pointcloud' | translate }}</span>
      </div>
      <span><b>.laz</b></span>
      <span>.las</span>
    </div>
    <div class="file-format-line" [class.disabled]="isDetermined() && !isImage()">
      <div>
        <mat-icon>image</mat-icon>
        <span>{{ 'Images' | translate }}</span>
      </div>
      <span>
        <b>.jpg, .png</b>
      </span>
      <span>
        <p>.tga, .gif, .bmp</p>
      </span>
    </div>
    <div class="file-format-line" [class.disabled]="isDetermined() && !isAudio()">
      <div>
        <mat-icon>audiotrack</mat-icon>
        <span>{{ 'Audio' | translate }}</span>
      </div>
      <span>
        <b>.mp3, .wav </b>
      </span>
      <span>
        <p>.ogg, .m4a</p>
      </span>
    </div>
    <div class="file-format-line" [class.disabled]="isDetermined() && !isVideo()">
      <div>
        <mat-icon>movie</mat-icon>
        <span>{{ 'Video' | translate }}</span>
      </div>
      <span>
        <b>.mp4</b>
      </span>
      <span>
        <p>.webm, .ogv</p>
      </span>
    </div>
  </div>
}

<mat-divider />

@if (queue(); as queue) {
  <span
    ><b>{{ 'Queued files' | translate }}</b></span
  >
  @if (queue.length !== 0) {
    <div class="stacked">
      @if (uploadHandler.processingProgress(); as progress) {
        <div
          id="preprocessingProgress"
          [class.visible]="progress.value >= 0 && progress.value < 100"
        >
          @if (uploadHandler.mediaType(); as mediaType) {
            @if (mediaType === 'cloud') {
              <p>Your point cloud is being calculated to an optimized octree.</p>
            } @else if (mediaType === 'model' || mediaType === 'entity') {
              <p>Your meshes are being compressed to a web-optimized format.</p>
            } @else {
              <p>Your media is being processed.</p>
            }
          }

          @if (progress.value === 0) {
            <mat-progress-bar class="rounded-progress-bar" mode="indeterminate" />
          } @else {
            <mat-progress-bar
              class="rounded-progress-bar"
              mode="determinate"
              [value]="progress.value"
            />
          }
        </div>
      }
      <div class="queue-item-list">
        @for (item of queue; track item.name) {
          <div class="queue-item">
            <div>
              @if (item.checksum) {
                <mat-icon class="material-symbols-outlined">draft</mat-icon>
              } @else {
                <mat-progress-spinner mode="indeterminate" diameter="20" />
              }
            </div>

            <div style="display: flex; flex-direction: column">
              <span [matTooltip]="(item.name | truncate: 40 : true) ? item.name : ''">{{
                item.name | truncate: 40
              }}</span>
              <small style="color: var(--small-gray)">{{ item.size | filesize }}</small>
            </div>
            <div class="stacked">
              @if (item.progress$ | async; as progress) {
                <div class="progress" style="display: flex; align-items: center; gap: 8px">
                  <mat-progress-bar
                    class="rounded-progress-bar"
                    mode="determinate"
                    [value]="progress.value"
                  />
                  <span>{{ progress.value }}%</span>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  } @else {
    <p>{{ 'No items in queue' | translate }}</p>
  }
}
