@use '../../../../easings' as easings;
@use '../common-media-container.scss' as common;

:host {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
  }

  img {
    filter: contrast(0.8) saturate(0.95);
    transition:
      filter 500ms ease-out,
      transform 500ms ease-out;
  }

  > div {
    display: grid;
    img,
    video {
      grid-row: 1;
      grid-column: 1;
    }
  }

  video {
    opacity: 0;
    transition: opacity 500ms ease-out;
    &.loaded {
      opacity: 1;
    }
  }

  &:hover img {
    transform: scale(1.05);
    filter: contrast(1) saturate(1.05);
  }

  @include common.backgroundColorVar();
}
