:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;

  div.form-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    button {
      align-self: flex-end;
    }
  }
}
