<nav id="subnavbar">
</nav>

<div class="content" id="collaborate">
    <h1>
        <span>U</span>
        <span>n</span>
        <span>d</span>
        <span>e</span>
        <span>r</span>
        <br>
        <span>K</span>
        <span>o</span>
        <span>n</span>
        <span>s</span>
        <span>t</span>
        <span>r</span>
        <span>u</span>
        <span>k</span>
        <span>k</span>
        <span>t</span>
        <span>i</span>
        <span>o</span>
        <span>n</span>
        <mat-icon class="build-icon">build</mat-icon>
    </h1>
</div>
