<div class="settings-content">
    <h1>Memberships</h1>

    <div class="settings-body">
        <p>Institutions you are part of:</p>
        <div class="memberships-table">
            <div class = "memberships-table-element">
                <h4>Name</h4>
                <p>Museum XYZ</p>
            </div>
            <div class = "memberships-table-element">
                <h4>Organisation</h4>
                <p>Museum</p>
            </div>
            <div class = "memberships-table-element">
                <h4>Admin</h4>
                <p>Lozana Rossenova</p>
            </div>
            <div class = "memberships-table-element">
                <h4>Your role</h4>
                <p>Curator</p>
            </div>
            <mat-icon style="color: var(--color-accent) !important" >close</mat-icon>
        </div>
    </div>
</div>