<div class="settings-page">

    <div class="settings-menu">
        <h3>Settings</h3>
        <mat-list>
            <mat-list-item routerLink="edit-profile" routerLinkActive="active">
                <mat-icon matListItemIcon>label_important</mat-icon>
                <p matListItemTitle>Edit profile</p>
            </mat-list-item>
            <mat-list-item routerLink="memberships" routerLinkActive="active">
                <mat-icon matListItemIcon>label_important</mat-icon>
                <p matListItemTitle>Memberships</p>
            </mat-list-item>
            <mat-list-item routerLink="create-institutional-profile" routerLinkActive="active">
                <mat-icon matListItemIcon>label_important</mat-icon>
                <p matListItemTitle style="text-wrap: wrap;">Create an institutional profile</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>
                    <svg _ngcontent-ng-c1775195688="" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor" style="color: var(--color-primary);" class="opened"><path _ngcontent-ng-c1775195688="" d="M0 0h24v24H0V0z" fill="none"></path><path _ngcontent-ng-c1775195688="" d="M4 18.99h11c.67 0 1.27-.32 1.63-.83L21 12l-4.37-6.16C16.27 5.33 15.67 5 15 5H4l5 7-5 6.99z"></path></svg>
                </mat-icon>
                <p matListItemTitle style="text-wrap: wrap;">Username and password</p>
              </mat-list-item>
          </mat-list>
    </div>

    <!-- Dynamischer Content -->
    <router-outlet></router-outlet>
</div>
    