@use '../../../../easings' as easings;

:host {
  font-size: 14px;
  text-decoration: none;
  z-index: 20;
  color: #333;
  position: relative;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  flex-shrink: 0;

  .element-name {
    font-weight: bold;
    text-align: left;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
  }

  .content-counter {
    color: lightgray;
    display: flex;
    align-items: center;
    gap: 3px;
    mat-icon {
      font-size: 25px;
    }

    span {
      font-size: 16px;
    }
  }

  &:hover:after {
    transform: scaleX(0.6);
  }

  &.private {
    background: lightgray;

    .content-counter,
    .content-counter mat-icon {
      color: #fff !important;
      fill: #fff !important;
    }
  }
}
