/* filepath: /root/Kompakkt/Repo/src/app/pages/profile-page/profile-page-header/profile-page-header.component.scss */

.profile-header {
    display: flex;
    align-items: center;
    padding: 40px; /* Add padding for spacing */
    border-bottom: 1px solid #ccc; /* Add a bottom border */
}

.profile-header-image {
    flex: 0 0 auto; /* Prevent the image from shrinking */
    margin-right: 40px; /* Add space between image and text */
}

.profile-header-image img {
    border-radius: 50%;
    width: 150px; /* Set a fixed width for the image */
    height: 150px; /* Set a fixed height for the image */
}

.profile-data {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the text vertically */
}

.profile-data h1 {
    font-size: 24px; /* Adjust font size */
    margin: 0; /* Remove margin */
    margin-bottom: 5%;
}

.profile-data p {
    display: flex;
    align-items: center;
    margin: 5px 0; /* Add vertical margin */
}

.text-icon {
    width: 1em; /* Match the font size */
    height: 1em; /* Match the font size */
    margin-right: 8px; /* Add some space between the icon and the text */
    border-radius: 50%; /* Optional: make the icon circular */
}

h1, p:hover {
    cursor: default;
}
p:hover {
    color: var(--brand-color); /* Change color on hover */
    transition: color 0.3s ease;
    
}
