<div>
  <mat-form-field>
    <mat-label>{{ 'Name' | translate }}</mat-label>
    <input
        matInput
        type="text"
        name="name"
        placeholder="{{ 'Enter a name' | translate }}"
        [formControl]="nameControl"
        />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'Value' | translate }}</mat-label>
    <input
      matInput
      type="text"
      name="value"
      placeholder="{{ 'Enter a value' | translate }}"
      [formControl]="valueControl"
      />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'Type' | translate }}</mat-label>
    <input
      matInput
      type="text"
      name="type"
      placeholder="{{ 'Enter a type' | translate }}"
      [formControl]="typeControl"
      />
  </mat-form-field>
</div>

<div class="meta-button">
  <button
    mat-flat-button
    color="primary"
    [disabled]="!isDimensionValid"
    (click)="addNewDimensionData()"
    >
    Add
  </button>
</div>

<mat-divider></mat-divider>

<app-optional-card-list [optionalData]="entity.dimensions" [propertyType]="'dimension'"></app-optional-card-list>

<!-- @for (dimension of entity.dimensions; track dimension; let index = $index) {
  <div class="card">
    <ng-container *ngFor="let key of objectKeys(dimension)">
      <p *ngIf="dimension[key]">
        <span> {{ key | titlecase }}: </span>
        <span> {{ dimension[key] }} </span>
      </p>
    </ng-container>
    <div class="actions">
      <button
        mat-icon-button
        color="warn"
        (click)="removeProperty('dimensions', index)"
        >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
} -->
